/* VENDOR - Default fall-backs and external files.
========================================================================== */
@import url(vendor/_normalize.min.css);
/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */
/* VARIABLES
========================================================================== */
/*html {
  font: 100%/1.5 "Salesforce Sans",Arial,sans-serif;
  line-height: 1.7142857143;
  color: #5876a3;
  background: #fff;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: .875rem;
  background: 0 0; }

*, :after, :before {
  box-sizing: border-box; }*/

/*@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/webfonts/SalesforceSans-Light.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Light.woff") format("woff");
  font-weight: 300; }
@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/webfonts/SalesforceSans-LightItalic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/webfonts/SalesforceSans-Regular.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Regular.woff") format("woff");
  font-weight: 400; }
@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/webfonts/SalesforceSans-Italic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/webfonts/SalesforceSans-Bold.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Bold.woff") format("woff");
  font-weight: 700; }
@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/webfonts/SalesforceSans-BoldItalic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700; }
a {
  color: #3083d3;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover, a:focus {
    color: #2469ac; }
  a:active {
    color: #1c4f81; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: 1em;
  color: #54698d; }

h1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.25; }

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.25; }

h3 {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.25; }

h4 {
  text-transform: uppercase;
  font-size: .75rem;
  line-height: 1.25;
  letter-spacing: .0625em; }

h5 {
  margin-bottom: .5rem; }

h6 {
  font-size: .75rem;
  margin-bottom: .5rem; }*/

.ma-section-title {
  font-size: .75rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: .0625em;
  color: #54698d;
  padding: .75rem 1rem;
  background: #e0e5ee; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.pad-0-32 {
  padding: 0 2rem; }

.pad-32 {
  padding: 2rem; }

.pad-32-0-64 {
  padding: 2rem 0 4rem; }

.pad-32-32-64 {
  padding: 2rem 2rem 4rem; }

.pull-left, .float-left {
  float: left; }

.pull-right, .float-right {
  float: right; }

.background--white {
  background-color: #ffffff; }

.background--light-blue {
  background-color: #4194e4;
  color: #ffffff; }

.background--blue {
  background-color: #3083d3;
  color: #ffffff; }

.background--dark-blue {
  background-color: #16325c;
  color: #ffffff; }

.background--light-gray {
  background-color: #f4f6f9; }

.background--gray {
  background-color: #e0e5ee; }

.background--medium-gray {
  background-color: #a7b8d1;
  color: #ffffff; }

.background--dark-gray {
  background-color: #333538;
  color: #ffffff; }

.background--black {
  background-color: #000205;
  color: #ffffff; }

.background--red {
  background-color: #d4504c;
  color: #ffffff; }

.background--green {
  background-color: #4bca81;
  color: #ffffff; }

.background--yellow {
  background-color: #F7B64B;
  color: #16325c; }

.background--orange {
  background-color: #e3924a;
  color: #16325c; }

.img-profile-circle {
  border-radius: 10000px; }

/* FRAMEWORK - Structure and layout files.
========================================================================== */
/* MODULES - Re-usable site elements.
========================================================================== */
/*button {
  cursor: pointer;
  text-transform: none;
  color: inherit;
  font: inherit;
  margin: 0; }*/

.ma-button {
  cursor: pointer;
  text-transform: none;
  color: inherit;
  font: inherit;
  margin: 0;
  position: relative;
  display: inline-block;
  padding: 0;
  background: 0 0;
  background-clip: padding-box;
  color: #3083d3;
  font-size: inherit;
  line-height: 2.125rem;
  border: 0;
  border-radius: 0.25rem;
  text-decoration: none;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 50ms linear,background-color 50ms linear;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent; }

.ma-button:focus, .ma-button:hover {
  color: #2072c2;
  outline: 0 !Important; }

.ma-button[disabled], .ma-button.disabled {
  pointer-events: none;
  opacity: 0.5; }

.slds-button[disabled] {
  color: #d8dde6; }

.ma-button:active {
  color: #1061b1;
  outline: 0 !Important; }

.ma-button--white {
  background-color: #ffffff;
  color: #3083d3;
  border: 1px solid #d8dde6; }

.ma-button--white:focus, .ma-button--white:hover {
  background-color: #f4f6f9; }

.ma-button--white:active {
  background-color: #e0e5ee; }

.ma-button.ma-button--blue {
  background-color: #3083d3;
  border-color: #3083d3;
  color: #ffffff; }
  .ma-button.ma-button--blue:hover, .ma-button.ma-button--blue:focus {
    background-color: #2469ac;
    border-color: #2469ac; }
  .ma-button.ma-button--blue:active {
    background-color: #1c4f81;
    border-color: #1c4f81; }

.ma-button.ma-button--green {
  background-color: #4bca81;
  border-color: #4bca81;
  color: #ffffff; }
  .ma-button.ma-button--green:hover, .ma-button.ma-button--green:focus {
    background-color: #33af68;
    border-color: #33af68; }
  .ma-button.ma-button--green:active {
    background-color: #288750;
    border-color: #288750; }

.ma-button.ma-button--red {
  background-color: #d4504c;
  border-color: #d4504c;
  color: #ffffff; }
  .ma-button.ma-button--red:hover, .ma-button.ma-button--red:focus {
    background-color: #bf322e;
    border-color: #bf322e; }
  .ma-button.ma-button--red:active {
    background-color: #962724;
    border-color: #962724; }

.ma-button.ma-button--blue {
  background-color: #3083d3;
  border-color: #3083d3;
  color: #ffffff; }
  .ma-button.ma-button--blue:hover, .ma-button.ma-button--blue:focus {
    background-color: #2469ac;
    border-color: #2469ac; }
  .ma-button.ma-button--blue:active {
    background-color: #1c4f81;
    border-color: #1c4f81; }

.ma-button.ma-button--yellow {
  background-color: #F7B64B;
  border-color: #F7B64B;
  color: #16325c; }
  .ma-button.ma-button--yellow:hover, .ma-button.ma-button--yellow:focus {
    background-color: #f5a21a;
    border-color: #f5a21a; }
  .ma-button.ma-button--yellow:active {
    background-color: #d38709;
    border-color: #d38709; }

.ma-button.icon-left .ma-icon {
  width: .75rem;
  height: .75rem;
  margin-right: .5rem; }

.ma-button.icon-right .ma-icon {
  width: .75rem;
  height: .75rem;
  margin-left: .5rem; }

.ma-button.button-pad-light {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.ma-button.compact {
  padding-left: 0;
  padding-right: 0; }

.ma-input {
  -webkit-appearance: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: #fff;
  border: 1px solid #d8dde6;
  background-color: #ffffff;
  color: #16325c;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  width: 100%;
  transition: border .1s linear,background-color .1s linear;
  display: inline-block;
  padding: 0 1rem 0 .75rem;
  line-height: 2.125rem;
  min-height: calc(2.125rem + 2px); }

textarea.ma-input {
  padding: .5rem .75rem; }

.ma-input:focus {
  border-color: #1589EE;
  outline: 0;
  -webkit-outline: 0; }

.ma-input-label {
  display: inline-block;
  color: #54698d;
  font-size: .75rem;
  line-height: 1.5;
  margin-right: .75rem;
  margin-bottom: .25rem; }

.ma-icon {
  margin: 0;
  padding: 0;
  max-width: .75rem; }

.ma-form-control-wrap {
  margin-top: 16px; }

.ma-form-control {
  position: relative; }

.ma-form-control.icon-left .ma-input {
  padding-left: 2.5rem; }

.ma-form-control.icon-left .ma-icon.icon-left {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  pointer-events: none; }

.ma-form-control.icon-right .ma-icon.icon-right {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  pointer-events: none; }

.ma-form-control.icon-right .ma-input {
  padding-right: 2.5rem; }

.ma-checkbox {
  display: inline-block;
  cursor: pointer; }

.ma-checkbox-label {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  height: 22px;
  line-height: 25px;
  display: inline;
  vertical-align: middle;
  font-size: .875rem;
  cursor: pointer; }

.ma-checkbox-faux {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #d8dde6;
  border-radius: .125rem;
  background: #fff;
  transition: border .1s linear,background-color .1s linear;
  margin-right: .5rem;
  cursor: pointer; }

.ma-checkbox [type="checkbox"]:checked ~ .ma-checkbox-faux {
  border: 1px solid #4194e4;
  background-color: #4194e4; }

.ma-checkbox [type="checkbox"]:checked ~ .ma-checkbox-faux:after {
  display: block;
  content: '';
  height: .25rem;
  width: .5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff; }

.ma-checkbox [type="checkbox"] {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.required {
  color: #c23934;
  padding-left: 2px;
  font-weight: 700; }

.ma-input::-webkit-input-placeholder {
  color: #54698d;
  font-weight: 400; }

.ma-input:-moz-placeholder {
  /* Firefox 18- */
  color: #54698d;
  font-weight: 400; }

.ma-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #54698d;
  font-weight: 400; }

.ma-input:-ms-input-placeholder {
  color: #54698d;
  font-weight: 400; }

.ma-list {
  margin: 0;
  border-top: 1px solid #d8dde6; }

.ma-list-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: .75rem .5rem;
  background-color: #ffffff;
  border-bottom: 2px solid #d8dde6; }

.ma-list-header .ma-list-item-name {
  font-weight: 700; }

.ma-list-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: .5rem;
  background-color: #ffffff; }

.ma-list-item:hover {
  background-color: #f4f6f9;
  border-color: #d8dde6;
  cursor: pointer; }

.ma-list-item:active {
  background-color: #e0e5ee;
  box-shadow: #d8dde6 0 -1px 0 inset; }

.ma-list.ma-list-border .ma-list-item {
  border-bottom: 1px solid #d8dde6; }

.ma-list-item-name {
  color: #16325c;
  font-size: 1rem;
  line-height: 1.25rem; }

.ma-list-item-subtext {
  color: #54698d;
  font-size: .75rem; }

.ma-list-item .float-right, .ma-list-item .pull-right, .ma-list-header .float-right, .ma-list-header .pull-right {
  float: none;
  margin-left: auto; }

.ma-list-icon {
  width: 2rem;
  height: 2rem;
  border-radius: .25rem; }

.ma-list-icon-left {
  margin-right: .75rem;
  -webkit-align-self: flex-start;
  align-self: flex-start; }

.ma-list-icon img {
  max-width: 100%;
  max-height: 100%; }

.ma-list-icon-left .img-profile-circle {
  width: 45px;
  height: 45px; }

.ma-list-item-meta {
  margin-left: auto;
  font-size: .75rem;
  color: #54698d;
  padding-left: 1rem; }

/* Cards */
.ma-card {
  background-color: #ffffff;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem; }

.ma-card-body {
  padding: .5rem .75rem .75rem; }

.ma-card .ma-list-item {
  padding: 0 0 .5rem 0;
  border-bottom: 0;
  cursor: default; }

.ma-card .ma-list-item:active, .ma-card .ma-list-item:focus, .ma-card .ma-list-item:hover {
  background-color: transparent;
  box-shadow: none; }

.ma-card p {
  margin: 0 0 .5rem;
  line-height: 1.25rem; }

.ma-badge {
  background-color: #e0e5ee;
  padding: .25rem .5rem;
  border-radius: 15rem;
  font-size: .625rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: .0625em;
  color: #16325c;
  vertical-align: middle;
  white-space: nowrap; }

.overlay-mask {
  position: fixed;
  height: 100%;
  top: 0;
  max-height: 0;
  width: 100%;
  background-color: rgba(126, 140, 153, 0.8);
  opacity: 0;
  z-index: 900;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.31s, opacity 0.2s linear 0s, max-height 0s linear 0.31s;
  -moz-transition: visibility 0s linear 0.31s, opacity 0.2s linear 0s, max-height 0s linear 0.31s;
  -ms-transition: visibility 0s linear 0.31s, opacity 0.2s linear 0s, max-height 0s linear 0.31s;
  -o-transition: visibility 0s linear 0.31s, opacity 0.2s linear 0s, max-height 0s linear 0.31s;
  transition: visibility 0s linear 0.31s, opacity 0.2s linear 0s, max-height 0s linear 0.31s;
  left: 0; }

.overlay-mask.ma-in {
  opacity: 1;
  max-height: 100%;
  visibility: visible;
  -webkit-transition: opacity 0.2s linear 0.01s, visibility 0s linear 0s;
  -moz-transition: opacity 0.2s linear 0.01s, visibility 0s linear 0s;
  -ms-transition: opacity 0.2s linear 0.01s, visibility 0s linear 0s;
  -o-transition: opacity 0.2s linear 0.01s, visibility 0s linear 0s;
  transition: opacity 0.2s linear 0.01s, visibility 0s linear 0s; }

.ma-modal-container {
  position: relative;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: transform 0.1s linear, opacity 0.1s linear;
  -moz-transition: transform 0.1s linear, opacity 0.1s linear;
  -ms-transition: transform 0.1s linear, opacity 0.1s linear;
  -o-transition: transform 0.1s linear, opacity 0.1s linear;
  transition: transform 0.1s linear, opacity 0.1s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem 0;
  border-radius: 0.25rem;
  width: 50%;
  max-width: 320px;
  min-width: 250px;
  height: 100%; }

.ma-modal-header {
  position: relative;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom: 2px solid #d8dde6;
  padding: 24px 16px;
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
  z-index: 3;
  background: #fff; }

.ma-modal-footer {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
  z-index: 9;
  border-top: 2px solid #d8dde6;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.75rem 1rem;
  background-color: #f4f6f9;
  text-align: right; }

.ma-modal-header.ma-modal-search {
  padding-bottom: .75rem; }

.ma-modal-close {
  position: absolute;
  top: -3rem;
  right: -0.5rem;
  width: 3rem;
  height: 3rem; }

.ma-modal-close img {
  max-width: 24px;
  margin: 0;
  float: none; }

.ma-modal-content {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
  z-index: 5;
  padding: 1rem 0;
  overflow: hidden;
  max-height: 600px;
  overflow-y: auto;
  background: #ffffff; }

.ma-modal--small .ma-modal-content {
  max-height: 300px; }

.ma-modal--large .ma-modal-content {
  max-height: 1000px; }

.ma-modal-content.compact {
  padding: 0; }

.ma-modal {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 0.1s linear, opacity 0.1s linear;
  -moz-transition: transform 0.1s linear, opacity 0.1s linear;
  -ms-transition: transform 0.1s linear, opacity 0.1s linear;
  -o-transition: transform 0.1s linear, opacity 0.1s linear;
  transition: transform 0.1s linear, opacity 0.1s linear;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001; }

.ma-modal.ma-in {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }

.ma-modal-no-footer .ma-modal-content {
  border-radius: 0 0 .25rem .25rem; }

.ma-modal-item {
  padding: .5rem 1rem;
  color: #16325c;
  cursor: pointer; }

.ma-modal-item:hover {
  background-color: #f4f6f9;
  cursor: pointer; }

.ma-modal-item:active {
  background-color: #e0e5ee; }

.ma-modal-content .ma-checkbox-wrap {
  margin-top: 0; }

.ma-modal-header h2 {
  margin-top: 0; }

body.modal-in {
  overflow-y: hidden; }

.ma-modal--large .ma-modal-container {
  width: 100%;
  max-width: 1500px;
  padding-left: 3rem;
  padding-right: 3rem; }

.ma-modal--large .ma-modal-header h2 {
  margin: 0;
  text-align: left; }

.ma-modal--large .ma-modal-header {
  padding: 1rem; }

.ma-tab-link-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #d8dde6; }

.ma-tab-link {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .0625em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 2px solid transparent;
  padding: 0 .5rem;
  color: #54698d; }

.ma-tab-link:focus, .ma-tab-link:hover {
  text-decoration: none;
  border-color: #3083d3;
  color: #16325c; }

.ma-tab-link.active {
  box-shadow: 0 -1px 0 0 #3083d3 inset;
  border-color: #3083d3;
  color: #3083d3; }

.ma-tab-content {
  display: none; }

.ma-tab-content.active {
  display: block; }

.ma-tab-link-group-scoped {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f4f6f9;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem 0.25rem 0 0; }

.ma-tab-link-group-scoped .ma-tab-link {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  color: #54698d;
  background-clip: padding-box;
  border-bottom: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent; }

.ma-tab-link-group-scoped .ma-tab-link:first-child {
  border-left: 0;
  border-radius: 0.25rem 0 0 0; }

.ma-tab-content-group-scoped .ma-tab-content {
  background-color: #fff;
  border: 1px solid #d8dde6;
  border-top: 0;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 1rem; }

.ma-tab-link-group-scoped .ma-tab-link + .ma-tab-link {
  margin-left: -1px; }

.ma-tab-link-group-scoped .ma-tab-link.active {
  background-color: #ffffff;
  color: #3083d3;
  border-bottom: 0;
  box-shadow: 0 1px 0 0 #ffffff;
  border-color: #d8dde6; }

.ma-tab-link-group-scoped .ma-tab-link:focus, .ma-tab-link-group-scoped .ma-tab-link:hover {
  text-decoration: none;
  color: #005fb2;
  border-color: #d8dde6; }

.ma-tab-vertical-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.ma-tab-vertical-wrap .ma-tab-link-group {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-right: 1px solid #d8dde6;
  border-bottom: 0; }

.ma-tab-vertical-wrap .ma-tab-content-group {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.ma-tab-vertical-wrap .ma-tab-link {
  border-right: 2px solid transparent;
  width: 100%;
  border-bottom: 0;
  padding-right: 2rem;
  padding-left: 1rem; }

.ma-tab-vertical-wrap .ma-tab-link:hover {
  box-shadow: -1px 0 0 0 #3083d3 inset;
  border-color: #3083d3; }

.ma-tab-vertical-wrap .ma-tab-link.active {
  box-shadow: -2px 0 0 0 #3083d3 inset;
  border-color: #3083d3; }

.ma-tab-vertical-scoped-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.ma-tab-vertical-scoped-wrap .ma-tab-link-group-scoped {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-radius: 0.25rem 0 0 0.25rem; }

.ma-tab-vertical-scoped-wrap .ma-tab-link-group-scoped .ma-tab-link {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

.ma-tab-vertical-scoped-wrap .ma-tab-link-group-scoped .ma-tab-link:hover {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #d8dde6;
  border-bottom: 1px solid #d8dde6; }

.ma-tab-vertical-scoped-wrap .ma-tab-link-group-scoped .ma-tab-link.active {
  border: 1px solid #d8dde6;
  border-left: 0;
  border-right: 0;
  box-shadow: 1px 0 0 0 #fff; }

.ma-tab-vertical-scoped-wrap .ma-tab-link-group-scoped .ma-tab-link + .ma-tab-link {
  margin-left: 0;
  margin-top: -1px; }

.ma-tab-vertical-scoped-wrap .ma-tab-link-group-scoped .ma-tab-link:first-child {
  border-radius: 0.25rem 0 0 0;
  border-right: 0;
  border-top: 1px solid transparent; }

.ma-tab-vertical-scoped-wrap .ma-tab-link-group-scoped .ma-tab-link:last-child {
  border-radius: 0 0 0 0.25rem;
  border-bottom: 1px solid transparent; }

.ma-tab-vertical-scoped-wrap .ma-tab-content-group-scoped {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.ma-tab-vertical-scoped-wrap .ma-tab-content-group-scoped .ma-tab-content {
  border: 0;
  border-radius: 0 0.25rem 0.25rem 0; }

.ma-tab-vertical-scoped-wrap .ma-tab-content-group-scoped {
  border: 1px solid #d8dde6;
  border-left: 0;
  border-radius: 0 0.25rem 0.25rem 0; }

.ma-modal .ma-tab-link-group {
  background-color: #f4f6f9;
  -webkit-box-flex: 0 165px;
  -moz-box-flex: 0 165px;
  -webkit-flex: 0 165px;
  -ms-flex: 0 165px;
  flex: 0 165px; }

.ma-modal .ma-tab-vertical-wrap .ma-tab-link:hover {
  background-color: #e0e5ee; }

.ma-modal .ma-tab-vertical-wrap .ma-tab-link.active {
  background-color: #4194e4;
  color: #ffffff; }

.ma-modal .ma-tab-vertical-wrap .ma-tab-link:first-child {
  margin-top: 1rem; }

.ma-modal .ma-tab-vertical-wrap .ma-tab-link:last-child {
  margin-bottom: 1rem; }

.ma-modal--large .ma-tab-vertical-wrap .ma-tab-content-group {
  max-height: 800px;
  overflow-y: auto; }


.menu_opener {
  display: none;
}

.menu_opener:checked ~ {
  .legend-open {
    top: 45px;
    height: auto;
  }
  .legend-open p {
    display: block;
  }
  .menu_opener_label:after {
     transform:rotate(90deg); 
  }
  .menu_opener_label:before {
     transform:rotate(-90deg);
  }
}

.menu_opener_label {
  background-color:#fff;
  border: 1px solid #d8dde6;
  width: 300px;
  height: auto;
  display: block;
  cursor: pointer;
  position: absolute;
  padding: 5px 15px;
  top: 20px;
  left: 0px;
  z-index: 10;
}

.menu_opener_label:after {
    position: absolute;
    top: 6px;
    left: 5px;
    content: "";
    -webkit-transition: all .4s ease ;
    transition: all .4s ease ;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 8px solid #000;
}

.legend-open {
  width: 300px;
  height: 0px;
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  -webkit-transition: all .4s ease ;
  transition: all .4s ease;
  background-color:#fff;
  border: 1px solid #d8dde6;
  padding: 5px 15px;
  
}

.legend-open p {
  display: none;
}s

/*# sourceMappingURL=ma2-style.css.map */
