<template>
  <div class="slds-page-header slds-page-header_record-home">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-order">
              <lightning-icon
                icon-name="custom:custom44"
                alternative-text="Service Request"
              ></lightning-icon>
            </span>
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span>Service Request</span>
                  <span class="slds-page-header__title slds-truncate"
                    >{orderNumber}</span
                  >
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slds-page-header__col-actions">
        <div class="slds-page-header__controls">
          <div class="slds-page-header__control">
            <lightning-button-group>
              <lightning-button
                label="Edit"
                title="Edit"
                onclick={handleEditClick}
              ></lightning-button>
              <template if:true={showCancelRequestButton}>
                <lightning-button
                  label="Cancel Request"
                  title="Cancel Request"
                  onclick={handleCancelOrderClick}
                ></lightning-button>
              </template>
              <template if:true={showRejectRequestButton}>
                <lightning-button
                  label="Reject Request"
                  title="Reject Request"
                  onclick={handleRejectOrderClick}
                ></lightning-button>
              </template>
              <lightning-button
                label="New Reimbursement"
                title="New Reimbursement"
                onclick={handleReimbursementClick}
              ></lightning-button>
              <!--
                            <lightning-button label="New Parts Reimbursement" title="New Parts Reimbursement" onclick={handleNewPartsReimbursementClick}></lightning-button>
-->
              <lightning-button
                label="Update Service Type"
                title="Update Service Type"
                onclick={handleUpdateServiceTypeClick}
              ></lightning-button>
              <lightning-button-menu
                title="Show More"
                alternative-text="Show More"
                menu-alignment="auto"
                variant="border-filled"
              >
                <template if:true={sourceIsCommunity}>
                  <lightning-menu-item
                    label="Print Service Invoice"
                    title="Print Service Invoice"
                    onclick={handlePrintAROServiceInvoiceClick}
                  ></lightning-menu-item>
                  <lightning-menu-item
                    label="Print Service Quote"
                    title="Print Service Quote"
                    onclick={handlePrintAROServiceQuoteClick}
                  ></lightning-menu-item>
                  <lightning-menu-item
                    label="Print Service WO/HSR Form"
                    title="Print Service WO/HSR Form"
                    onclick={handlePrintAROServiceWOClick}
                  ></lightning-menu-item>
                  <lightning-menu-item
                    label="Print Install WO/HSR Form"
                    title="Print Install WO/HSR Form"
                    onclick={handlePrintAROInstallWOClick}
                  ></lightning-menu-item>
                </template>
                <template if:false={sourceIsCommunity}>
                  <lightning-menu-item
                    label="Print Service Invoice"
                    title="Print Service Invoice"
                    onclick={handlePrintServiceInvoiceClick}
                  ></lightning-menu-item>
                  <lightning-menu-item
                    label="Print Service Quote"
                    title="Print Service Quote"
                    onclick={handlePrintServiceQuoteClick}
                  ></lightning-menu-item>
                  <lightning-menu-item
                    label="Print Service WO/HSR Form"
                    title="Print Service WO/HSR Form"
                    onclick={handlePrintServiceWOClick}
                  ></lightning-menu-item>
                  <lightning-menu-item
                    label="Print Install WO/HSR Form"
                    title="Print Install WO/HSR Form"
                    onclick={handlePrintInstallWOClick}
                  ></lightning-menu-item>
                </template>
              </lightning-button-menu>
            </lightning-button-group>
          </div>
        </div>
      </div>
    </div>

    <lightning-record-view-form record-id={recordId} object-api-name="Order">
      <div class="slds-page-header__detail-row">
        <div class="slds-page-header__detail-block">
          <lightning-output-field
            field-name="Service_Type__c"
            variant="comfy"
          ></lightning-output-field>
        </div>
        <div class="slds-page-header__detail-block">
          <lightning-output-field
            field-name="Status"
            variant="comfy"
          ></lightning-output-field>
        </div>
        <div class="slds-page-header__detail-block">
          <label for="billToContactField" class="slds-form-element__label"
            >Bill To Contact</label
          >
          <lightning-output-field
            id="billToContactField"
            field-name="BillToContactId"
            variant="label-hidden"
          ></lightning-output-field>
        </div>
        <div class="slds-page-header__detail-block">
          <lightning-output-field
            field-name="Balance_Due__c"
            variant="comfy"
          ></lightning-output-field>
        </div>
        <div class="slds-page-header__detail-block">
          <lightning-output-field
            field-name="Reimbursement_Total__c"
            variant="comfy"
          ></lightning-output-field>
        </div>
      </div>
    </lightning-record-view-form>

    <template if:true={showSpinner}>
      <div class="spinnerStyle">
        <lightning-spinner
          alternative-text="Saving"
          size="large"
        ></lightning-spinner>
      </div>
    </template>
  </div>

  <!-- modal start -->
  <template if:true={showModal}>
    <div
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div class="slds-modal__container">
        <!-- modal header start -->
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={handleCancelModelClick}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            >
            </lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading-01"
            class="slds-text-heading_medium slds-hyphenate"
          >
            Update Service Type
          </h2>
        </header>

        <!-- modal body start -->
        <div
          class="slds-modal__content slds-var-p-around_medium"
          id="modal-content-id-1"
        >
          <div class="slds-grid">
            <div class="slds-col slds-size_1-of-1">
              <div
                class="slds-var-m-left_xx-small slds-var-m-right_xx-small slds-var-m-bottom_x-small"
              >
                <lightning-combobox
                  name="serviceType"
                  label="Service Type"
                  value={serviceType}
                  options={serviceTypeOptionList}
                  onchange={handleServiceTypeChange}
                  required
                >
                </lightning-combobox>
              </div>
              <lightning-record-edit-form object-api-name="Order">
                <lightning-input-field
                  field-name="Service_Type__c"
                  value={serviceType}
                  onchange={handleServiceTypeChange}
                  class="slds-hide"
                >
                </lightning-input-field>
                <template if:true={orderRequired}>
                  <lightning-input-field
                    field-name="Sold_Order__c"
                    value={soldOrder}
                    onchange={handleSoldOrderChange}
                    required
                  >
                  </lightning-input-field>
                </template>
                <template if:true={saveReasonRequired}>
                  <lightning-input-field
                    field-name="Save_Reason__c"
                    value={saveReason}
                    onchange={handleSaveReasonChange}
                    required
                  >
                  </lightning-input-field>
                  <lightning-input-field
                    field-name="Secondary_Save_Reason__c"
                    value={secondarySaveReason}
                    onchange={handleSecondarySaveReasonChange}
                    required
                  >
                  </lightning-input-field>
                </template>
              </lightning-record-edit-form>
            </div>
          </div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

        <!-- modal footer start-->
        <footer class="slds-modal__footer">
          <lightning-button
            label="Cancel"
            title="Cancel"
            variant="neutral"
            onclick={handleCancelModelClick}
          >
          </lightning-button>
          <template if:true={disableModalSave}>
            <lightning-button
              label="Save"
              title="Save"
              variant="brand"
              onclick={handleSaveServiceTypeClick}
              disabled
            >
            </lightning-button>
          </template>
          <template if:false={disableModalSave}>
            <lightning-button
              label="Save"
              title="Save"
              variant="brand"
              onclick={handleSaveServiceTypeClick}
            >
            </lightning-button>
          </template>
        </footer>
      </div>

      <template if:true={showModalSpinner}>
        <div class="spinnerStyle">
          <lightning-spinner
            alternative-text="Saving"
            size="large"
          ></lightning-spinner>
        </div>
      </template>
    </div>

    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!-- modal end -->

  <!-- Reimbursement modal start -->
  <template if:true={showReimburementModal}>
    <div
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div
        class="slds-modal__container"
        style="width: 80%; max-width: 80rem; height: 80%; max-height: 80%"
      >
        <!-- modal header start -->
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={handleReimburementCancelModelClick}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            >
            </lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading-02"
            class="slds-text-heading_medium slds-hyphenate"
          >
            New Service Reimbursement
          </h2>
        </header>
        <div
          class="slds-modal__content slds-var-p-around_medium slds-is-relative"
          id="modal-content-id-2"
        >
          <template if:true={showModalSpinner}>
            <div class="spinnerStyle">
              <lightning-spinner
                alternative-text="Saving"
                size="large"
              ></lightning-spinner>
            </div>
          </template>
          <lightning-progress-indicator
            type="path"
            current-step={currentStep}
            variant="shaded"
          >
            <template for:each={steps} for:item="step">
              <lightning-progress-step
                label={step.label}
                value={step.value}
                key={step.label}
              ></lightning-progress-step>
            </template>
          </lightning-progress-indicator>
          <template if:true={showEligibleProducts}>
            <div class="slds-var-m-around_small">
              <table>
                <tr>
                  <td>
                    <lightning-icon
                      icon-name="utility:info"
                      alternative-text="event"
                      size="small"
                    >
                    </lightning-icon>
                  </td>
                  <td>
                    <span>
                      The following products are eligible for reimbursement. To
                      qualify for reimbursement, the following conditions must
                      be met:
                      <br />
                      <b>Responsibility = Manufacturing</b>
                      <br />
                      <b>Source of Defect = Renewal by Andersen</b>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="slds-var-m-around_small">
              <div
                class="slds-page-header slds-page-header_object-home slds-text-heading_small"
              >
                Eligible Service Products
              </div>
            </div>
            <table class="slds-table slds-table_bordered slds-table_striped">
              <thead>
                <tr class="slds-line-height_reset">
                  <th scope="col">
                    <div class="slds-truncate" title=""></div>
                  </th>
                  <th scope="col">
                    <div class="slds-truncate" title="Installed Products">
                      Installed Products
                    </div>
                  </th>
                  <th scope="col">
                    <div class="slds-truncate" title="Component">Component</div>
                  </th>
                  <th>
                    <div class="slds-truncate" title="Source Of Defect">
                      Source Of Defect
                    </div>
                  </th>
                  <th>
                    <div class="slds-truncate" title="Responsibilty">
                      Responsibilty
                    </div>
                  </th>
                  <th>
                    <div class="slds-truncate" title="Variant Number">
                      Variant Number
                    </div>
                  </th>
                  <th>
                    <div class="slds-truncate" title="Install Date">
                      Install Date
                    </div>
                  </th>
                  <th>
                    <div class="slds-truncate" title="Install Date"></div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <template for:each={charges} for:item="charge">
                  <tr key={charge.chargeId} class="slds-hint-parent">
                    <td>
                      <lightning-button-icon
                        icon-name={charge.iconPath}
                        alternative-text="add"
                        size="small"
                        onclick={selectedChargeClick}
                        value={charge.chargeId}
                        variant={charge.variant}
                        disabled={isFieldsReadOnly}
                      >
                      </lightning-button-icon>
                    </td>
                    <td style="width: 40%">
                      <div class="slds-grid slds-has-flexi-truncate">
                        <p
                          style="
                            max-width: 250px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                          "
                          title={charge.productName}
                        >
                          {charge.productName}
                        </p>
                      </div>
                    </td>
                    <td>{charge.component}</td>
                    <td>{charge.category}</td>
                    <td>{charge.chargeCostTo}</td>
                    <td>{charge.variantNumber}</td>
                    <td>{charge.installDate}</td>
                    <td if:true={charge.isReimbursementCompleted}>
                      <lightning-button-icon
                        disabled={isFieldsReadOnly}
                        icon-name="action:delete"
                        size="small"
                        onclick={deleteRecordsClick}
                        value={charge.orderProductId}
                        variant="brand"
                      >
                      </lightning-button-icon>
                    </td>
                    <td if:false={charge.isReimbursementCompleted}>
                      <lightning-button-icon
                        disabled
                        icon-name="action:delete"
                        size="small"
                        onclick={deleteRecordsClick}
                        value={charge.orderProductId}
                        variant="brand"
                      >
                      </lightning-button-icon>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </template>
          <template if:true={showAddSymptomSection}>
            <div class="slds-var-m-around_small">
              <div class="slds-page-header slds-text-heading_small">
                <b> Add Service Symptoms</b>
              </div>
              <template for:each={serviceSymptoms} for:item="serviceSymptom">
                <div
                  key={serviceSymptom.orderProductId}
                  class="slds-box slds-theme_shade slds-var-m-around_small"
                >
                  <div
                    class="slds-text-heading_small"
                    key={serviceSymptom.orderProductId}
                  >
                    <b>{serviceSymptom.productName}</b>
                  </div>
                  <table
                    class="slds-table slds-table_bordered slds-table_striped"
                    key={serviceSymptom.orderProductId}
                  >
                    <thead>
                      <tr class="slds-line-height_reset">
                        <th scope="col">
                          <div class="slds-truncate" title="Variant">
                            Variant
                          </div>
                        </th>
                        <th scope="col">
                          <div class="slds-truncate" title="Component">
                            Component
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        key={serviceSymptom.orderProductId}
                        class="slds-hint-parent"
                      >
                        <td style="width: 15%">
                          {serviceSymptom.variantNumber}
                        </td>
                        <td style="width: 85%">
                          <div class="slds-grid slds-has-flexi-truncate">
                            <p
                              style="
                                max-width: 80%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                              "
                              title={serviceSymptom.component}
                            >
                              {serviceSymptom.component}
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div
                    class="slds-grid slds-gutters"
                    key={serviceSymptom.orderProductId}
                  >
                    <div class="slds-col">
                      <lightning-combobox
                        name={serviceSymptom.orderProductId}
                        label="Service Symptom"
                        placeholder="Select an Option"
                        options={serviceSymptomOptions}
                        value={serviceSymptom.selectedSymptom}
                        onchange={setServiceSymptom}
                        required
                        class="requiredField"
                        disabled={isFieldsReadOnly}
                      >
                      </lightning-combobox>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </template>
          <template if:true={showAddProblemSection}>
            <div class="slds-var-m-around_small">
              <div class="slds-page-header slds-text-heading_small">
                <b>Add Problem Components</b>
              </div>
              <template for:each={problems} for:item="serviceSymptom">
                <div
                  key={serviceSymptom.orderProductId}
                  class="slds-box slds-theme_shade slds-var-m-around_small"
                >
                  <div
                    class="slds-text-heading_small"
                    key={serviceSymptom.orderProductId}
                  >
                    <b> {serviceSymptom.productName}</b>
                  </div>
                  <table
                    class="slds-table slds-table_bordered slds-table_striped"
                    key={serviceSymptom.orderProductId}
                  >
                    <thead>
                      <tr class="slds-line-height_reset">
                        <th scope="col">
                          <div class="slds-truncate" title="Variant">
                            Variant
                          </div>
                        </th>
                        <th scope="col">
                          <div class="slds-truncate" title="Component">
                            Component
                          </div>
                        </th>
                        <th scope="col">
                          <div class="slds-truncate" title="Symptom">
                            Symptom
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        key={serviceSymptom.orderProductId}
                        class="slds-hint-parent"
                      >
                        <td style="width: 15%">
                          {serviceSymptom.variantNumber}
                        </td>
                        <td style="width: 25%">
                          <div class="slds-grid slds-has-flexi-truncate">
                            <p
                              style="
                                max-width: 80%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                              "
                              title={serviceSymptom.component}
                            >
                              {serviceSymptom.component}
                            </p>
                          </div>
                        </td>
                        <td style="width: 60%">
                          <div class="slds-grid slds-has-flexi-truncate">
                            <p
                              style="
                                max-width: 80%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                              "
                              title={serviceSymptom.selectedSymptomName}
                            >
                              {serviceSymptom.selectedSymptomName}
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div
                    class="slds-grid slds-gutters"
                    key={serviceSymptom.orderProductId}
                  >
                    <div class="slds-col">
                      <lightning-combobox
                        name={serviceSymptom.orderProductId}
                        label="Problem Component"
                        placeholder="Select an Option"
                        options={serviceSymptom.problems}
                        value={serviceSymptom.problemComponent}
                        onchange={setProblemComponent}
                        required
                        class="requiredField"
                        disabled={isFieldsReadOnly}
                      >
                      </lightning-combobox>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </template>
          <template if:true={showProcedureSection}>
            <div class="slds-var-m-around_small">
              <div class="slds-page-header slds-text-heading_small">
                <b> Add Procedure Codes </b>
              </div>
              <template for:each={procedures} for:item="serviceSymptom">
                <div
                  key={serviceSymptom.orderProductId}
                  class="slds-box slds-theme_shade slds-var-m-around_small"
                >
                  <div
                    class="slds-text-heading_small"
                    key={serviceSymptom.orderProductId}
                  >
                    <b>{serviceSymptom.productName} </b>
                  </div>
                  <table
                    class="slds-table slds-table_bordered slds-table_striped"
                    key={serviceSymptom.orderProductId}
                  >
                    <thead>
                      <tr class="slds-line-height_reset">
                        <th scope="col" style="width: 15%">
                          <div class="slds-truncate" title="Variant">
                            Variant
                          </div>
                        </th>
                        <th scope="col" style="width: 25%">
                          <div class="slds-truncate" title="Component">
                            Component
                          </div>
                        </th>
                        <th scope="col" style="width: 25%">
                          <div class="slds-truncate" title="Symptom">
                            Symptom
                          </div>
                        </th>
                        <th scope="col" style="width: 35%">
                          <div class="slds-truncate" title="Symptom">
                            Problem Component
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        key={serviceSymptom.orderProductId}
                        style="width: 100%"
                        class="slds-hint-parent"
                      >
                        <td style="width: 15%">
                          {serviceSymptom.variantNumber}
                        </td>
                        <td style="width: 25%">
                          <div class="slds-grid slds-has-flexi-truncate">
                            <p
                              style="
                                max-width: 80%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                              "
                              title={serviceSymptom.component}
                            >
                              {serviceSymptom.component}
                            </p>
                          </div>
                        </td>
                        <td style="width: 25%">
                          <div class="slds-grid slds-has-flexi-truncate">
                            <p
                              style="
                                max-width: 80%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                              "
                              title={serviceSymptom.selectedSymptomName}
                            >
                              {serviceSymptom.selectedSymptomName}
                            </p>
                          </div>
                        </td>
                        <td style="width: 35%">
                          <div class="slds-grid slds-has-flexi-truncate">
                            <p
                              style="
                                max-width: 80%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                              "
                              title={serviceSymptom.problemComponentName}
                            >
                              {serviceSymptom.problemComponentName}
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div
                    class="slds-grid slds-gutters"
                    key={serviceSymptom.orderProductId}
                  >
                    <div class="slds-col">
                      <lightning-combobox
                        name={serviceSymptom.orderProductId}
                        label="Procedure Code"
                        placeholder="Select an Option"
                        options={serviceSymptom.procedures}
                        value={serviceSymptom.selectedProcedure}
                        onchange={setProcedure}
                        required
                        class="requiredField"
                        disabled={isFieldsReadOnly}
                      >
                      </lightning-combobox>
                    </div>
                  </div>
                  <div
                    class="slds-grid slds-gutters"
                    key={serviceSymptom.orderProductId}
                  >
                    <div class="slds-col">
                      <lightning-input
                        type="number"
                        name={serviceSymptom.orderProductId}
                        label="Quantity"
                        value={serviceSymptom.selectedQty}
                        onchange={setQty}
                        min="1.0"
                        required
                        class="requiredField"
                        disabled={isFieldsReadOnly}
                      >
                      </lightning-input>
                    </div>
                  </div>
                  <div
                    class="slds-grid slds-gutters"
                    key={serviceSymptom.orderProductId}
                  >
                    <div class="slds-col">
                      <lightning-combobox
                        name={serviceSymptom.orderProductId}
                        label="Additional Procedure Code (if needed)"
                        placeholder="Select an Option"
                        options={serviceSymptom.procedures}
                        value={serviceSymptom.selectedProcedure2}
                        onchange={setProcedure2}
                        disabled={isFieldsReadOnly}
                      >
                      </lightning-combobox>
                    </div>
                  </div>
                  <div
                    class="slds-grid slds-gutters"
                    key={serviceSymptom.orderProductId}
                  >
                    <div class="slds-col">
                      <lightning-input
                        type="number"
                        name={serviceSymptom.orderProductId}
                        label="Quantity"
                        value={serviceSymptom.selectedQty2}
                        onchange={setQty2}
                        min="1.0"
                        disabled={isFieldsReadOnly}
                      >
                      </lightning-input>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </template>
          <template if:true={showPartsReimbursementSection}>
            <div class="slds-var-m-around_small">
              <div
                class="slds-page-header slds-text-heading_small"
                if:false={hideReimburementFeatures}
              >
                <b>Add Reimbursable Parts</b>
              </div>
              <!-- <div> -->
              <lightning-card>
                <div if:false={hideReimburementFeatures}>
                  <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-2">
                      <lightning-combobox
                        data-field="partProductComponent"
                        label="Product"
                        options={productList}
                        value={defaultSelectedProduct}
                        onchange={handleProductChange}
                        required
                      >
                      </lightning-combobox>
                    </div>
                  </div>
                  <lightning-record-edit-form
                    object-api-name="Reimbursable_Part__c"
                  >
                    <div class="slds-grid">
                      <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field
                          data-id="reset"
                          field-name="Part__c"
                          onchange={handleReimbursablePartChange}
                          required
                        >
                        </lightning-input-field>
                      </div>
                    </div>
                    <div class="slds-grid">
                      <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field
                          data-id="reset"
                          field-name="Reason__c"
                          onchange={handleReimbursablePartReasonChange}
                          required
                        >
                        </lightning-input-field>
                      </div>
                      <div class="slds-col slds-size_1-of-6">
                        <lightning-input-field
                          data-field="partQuantityComponent"
                          field-name="Quantity__c"
                          value={defaultPartQuantity}
                          onchange={handleReimbursablePartQuantityChange}
                        >
                        </lightning-input-field>
                      </div>
                    </div>
                  </lightning-record-edit-form>

                  <div
                    class="slds-var-m-left_xx-small slds-var-m-bottom_medium"
                  >
                    <lightning-button
                      variant="brand"
                      label="Add Part"
                      onclick={handleAddReimbursablePartClick}
                    >
                    </lightning-button>
                  </div>
                  <div class="slds-var-m-left_xx-small">
                    <lightning-datatable
                      key-field="id"
                      data={newReimbursablePartList}
                      columns={newReimbursablePartColumnList}
                      onrowaction={handleReimbursablePartRowAction}
                      hide-checkbox-column
                      show-row-number-column
                    >
                    </lightning-datatable>
                    <template if:true={noPartsAdded}>
                      <div class="slds-var-m-around_medium">
                        No Reimbursable Parts Added
                      </div>
                    </template>
                  </div>
                </div>
                <div if:true={hideReimburementFeatures}>
                  <div
                    class="slds-notify slds-notify_alert bannerStyle"
                    role="alert"
                  >
                    Cannot add new Reimbursement Products to an Order in
                    '<strong> {order.status} </strong>' Status
                  </div>
                </div>
              </lightning-card>
            </div>
          </template>
          <template if:true={showConfirmSection}>
            <div class="slds-var-m-around_small">
              <div class="slds-var-m-top_small slds-var-m-bottom_medium">
                Note: All reimbursable parts added can be viewed on the previous
                screen. Click finish to view all reimbursement information on
                the Service Request.
              </div>
              <div class="slds-page-header slds-text-heading_small">
                <b>Confirm Details</b>
              </div>
              <table class="slds-table slds-table_bordered slds-table_striped">
                <tr style="width: 100%">
                  <td style="width: 100%">
                    <template for:each={procedures} for:item="serviceSymptom">
                      <div
                        key={serviceSymptom.orderProductId}
                        class="slds-box slds-theme_shade slds-var-m-around_small"
                      >
                        <div
                          class="slds-text-heading_small"
                          key={serviceSymptom.orderProductId}
                        >
                          <b>{serviceSymptom.productName}</b>
                        </div>
                        <table
                          class="slds-table slds-table_bordered slds-table_striped"
                          key={serviceSymptom.orderProductId}
                        >
                          <thead>
                            <tr
                              class="slds-line-height_reset"
                              style="width: 100%"
                            >
                              <th scope="col" style="width: 15%" colspan="1">
                                <div class="slds-truncate" title="Variant">
                                  Variant
                                </div>
                              </th>
                              <th scope="col" style="width: 15%" colspan="1">
                                <div class="slds-truncate" title="Component">
                                  Component
                                </div>
                              </th>
                              <th scope="col" style="width: 20%" colspan="1">
                                <div class="slds-truncate" title="Symptom">
                                  Symptom
                                </div>
                              </th>
                              <th scope="col" style="width: 25%" colspan="1">
                                <div class="slds-truncate" title="Symptom">
                                  Problem Component
                                </div>
                              </th>
                              <th scope="col" style="width: 20%" colspan="1">
                                <div class="slds-truncate" title="Symptom">
                                  Procedure
                                </div>
                              </th>
                              <th scope="col" style="width: 5%" colspan="1">
                                <div class="slds-truncate" title="Symptom">
                                  Quantity
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              style="width: 100%"
                              key={serviceSymptom.orderProductId}
                              class="slds-hint-parent"
                            >
                              <td style="width: 15%">
                                {serviceSymptom.variantNumber}
                              </td>
                              <td style="width: 15%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 80px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.component}
                                  >
                                    {serviceSymptom.component}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 20%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 100px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.selectedSymptomName}
                                  >
                                    {serviceSymptom.selectedSymptomName}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 25%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 150px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.problemComponentName}
                                  >
                                    {serviceSymptom.problemComponentName}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 20%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 100px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.procedureName}
                                  >
                                    {serviceSymptom.procedureName}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 5%">
                                <p
                                  style="
                                    max-width: 50px;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                  "
                                  title={serviceSymptom.selectedQty}
                                >
                                  {serviceSymptom.selectedQty}
                                </p>
                              </td>
                            </tr>
                            <tr
                              style="width: 100%"
                              key={serviceSymptom.orderProductId}
                              class="slds-hint-parent"
                              if:true={serviceSymptom.procedureName2}
                            >
                              <td style="width: 15%">
                                {serviceSymptom.variantNumber}
                              </td>
                              <td style="width: 15%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 80px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.component}
                                  >
                                    {serviceSymptom.component}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 20%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 100px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.selectedSymptomName}
                                  >
                                    {serviceSymptom.selectedSymptomName}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 25%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 150px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.problemComponentName}
                                  >
                                    {serviceSymptom.problemComponentName}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 20%">
                                <div class="slds-grid slds-has-flexi-truncate">
                                  <p
                                    style="
                                      max-width: 100px;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                    "
                                    title={serviceSymptom.procedureName}
                                  >
                                    {serviceSymptom.procedureName2}
                                  </p>
                                </div>
                              </td>
                              <td style="width: 5%">
                                <p
                                  style="
                                    max-width: 50px;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                  "
                                  title={serviceSymptom.selectedQty}
                                >
                                  {serviceSymptom.selectedQty2}
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </template>
                  </td>
                </tr>
              </table>
            </div>
          </template>
        </div>
        <footer class="slds-modal__footer">
          <lightning-button
            class="slds-var-p-around_small"
            label={backButtonLabel}
            title={backButtonLabel}
            variant="neutral"
            onclick={previousClickHandler}
          >
          </lightning-button>
          <lightning-button
            class="slds-var-p-around_small"
            label={nextButtonLabel}
            title={nextButtonLabel}
            variant="brand"
            disabled={disableButton}
            onclick={nextClickHandler}
          >
          </lightning-button>
        </footer>
      </div>
    </div>

    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!-- modal end -->

  <!--
    <template if:true={showNewPartsReimbursementModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                            title="Close"
                                            icon-name="utility:close"
                                            icon-class="slds-button_icon-inverse"
                                            onclick={handleCancelReimbursablePartsClick}
                                            disabled={disableReimbursablePartsCancelButton}>
                    </lightning-button-icon>
                    <h2 class="slds-modal__title slds-hyphenate">New Reimbursable Parts</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative">
                    <lightning-card>

                        <lightning-record-edit-form object-api-name="Reimbursable_Part__c">

                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Part__c"
                                                            onchange={handleReimbursablePartChange}
                                                            required>
                                    </lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Reason__c"
                                                            onchange={handleReimbursablePartReasonChange}
                                                            required>
                                    </lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-6">
                                    <lightning-input-field field-name="Quantity__c"
                                                            onchange={handleReimbursablePartQuantityChange}>
                                    </lightning-input-field>
                                </div>
                            </div>

                        </lightning-record-edit-form>

                        <div class="slds-var-m-left_xx-small slds-var-m-bottom_medium">
                            <lightning-button variant="brand"
                                                label="Add Part"
                                                onclick={handleAddReimbursablePartClick}>
                            </lightning-button>
                        </div>
                        <div class="slds-var-m-left_xx-small">
                            <lightning-datatable key-field="id"
                                                    data={newReimbursablePartList}
                                                    columns={newReimbursablePartColumnList}
                                                    onrowaction={handleReimbursablePartRowAction}
                                                    hide-checkbox-column
                                                    show-row-number-column>
                            </lightning-datatable>
                            <template if:true={noPartsAdded}>
                                <div class="slds-var-m-around_medium">
                                    No Reimbursable Parts Added
                                </div>
                            </template>
                        </div>
                    </lightning-card>
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                        label="Cancel"
                                        title="Cancel"
                                        onclick={handleCancelReimbursablePartsClick}
                                        disabled={disableReimbursablePartsCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                        variant="brand"
                                        label="Save"
                                        title="Save"
                                        onclick={handleSaveReimbursablePartsClick}
                                        disabled={disableReimbursablePartsSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
-->
</template>
