<template>
    <div class="slds-page-header">
        <div class="slds-page-header__row">
          <div class="slds-page-header__col-title">
            <div class="slds-media">
              <div class="slds-media__figure">
                  <lightning-icon icon-name="custom:custom44" size="medium" variant="slds-icon-inverse"></lightning-icon>
              </div>
              <div class="slds-media__body">
                <div class="slds-page-header__name">
                  <div class="slds-page-header__name-title">
                    <h1>
                      <span class="slds-page-header__title slds-truncate" title="Service Ordering">Service Ordering</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>	
      </div>
      <lightning-layout>
        <div class="pto">
              <div class="slds-var-m-bottom_small slds-page-header">
                  <lightning-layout horizontal-align="spread">
                      <lightning-layout-item>
                          <div class="slds-media">
                              <div class="slds-media__figure">
                                  <lightning-icon icon-name="action:new_event" size="small" variant="slds-icon-inverse"></lightning-icon>
                              </div>
                              <div class="slds-media__body">
                                  <div style="font-size: 0.8125rem;"><b>Products to be Ordered</b></div>
                                  <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                              </div>
                              <div class="slds-media__figure slds-media__figure_reverse"></div>
                          </div>
                      </lightning-layout-item>
                  </lightning-layout>
                  <lightning-layout horizontal-align="spread" vertical-align="center">
                      <lightning-layout-item>
                          <ul class="slds-list_horizontal slds-has-dividers_left">
                              <li class="slds-item">
                                  <div style="font-size: 0.8125rem;">20 items</div>
                              </li>
                              <li class="slds-item">
                                  <div style="font-size: 0.8125rem;">Updated couple of  minutes ago...</div>
                              </li>
                          </ul>
                      </lightning-layout-item>
                      <lightning-layout-item>
                          <lightning-layout>
                              <lightning-layout-item>
                                  <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list" type="text" variant="label-hidden" onchange={updateSeachKeySerComp}></lightning-input>
                              </lightning-layout-item>
                              <lightning-layout-item>
                                  <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchSerComp}> 
                                      <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                  </lightning-button-group>
                              </lightning-layout-item>
                          </lightning-layout>
                      </lightning-layout-item>
                  </lightning-layout>
                  <lightning-datatable
                  key-field="id"
                  data={listServiceRequest}
                              columns={ServiceReqColumns}
                              sorted-direction={sortedDirection}
                              sorted-by={sortedBy}
                              onsort={serviceUpdateColumnSorting}
                  hide-checkbox-column = "false"
                  
                  >
                  <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
               
              </lightning-datatable>
              </div>
             
        </div>
        <div class="po">
              <div class="slds-var-m-bottom_small slds-page-header">
                      <lightning-layout horizontal-align="spread">
                          <lightning-layout-item>
                              <div class="slds-media">
                                  <div class="slds-media__figure">
                                      <lightning-icon icon-name="action:reject" size="small" variant="slds-icon-inverse"></lightning-icon>
                                  </div>
                                  <div class="slds-media__body">
                                      <div style="font-size: 0.8125rem;"><b>Rejected Purchase Orders</b></div>
                                      <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                                  </div>
                                  <div class="slds-media__figure slds-media__figure_reverse"></div>
                              </div>
                          </lightning-layout-item>
                          <lightning-layout-item></lightning-layout-item>
                      </lightning-layout>
                      <lightning-layout horizontal-align="spread" vertical-align="center">
                          <lightning-layout-item>
                              <ul class="slds-list_horizontal slds-has-dividers_left">
                                  <li class="slds-item">
                                      <div style="font-size: 0.8125rem;">20 items</div>
                                  </li>
                                  <li class="slds-item">
                                      <div style="font-size: 0.8125rem;">Updated couple of  minutes ago...</div>
                                  </li>
                              </ul>
                          </lightning-layout-item>
                          <lightning-layout-item>
                              <lightning-layout>
                                  <lightning-layout-item>
                                      <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list" type="text" variant="label-hidden" onchange={updateSeachKeyPOComp}></lightning-input>
                                  </lightning-layout-item>
                                  <lightning-layout-item>
                                      <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchPOComp} >
                                          <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                      </lightning-button-group>
                                  </lightning-layout-item>
                              </lightning-layout>
                          </lightning-layout-item>
                      </lightning-layout>
                      <lightning-datatable
                      key-field="id"
                      data={listPurchaseOrder}
                      columns={PurchaseOrderColumns}
                      sorted-direction={sortedDirection}
                      sorted-by={sortedBy}
                      onsort={purchaseOrderUpdateColumnSorting}
                      hide-checkbox-column = "false"
                      >
                      <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
             
              </lightning-datatable>
                  
              </div>
        </div>
          </lightning-layout>
</template>