<template>
    
    
                
                    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                        <thead>
                          <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                              <div class="slds-truncate" title=" Name">Name</div>
                            </th>
                            <th class="" scope="col">
                              <div class="slds-truncate" title="Last Modified Date">Last Modified Date</div>
                            </th>
                            <th class="" scope="col">
                              <div class="slds-truncate" title="Retail Price">Retail Price</div>
                            </th>
                            <th class="" scope="col">
                              <div class="slds-truncate" title="Retail Price Change">Retail Price Change</div>
                            </th>
                            <th class="" scope="col">
                              <div class="slds-truncate" title="Responsible Party">Responsible Party</div>
                            </th>
                            <th class="slds-cell-wrap" scope="col">
                              <div class="slds-truncate" title="Changes">Changes</div>
                            </th>
                            
                          </tr>
                        </thead>
                        <template for:each={changeHistories.data} for:item="change">
                        <tbody key={change.Id}>
                          <tr class="slds-hint-parent">
                            <td data-label="Name" >
                              <div class="slds-truncate slds-cell-wrap" > {change.LastModifiedBy.Name}</div>
                            </td>
                            <td data-label="Last Modified Date">
                              <div class="slds-truncate slds-cell-wrap" >
                                  <lightning-formatted-date-time value={change.LastModifiedDate} year="numeric" month="numeric" day="numeric" hour="2-digit"
                                  minute="2-digit" time-zone-name="short" hour12="true"> </lightning-formatted-date-time>
                              </div>
                            </td>
                            <td data-label="Retail Price">
                              <div class="slds-truncate slds-cell-wrap" ><lightning-formatted-number value={change.Retail_Price__c} format-style="currency" currency-code="USD"></lightning-formatted-number></div>
                            </td>
                            <td data-label="Retail Price Change">
                              <div class="slds-truncate slds-cell-wrap " style="word-break:break-all;"><lightning-formatted-number value={change.Retail_Price_Change__c} format-style="currency" currency-code="USD"></lightning-formatted-number></div>
                            </td>
                            <td data-label="Responsible Party">
                              <div class="slds-truncate slds-cell-wrap" >{change.Responsible_Party__c}</div>
                            </td>
                            <td data-label="Changes">
                              <div class=" slds-cell-wrap" ><lightning-formatted-rich-text value={change.Changes__c}></lightning-formatted-rich-text></div>
                            </td>
                            
                          </tr>
                          
                        </tbody>
                    </template>
                      </table>

                    
                
                    
                
            </template>