/*.THIS.slds-modal__container {
    width: 85% !important;
    max-width: 85rem !important;
    height: 100%;
}
/*.slds-modal__container {
    max-width: 85rem !important;
    width:80% !important;
    height: 100%;
}*/