.THIS li {
    display:inline;
    padding-left:20px;
    padding-right:20px;
    padding-top:9px;
    padding-bottom:12px;
}

.THIS .slds-badge{
    font-size: 0.825rem;
}

.THIS .menuBar li a{
    display:inline-block;
    text-decoration:none;
    color:token(colorTextLink);
}

.THIS .menuBar li:hover{
    background:white;
    color:token(colorTextDefault) !important;
}

.THIS .menuBar li a:hover{
    color:#ea682e;
}

.THIS active{
    background:white;
    color:token(colorTextLink);
}

.THIS {
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-top:2px !important;
    border-bottom: 2px !important;
    border-color: #EFEFEF;
    font-family:token(fontFamily);
}

.THIS .mobileMenu{
    display:none;
}

.THIS .menuButton:hover{
    border-color: #EA7D39 !important;
}

.THIS a:hover{
    text-decoration: none;
}