<!--
   @Component Name : myAppointments.html
   @Description :
   @Author : Demand Chain (James Loghry)
   @Group :
   @Last Modified By : ChangeMeIn@UserSettingsUnder.SFDoc
   @Last Modified On : 12/3/2019, 12:42:20 PM
   @Modification Log :
   ==============================================================================
   Ver Date Author       Modification
   ==============================================================================
   1.0 2/6/2019, 9:54:03 AM Demand Chain (James Loghry) Initial Version
   -->
   <template>
    <template if:true={error}>
       <c-modal show-header show-footer visible={error} modal-size="medium" onmodalclose={handleErrorModalClose}>
          <div slot="header">An Error Occurred</div>
          <div slot="content">
             <c-error-panel error={error}></c-error-panel>
          </div>
       </c-modal>
    </template>
    <template if:true={showAppointmentDetails}>
       <c-sales-sched-assign-modal appointment-id={wrapper.appointment.Id}
          onassignmodalclose={handleHideAppointmentDetails} read-only>
       </c-sales-sched-assign-modal>
    </template>
    <template if:true={displayAppointment}>
       <div class="appointmentCard">
          <lightning-layout multiple-rows>
             <!-- The following will only be displayed if prior appointments have been resulted. -->
             <template if:true={showResultedDetails}>
                <!-- The following will be displayed if the user clicked on the result button on the appointment card. -->
                <template if:true={displayResulting}>
                   <lightning-layout-item size="12" padding="around-small">
                      <lightning-card>
                         <h3 slot="title">
                            Resulting&nbsp;
                            <lightning-formatted-date-time hour="numeric" minute="2-digit"
                               value={wrapper.appointment.Appointment_Date_Time__c}>
                            </lightning-formatted-date-time>
                            &nbsp;
                            <template if:true={wrapper.primaryContact}>
                               with 
                               <br>{wrapper.primaryContact.Name}
                            </template>
                         </h3>
                         <template if:true={wrapper.isSecondary}>
                            <lightning-record-edit-form record-id={wrapper.appointment.Sales_Order__c}
                               object-api-name="Sales_Order__c" columns="1" data-id="resultingForm"
                               onsubmit={handleResultingSubmit} onsuccess={handleResultingSuccess}
                               onerror={handleResultingError}>
                               <lightning-input-field field-name="Ride_Along_Learnings__c">
                               </lightning-input-field>
                               <lightning-layout>
                                  <lightning-layout-item size="6" padding="around-small">
                                     <button class="slds-button slds-button_neutral inactiveslot fullwidth"
                                        onclick={handleResultCancel}>Cancel</button>
                                  </lightning-layout-item>
                                  <lightning-layout-item size="6" padding="around-small">
                                     <button type="submit"
                                        class="slds-button slds-button_neutral activeslot fullwidth">Save</button>
                                  </lightning-layout-item>
                               </lightning-layout>
                            </lightning-record-edit-form>
                         </template>
                         <template if:true={displayResultOptions}>
                              <!--DDL display issue-->
                            <lightning-combobox name="Result" label="Result" placeholder="Choose Result" 
                               value={resultStatus} onchange={handleResultChange} options={resultOptions}>
                            </lightning-combobox>
                              
                         </template>
                         <template if:true={displayResultingFields}>
                            <lightning-record-edit-form record-id={wrapper.appointment.Sales_Order__c}
                               object-api-name="Sales_Order__c" columns="1" data-id="resultingForm"
                               onsubmit={handleResultingSubmit} onsuccess={handleResultingSuccess}
                               onerror={handleResultingError}>
                               <lightning-input-field field-name="Key_Contact_Person__c" class={keyContactPersonColor} onchange={keyContactValue}>
                               </lightning-input-field>
                               <template if:true={displaySaleDemoNoSaleOrNoDemo}>
                                  <lightning-input-field field-name="Were_All_Owners_Present__c" class={ownerPresentColor} onchange={ownerPresentValue}>
                                  </lightning-input-field>
                               </template>
                               <!-- Ratna added below fields for enabling checkout edit for sales rep-->
                               <lightning-output-field field-name="Time_Arrived__c"></lightning-output-field>
                               <lightning-input-field field-name="Check_In_Time__c" value={wrapper.appointment.Sales_Order__r.InTime__c} messagewhenpatternmismatch="Enter a valid time" pattern="((1[0-2]|0?[1-9]):([0-5][0-9]) ([AaPp][Mm]))"></lightning-input-field>
                               <lightning-input-field field-name="Check_out_Time__c"
                                  value={wrapper.appointment.Sales_Order__r.leftTime__c}
                                  messagewhenpatternmismatch="Enter a valid time"
                                  pattern="((1[0-2]|0?[1-9]):([0-5][0-9]) ([AaPp][Mm]))">
                               </lightning-input-field>
                               <!-- Till here -->
                               <template if:true={displaySaleOrDemoNoSale}>
                                  <lightning-card title="Total House">
                                     <lightning-input-field field-name="Series_One_Windows__c" class={seriesOneWindowColor} onchange={seriesOneWindowValue}>
                                     </lightning-input-field>
                                     <template if:true={displaySeriesTwo}>
                                        <lightning-input-field field-name="Series_Two_Windows__c" class={seriesTwoWindowColor} onchange={seriesTwoWindowValue}>
                                        </lightning-input-field>
                                     </template>
                                     <lightning-input-field field-name="Patio_Doors__c" class={patioDoorsColor} onchange={patioDoorsValue}>
                                     </lightning-input-field>
                                     <template if:true={displayEntryDoor}>
                                        <lightning-input-field field-name="Entry_Doors__c" class={entryDoorsColor} onchange={entryDoorsValue}>
                                        </lightning-input-field>
                                     </template>
                                     <lightning-input-field field-name="Amount_If_Sold__c" class={amountIfSoldColor} onchange={amountIfSoldValue}>
                                     </lightning-input-field>
                                  </lightning-card>
                                  <lightning-card title="Total Quoted"> 
                                     <lightning-input-field field-name="Series_One_Windows_Quoted__c" class={seriesOneQuoteColor} onchange={seriesOneQuoteValue}>
                                     </lightning-input-field>
                                     <template if:true={displaySeriesTwo}>
                                        <lightning-input-field field-name="Series_Two_Windows_Quoted__c" class={seriesTwoQuoteColor} onchange={seriesTwoQuoteValue}>
                                        </lightning-input-field>
                                     </template>
                                    <template if:true={displaySeriesA}>
                                       <lightning-input-field field-name="Includes_Series_A_Window__c" class={seriesAQuoteColor}
                                          onchange={seriesAQuoteValue}>
                                       </lightning-input-field>
                                    </template>
                                     <lightning-input-field field-name="Patio_Doors_Quoted__c" class={patioQuoteColor} onchange={patioQuoteValue}>
                                     </lightning-input-field>
                                     <template if:true={displayEntryDoor}>
                                        <lightning-input-field field-name="Entry_Doors_Quoted__c" class={entryQuoteColor} onchange={entryQuoteValue}>
                                        </lightning-input-field>
                                     </template>
                                     <lightning-input-field field-name="Contract_Amount_Quoted__c" class={caQuoteColor} onchange={caQuoteValue}>
                                     </lightning-input-field>
                                     <template if:false={displayDemoNoSale}>
                                        <lightning-input-field field-name="BAY_Windows_Quoted__c" class={bayWQuoteColor} onchange={bayWQuoteValue}>
                                        </lightning-input-field>
                                        <lightning-input-field field-name="BOW_Windows_Quoted__c" class={bowWQuoteColor} onchange={bowWQuoteValue}>
                                        </lightning-input-field>
                                     </template>
                                  </lightning-card>
                               </template>
                               <template if:true={displaySale}>
                                  <lightning-card title="Payment">
                                     <template if:true={paymentTypeOptions}>
                                        <lightning-combobox name="Payment Type" label="Payment Type"
                                           placeholder="Choose Payment Type" value={paymentType}
                                           onchange={handlePaymentTypeChange} options={paymentTypeOptions} class={paymentTypeColor}>
                                        </lightning-combobox>
                                     </template>
                                     <template if:true={displayFinance}>
                                        <c-slds-drop-down label="Finance Source"
                                           items={financeCompanies.data}
                                           selected-item={selectedFinanceCompanyObject}
                                           onitemselect={handleCompanyClick}
                                           onitemdeselect={handleCompanyRemove}
                                           focal-point={financeCompanyFocus} >
                                           <lightning-input autocomplete="off" type="search"
                                              onchange={handleFinanceCompanyChange} label="Finance Source"
                                              value={financeCompanySearchKey}
                                              onblur={handleRemoveCompanyFocus}
                                              onfocus={handleFinanceCompanyFocus} class={financeCompanyColor}></lightning-input>
                                        </c-slds-drop-down>
                                        <c-slds-drop-down label="Finance Plan" items={financePlans.data}
                                           selected-item={selectedFinanceProgramObject}
                                           onitemselect={handlePlanClick} focal-point={financePlanFocus}>
                                           <lightning-input autocomplete="off" type="search"
                                              onchange={handleFinancePlanChange} label="Finance Plan"
                                              value={financePlanSearchKey} onblur={handleRemovePlanFocus}
                                              onfocus={handleFinancePlanFocus} class={financePlanColor}></lightning-input>
                                        </c-slds-drop-down>
                                        <lightning-input-field field-name="Account_Number__c" onchange={accountNumberValue} class={accountNumberColor}>
                                        </lightning-input-field>
                                        <lightning-input-field field-name="Approved__c" onchange={approvedValue} class={approvedColor}>
                                        </lightning-input-field>
                                     </template>
                                     <template if:true={displayCashAndFinance}>
                                       <lightning-input-field field-name="Cash__c" onchange={cashFieldValue} class={cashFieldColor}></lightning-input-field>
                                        <lightning-output-field field-name="Finance__c">
                                        </lightning-output-field>
                                        <c-slds-drop-down label="Finance Source"
                                           items={financeCompanies.data}
                                           selected-item={selectedFinanceCompanyObject}
                                           onitemselect={handleCompanyClick}
                                           onitemdeselect={handleCompanyRemove}
                                           focal-point={financeCompanyFocus}>
                                           <lightning-input autocomplete="off" type="search"
                                              onchange={handleFinanceCompanyChange} label="Finance Source"
                                              value={financeCompanySearchKey}
                                              onblur={handleRemoveCompanyFocus}
                                              onfocus={handleFinanceCompanyFocus} class={financeCompanyColor}></lightning-input>
                                        </c-slds-drop-down>
                                        <c-slds-drop-down label="Finance Plan" items={financePlans.data}
                                           selected-item={selectedFinanceProgramObject}
                                           onitemselect={handlePlanClick} focal-point={financePlanFocus}>
                                           <lightning-input autocomplete="off" type="search"
                                              onchange={handleFinancePlanChange} label="Finance Plan"
                                              value={financePlanSearchKey} onblur={handleRemovePlanFocus}
                                              onfocus={handleFinancePlanFocus} class={financePlanColor}></lightning-input>
                                        </c-slds-drop-down>
                                        <lightning-input-field field-name="Account_Number__c" onchange={accountNumberValue} class={accountNumberColor}> 
                                        </lightning-input-field>
                                        <lightning-input-field field-name="Approved__c" onchange={approvedValue} class={approvedColor}>
                                        </lightning-input-field>
                                     </template>
                                     <template if:true={displayFinanceTurnDown}>
                                        <c-slds-drop-down label="Who Was Job Turned Down By?"
                                           items={turnedDownByCompanies.data}
                                           selected-item={selectedTurnedDownByObject}
                                           onitemselect={handleTurnedDownByClick}
                                           onitemdeselect={handleTurnedDownByRemove}
                                           focal-point={turnedDownByFocus}>
                                           <lightning-input autocomplete="off" type="search"
                                              onchange={handleTurnedDownByChange}
                                              label="Who Was Job Turned Down By?"
                                              value={turnedDownBySearchKey}
                                              onblur={handleRemoveTurnedDownByFocus}
                                              onfocus={handleTurnedDownByFocus} class={financeTurnDownColor}></lightning-input>
                                        </c-slds-drop-down>
                                        <lightning-input-field field-name="Next_For_Renewal__c" onchange={renewalValue} class={renewalColor}>
                                        </lightning-input-field>
                                        <template if:true={yesNoOptions}>
                                           <lightning-combobox name="FinanceIssues"
                                              label="Should job have finance issues?"
                                              placeholder="Should job have finance issues?"
                                              value={financeIssues} onchange={handleFinanceIssuesChange}
                                              options={yesNoOptions} class={financeIssueColor}>
                                           </lightning-combobox>
                                        </template>
                                        <template if:true={displayFinanceDetails}>
                                           <lightning-input-field field-name="Financeable_Details__c">
                                           </lightning-input-field>
                                        </template>
                                     </template>
                                     <lightning-input-field field-name="Deposit_Type__c" onchange={depositTypeValue} class={depositTypeColor}>
                                     </lightning-input-field>
                                     <lightning-input-field field-name="Deposit__c" onchange={depositValue} class={depositColor}></lightning-input-field>
                                  </lightning-card>
                                  <lightning-card title="Notes">
                                     <lightning-input-field field-name="Construction_Department_Notes__c" onchange={constructionValue} class={contructionColor}>
                                     </lightning-input-field>
                                     <lightning-input-field field-name="Why_Customer_Purchased__c" onchange={customerValue} class={customerColor}>
                                     </lightning-input-field>
                                     <lightning-input-field field-name="Concerns__c" onchange={concernsValue} class={concernsColor}></lightning-input-field>
                                     <lightning-input-field field-name="Address_Concerns__c" onchange={addressConcernsValue} class={addressConcernsColor}>
                                     </lightning-input-field>
                                     <lightning-input-field field-name="Partial_Sale__c" onchange={partialSaleValue} class={partialSaleColor}>
                                     </lightning-input-field>
                                     <lightning-input-field field-name="Historical_Area__c" onchange={historicalAreaValue} class={historicalAreaColor}>
                                     </lightning-input-field>
                                     <lightning-input-field field-name="Mail_and_Canvass_Neighborhood__c" class={mailColor} onchange={mailValue}>
                                     </lightning-input-field>
                                  </lightning-card>
                               </template>
                               <template if:true={displayDemoNoSale}>
                                  <lightning-card title="Notes">
                                     <lightning-input-field field-name="Project_Description__c" class={projectDescriptionColor} onchange={projectDescriptionValue}>
                                     </lightning-input-field>
                                     <lightning-input-field
                                        field-name="Key_Reason_Customer_Didnt_Proceed__c" class={keyReasonColor} onchange={keyReasonValue}>
                                     </lightning-input-field>
                                     <lightning-input-field field-name="Mail_and_Canvass_Neighborhood__c"  class={mailColor} onchange={mailValue}>
                                     </lightning-input-field>
                                     <!-- Follow up logic. -->
                                     <template if:true={yesNoOptions}>
                                        <lightning-combobox name="Reschedule"
                                           label="Did you reschedule the appointment?"
                                           value={reschedule} onchange={handleRescheduleChange}
                                           options={yesNoOptions} class={reschedulePKColor}> 
                                        </lightning-combobox>
                                        <template if:true={displayFollowup}>
                                           <lightning-input-field field-name="Follow_Up_Appt_Date_Time__c" class={followUpDateTimeColor} onchange={followUpDateTimeValue}>
                                           </lightning-input-field>
                                        </template>
                                     </template>
                                     <lightning-input-field field-name="Future_Purchase__c" class={futurePurchaseColor} onchange={futurePurchaseValue}>
                                     </lightning-input-field>
                                  </lightning-card>
                               </template>
                               <template if:true={displayNoDemo}>
                                  <lightning-card title="Notes">
                                     <lightning-input-field field-name="Why_No_Demo__c" class={whyNoDemoColor} onchange={whyNoDemoValue}>
                                     </lightning-input-field>
                                     <!-- Follow up logic. -->
                                     <template if:true={yesNoOptions}>
                                        <lightning-combobox name="Reschedule"
                                           label="Did you reschedule the appointment?"
                                           value={reschedule} onchange={handleRescheduleChange}
                                           options={yesNoOptions} class={reschedulePKColor}>
                                        </lightning-combobox>
                                        <template if:true={displayFollowup}>
                                           <lightning-input-field field-name="Follow_Up_Appt_Date_Time__c" class={followUpDateTimeColor} onchange={followUpDateTimeValue}>
                                           </lightning-input-field>
                                        </template>
                                     </template>
                                     <lightning-input-field field-name="Mail_and_Canvass_Neighborhood__c" class={mailColor} onchange={mailValue}>
                                     </lightning-input-field>
                                  </lightning-card>
                               </template>
                               <template if:true={displayNotHome}>
                                  <lightning-card title="Notes">
                                     <lightning-input-field field-name="Comments__c" class={commentsColor} onchange={commentsValue}></lightning-input-field>
                                     <lightning-input-field field-name="Project_Description__c" class={projectDescriptionColor} onchange={projectDescriptionValue}>
                                     </lightning-input-field>
                                  </lightning-card>
                               </template>
                               <template if:true={displayNotCovered}>
                                  <lightning-card title="Notes">
                                     <!--<div class="changeColorRed"></div>-->
                                     <lightning-input-field field-name="Why_Not_Covered__c" class={WhyNotCoveredColor} onchange={checkValue}> 
                                     </lightning-input-field>
                                  </lightning-card>
                               </template>
                               <template if:true={displayRideAlongAdvice}>
                                  <lightning-card title="Ride Along Advice">
                                     <lightning-input-field field-name="Ride_Along_Advice__c">
                                     </lightning-input-field>
                                  </lightning-card>
                               </template>
                               <lightning-layout>
                                  <lightning-layout-item size="6" padding="around-small">
                                     <button class="slds-button slds-button_neutral inactiveslot fullwidth"
                                        onclick={handleResultCancel}>Cancel</button>
                                  </lightning-layout-item>
                                  <lightning-layout-item size="6" padding="around-small">
                                     <button type="submit"
                                        class="slds-button slds-button_neutral activeslot fullwidth">Save</button>
                                  </lightning-layout-item>
                               </lightning-layout>
                            </lightning-record-edit-form>
                         </template>
                      </lightning-card>
                   </lightning-layout-item>
                </template>
             </template>
             <template if:true={displayResultedDetails}>
                <lightning-layout-item size="12" padding="around-small">
                   <lightning-card>
                      <h3 slot="title">
                         <lightning-formatted-date-time hour="2-digit" minute="2-digit"
                            value={wrapper.appointment.Appointment_Date_Time__c}>
                         </lightning-formatted-date-time>
                         &nbsp;
                         <template if:true={wrapper.primaryContact}>
                            with {wrapper.primaryContact.Name}
                         </template>
                      </h3>
                      <template if:true={wrapper.isSecondary}>
                         <lightning-record-edit-form record-id={wrapper.appointment.Sales_Order__c}
                            object-api-name="Sales_Order__c" columns="1" data-id="resultingForm"
                            onsubmit={handleResultingSubmit} onsuccess={handleResultingSuccess}
                            onerror={handleResultingError}>
                            <!--<lightning-output-field field-name="Ride_Along_Learnings__c"></lightning-output-field>-->
                         </lightning-record-edit-form>
                      </template>
                      <lightning-record-edit-form record-id={wrapper.appointment.Sales_Order__c}
                         object-api-name="Sales_Order__c" columns="1" data-id="resultingForm"
                         onsubmit={handleResultingSubmit} onsuccess={handleResultingSuccess}
                         onerror={handleResultingError}>
                         <lightning-output-field field-name="Result__c"></lightning-output-field>
                         <lightning-output-field field-name="Key_Contact_Person__c"></lightning-output-field>
                         <template if:true={displaySaleDemoNoSaleOrNoDemoResulted}>
                            <lightning-output-field field-name="Were_All_Owners_Present__c">
                            </lightning-output-field>
                         </template>
                         <template if:true={displaySaleOrDemoNoSaleResulted}>
                            <lightning-card title="Total House">
                               <lightning-output-field field-name="Series_One_Windows__c">
                               </lightning-output-field>
                               <template if:true={displaySeriesTwo}>
                                  <lightning-output-field field-name="Series_Two_Windows__c">
                                  </lightning-output-field>
                               </template>
                              <template if:true={displaySeriesA}>
                                 <lightning-output-field field-name="Includes_Series_A_Window__c">
                                 </lightning-output-field>
                              </template>
                               <lightning-output-field field-name="Patio_Doors__c"></lightning-output-field>
                               <template if:true={displayEntryDoor}>
                                  <lightning-output-field field-name="Entry_Doors__c">
                                  </lightning-output-field>
                               </template>
                               <lightning-output-field field-name="Amount_If_Sold__c"></lightning-output-field>
                            </lightning-card>
                            <lightning-card title="Total Quoted">
                               <lightning-output-field field-name="Series_One_Windows_Quoted__c">
                               </lightning-output-field>
                               <template if:true={displaySeriesTwo}>
                                  <lightning-output-field field-name="Series_Two_Windows_Quoted__c">
                                  </lightning-output-field>
                               </template>
                               <lightning-output-field field-name="Patio_Doors_Quoted__c">
                               </lightning-output-field>
                               <template if:true={displayEntryDoor}>
                                  <lightning-output-field field-name="Entry_Doors_Quoted__c">
                                  </lightning-output-field>
                               </template>
                               <lightning-output-field field-name="Contract_Amount_Quoted__c">
                               </lightning-output-field>
                               <template if:false={displayDemoNoSaleResulted}>
                                  <lightning-output-field field-name="BAY_Windows_Quoted__c">
                                  </lightning-output-field>
                                  <lightning-output-field field-name="BOW_Windows_Quoted__c">
                                  </lightning-output-field>
                               </template>
                            </lightning-card>
                         </template>
                         <template if:true={displaySaleResulted}>
                            <lightning-card title="Payment">
                               <template if:true={paymentTypeOptions}>
                                  <lightning-output-field field-name="Payment_Type__c">
                                  </lightning-output-field>
                               </template>
                               <template if:true={displayFinanceResulted}>
                                  <lightning-output-field field-name="Store_Finance_Program__c">
                                  </lightning-output-field>
                                  <lightning-output-field field-name="Account_Number__c">
                                  </lightning-output-field>
                                  <lightning-output-field field-name="Approved__c"></lightning-output-field>
                               </template>
                               <template if:true={displayCashAndFinanceResulted}>
                                  <lightning-output-field field-name="Cash__c"></lightning-output-field>
                                  <lightning-output-field field-name="Finance__c"></lightning-output-field>
                                  <lightning-output-field field-name="Store_Finance_Program__c">
                                  </lightning-output-field>
                                  <lightning-output-field field-name="Account_Number__c">
                                  </lightning-output-field>
                                  <lightning-output-field field-name="Approved__c"></lightning-output-field>
                               </template>
                               <template if:true={displayFinanceTurnDownResulted}>
                                  <lightning-output-field field-name="Who_Was_Job_Turned_Down_By__c">
                                  </lightning-output-field>
                                  <lightning-output-field field-name="Next_For_Renewal__c">
                                  </lightning-output-field>
                                  <lightning-output-field field-name="Finance_Issues__c">
                                  </lightning-output-field>
                                  <template if:true={displayFinanceDetailsResulted}>
                                     <lightning-output-field field-name="Financeable_Details__c">
                                     </lightning-output-field>
                                  </template>
                               </template>
                               <lightning-output-field field-name="Deposit_Type__c"></lightning-output-field>
                               <lightning-output-field field-name="Deposit__c"></lightning-output-field>
                            </lightning-card>
                            <lightning-card title="Notes">
                               <lightning-output-field field-name="Construction_Department_Notes__c">
                               </lightning-output-field>
                               <lightning-output-field field-name="Why_Customer_Purchased__c">
                               </lightning-output-field>
                               <lightning-output-field field-name="Concerns__c"></lightning-output-field>
                               <lightning-output-field field-name="Address_Concerns__c">
                               </lightning-output-field>
                               <lightning-output-field field-name="Partial_Sale__c"></lightning-output-field>
                               <lightning-output-field field-name="Historical_Area__c">
                               </lightning-output-field>
                               <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                               </lightning-output-field>
                            </lightning-card>
                         </template>
                         <template if:true={displayDemoNoSaleResulted}>
                            <lightning-card title="Notes">
                               <lightning-output-field field-name="Project_Description__c">
                               </lightning-output-field>
                               <lightning-output-field field-name="Key_Reason_Customer_Didnt_Proceed__c">
                               </lightning-output-field>
                               <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                               </lightning-output-field>
                               <!-- Follow up logic. -->
                               <lightning-output-field field-name="Rescheduled__c"></lightning-output-field>
                               <template if:true={displayFollowup}>
                                  <lightning-input-field field-name="Follow_Up_Appt_Date_Time__c">
                                  </lightning-input-field>
                               </template>
                               <lightning-output-field field-name="Future_Purchase__c">
                               </lightning-output-field>
                            </lightning-card>
                         </template>
                         <template if:true={displayNoDemoResulted}>
                            <lightning-card title="Notes">
                               <lightning-output-field field-name="Why_No_Demo__c"></lightning-output-field>
                               <!-- Follow up logic. -->
                               <lightning-output-field field-name="Rescheduled__c"></lightning-output-field>
                               <template if:true={displayFollowup}>
                                  <lightning-output-field field-name="Follow_Up_Appt_Date_Time__c">
                                  </lightning-output-field>
                               </template>
                               <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                               </lightning-output-field>
                            </lightning-card>
                         </template>
                         <template if:true={displayNotHomeResulted}>
                            <lightning-card title="Notes">
                               <lightning-output-field field-name="Comments__c"></lightning-output-field>
                               <lightning-output-field field-name="Project_Description__c">
                               </lightning-output-field>
                            </lightning-card>
                         </template>
                         <template if:true={displayNotCoveredResulted}>
                            <lightning-card title="Notes">
                               <lightning-output-field field-name="Why_Not_Covered__c">
                               </lightning-output-field>
                            </lightning-card>
                         </template>
                         <template if:true={displayRideAlongAdvice}>
                           <lightning-card title="Ride Along Advice">
                              <template if:false={wrapper.isSecondary}>
                                 <lightning-output-field field-name="Ride_Along_Advice__c"></lightning-output-field>
                              </template>
                              <template if:true={wrapper.isSecondary}>
                                 <lightning-output-field field-name="Ride_Along_Learnings__c"></lightning-output-field>
                              </template>
                           </lightning-card>
                         </template>
                      </lightning-record-edit-form>
                   </lightning-card>
                </lightning-layout-item>
             </template>
             <template if:false={displayResulting}>
                <lightning-layout-item size="12" padding="around-small">
                   <lightning-record-view-form record-id={wrapper.appointment.Sales_Order__c}
                      object-api-name="Sales_Order__c">
                      <lightning-card>
                         <h3 slot="title">
                            <template if:true={showResultedDetails}>
                               <lightning-formatted-date-time hour="numeric" minute="2-digit"
                                  value={wrapper.appointment.Appointment_Date_Time__c}>
                               </lightning-formatted-date-time>
                               &nbsp;
                               <template if:true={wrapper.primaryContact}>
                                  with
                                  <br>
                                   {wrapper.primaryContact.Name}
                               </template>
                            </template>
                            <template if:false={showResultedDetails}>
                               <lightning-formatted-date-time hour="numeric" minute="2-digit"
                                  value={wrapper.appointment.Appointment_Date_Time__c}>
                               </lightning-formatted-date-time>
                               &nbsp;
                               <template if:true={wrapper.primaryContact}>
                                  ({wrapper.primaryContact.LastName})
                               </template>
                            </template>
                         </h3>
                         <!-- Show the following only if prior appointments have not been resulted. -->
                         <template if:true={showResultedDetails}>
                            <div class="slds-form-element">
                               <span class="slds-form-element__label">Primary Contact</span>
                               <div class="slds-form-element__control">{wrapper.primaryContact.Name}</div>
                               <template if:true={wrapper.primaryContact.HomePhone}>
                                  <div class="slds-form-element__control">
                                     <c-link protocol="tel:" domain={wrapper.primaryContact.HomePhone}>
                                        {wrapper.primaryContact.HomePhone}
                                     </c-link>
                                     (Home)
                                  </div>
                               </template>
                               <template if:true={wrapper.primaryContact.MobilePhone}>
                                  <div class="slds-form-element__control">
                                     <c-link protocol="tel:" domain={wrapper.primaryContact.MobilePhone}>
                                        {wrapper.primaryContact.MobilePhone}
                                     </c-link>
                                     (Mobile)
                                  </div>
                               </template>
                               <template if:true={wrapper.primaryContact.Email}>
                                  <div class="slds-form-element__control" title= "{wrapper.primaryContact.Email}" style="overflow: hidden;" >
                                     <c-link protocol="mailto:" domain={wrapper.primaryContact.Email}>
                                        {wrapper.primaryContact.Email}
                                     </c-link>
                                   <!--  (Email) removing as per the SS- 317 -->
                                  </div>
                               </template>
                            </div>
                            <template if:true={wrapper.secondaryContacts.length}>
                               <div class="slds-form-element">
                                  <span class="slds-form-element__label">Secondary Contact(s)</span>
                                  <template for:each={wrapper.secondaryContacts} for:item="secondaryContact">
                                     <div key={secondaryContact.Id}>
                                        <div class="slds-form-element__control">{secondaryContact.Name}
                                        </div>
                                        <template if:true={secondaryContact.HomePhone}>
                                           <div class="slds-form-element__control">
                                              <c-link protocol="tel:" domain={secondaryContact.HomePhone}>
                                                 {secondaryContact.HomePhone}
                                              </c-link>
                                              (Home)
                                           </div>
                                        </template>
                                        <template if:true={secondaryContact.MobilePhone}>
                                           <div class="slds-form-element__control">
                                              <c-link protocol="tel:"
                                                 domain={secondaryContact.MobilePhone}>
                                                 {secondaryContact.MobilePhone}
                                              </c-link>
                                              (Mobile)
                                           </div>
                                        </template>
                                        <template if:true={secondaryContact.Email}>
                                           <div class="slds-form-element__control">
                                              <c-link protocol="mailto:" domain={secondaryContact.Email}>
                                                 {secondaryContact.Email}
                                              </c-link>
                                             <!--  (Email) removing as per the SS- 317 -->
                                           </div>
                                        </template>
                                     </div>
                                  </template>
                               </div>
                            </template>
                            <div class="slds-form-element">
                               <span class="slds-form-element__label">Account</span>
                               <div class="slds-form-element__control">
                                  {wrapper.appointment.Sales_Order__r.Opportunity__r.Account.Name}
                               </div>
                            </div>
                            <template if:true={wrapper.resource.Finalized_By__r}>
                               <div class="slds-form-element">
                                  <span class="slds-form-element__label">Finalized By</span>
                                  <div class="slds-form-element__control">
                                    <!--<a href={wrapper.resource.Finalized_By__r.Phone}>{wrapper.resource.Finalized_By__r.Name}</a>-->
                                    {wrapper.resource.Finalized_By__r.Name}
                                    <!--lightning-formatted-phone
                                       value={wrapper.resource.Finalized_By__r.Phone}>
                                    </lightning-formatted-phone>-->
                                  </div>
                               </div>
                            </template>
                         </template>
                      </lightning-card>
                   </lightning-record-view-form>
                </lightning-layout-item>
                <!-- My Appointment Team-->
                <!-- Show the following only if prior appointments have not been resulted. -->
                <template if:true={displayResulted}>
                   <lightning-layout-item size="12" padding="around-small">
                      <button class="slds-button slds-button_neutral activeslot fullwidth"
                         onclick={handleShowResultedDetails}>Resulted Details</button>
                   </lightning-layout-item>
                </template>
                <template if:true={showResultedDetails}>
                   <lightning-layout-item size="12" padding="around-small">
                      <button class="slds-button slds-button_neutral activeslot fullwidth"
                         onclick={handleShowAppointmentDetails}>Appointment Details</button>
                   </lightning-layout-item>
                </template>
                <template if:true={showResultedDetails}>
                   <template if:true={wrapper.appointment.Sales_Appointment_Resources__r}>
                      <lightning-layout-item size="12" padding="around-small">
                         <div class="">
                            <lightning-card title="My Appointment Team">
                               <lightning-layout multiple-rows>
                                  <template for:each={wrapper.appointment.Sales_Appointment_Resources__r}
                                     for:item="ridealong">
                                     <template if:true={ridealong.Sales_Capacity__r.User__r}>
                                        <lightning-layout-item size="12" key={ridealong.Id}
                                           padding="around-small">
                                           <c-sales-sched-appointment-team-member
                                              key={ridealong.Sales_Capacity__r.User__r.Id}
                                              user={ridealong.Sales_Capacity__r.User__r}
                                              primary={ridealong.Primary__c}>
                                           </c-sales-sched-appointment-team-member>
                                        </lightning-layout-item>
                                     </template>
                                  </template>
                               </lightning-layout>
                            </lightning-card>
                         </div>
                      </lightning-layout-item>
                   </template>
                </template>
                <template if:true={showResultedDetails}>
                    <!-- Action Buttons-->
                    <template if:true={displayAccept}>
                      <lightning-layout-item size="12" padding="around-small">
                         <button class="slds-button slds-button_neutral activeslot fullwidth"
                            onclick={handleAccept}>Accept</button>
                      </lightning-layout-item>
                    </template>
                    <template if:true={displayCheckIn}>
                        <lightning-layout-item size="12" padding="around-small">
                            <c-map-link
                                latitude={wrapper.appointment.Sales_Order__r.Opportunity__r.Account.BillingLatitude}
                                longitude={wrapper.appointment.Sales_Order__r.Opportunity__r.Account.BillingLongitude}>
                                <button class="slds-button slds-button_neutral activeslot fullwidth">Get
                                Directions</button>
                            </c-map-link>
                        </lightning-layout-item>
                        <!--<lightning-layout-item size="12" padding="around-small">
                           <button class="slds-button slds-button_neutral activeslot fullwidth"
                                 onclick={handleCheckIn}>Check In</button>
                        </lightning-layout-item>-->
                       <template if:false={wrapper.isSecondary}>
                            <lightning-layout-item size="12" padding="around-small">
                                <button class="slds-button slds-button_neutral activeslot fullwidth"
                                    onclick={handleCheckIn}>Check In</button>
                            </lightning-layout-item>
                        </template>
                        <template if:true={wrapper.isSecondary}>
                            <lightning-layout-item size="12" padding="around-small">
                                <button class="slds-button slds-button_neutral activeslot fullwidth"
                                    onclick={handleDisplayResulting}>Result</button>
                            </lightning-layout-item> 
                        </template> 
                   </template>
                   <template if:true={displayResult}> 
                      <lightning-layout-item size="12" padding="around-small">
                         <button class="slds-button slds-button_neutral activeslot fullwidth"
                            onclick={handleDisplayResulting}>Result</button>
                      </lightning-layout-item>
                   </template>
                   <template if:true={displayCheckOut}>
                      <lightning-layout-item size="12" padding="around-small">
                         <button class="slds-button slds-button_neutral activeslot fullwidth"
                            onclick={handleCheckOut}>Check Out</button>
                      </lightning-layout-item>
                   </template>
                   <!--<template if:true={displayResulted}>
                      <lightning-layout-item size="12" padding="around-small">
                         <button class="slds-button slds-button_neutral inactiveslot fullwidth">Resulted</button>
                      </lightning-layout-item>
                   </template>-->
                </template>
             </template>
          </lightning-layout>
       </div>
    </template>
 </template>