.THIS .section {    
      border: 1px silver;
   /* border-radius:15px;*/
    height:800px;
}
.THIS .Sec{
    margin: 5px;
	padding: 10px;
}
.THIS .test{
    height:300px;
    width:581px;
}
.THIS .Topmargin{
    padding-top: 7.5rem;
    
}
.THIS .padd-left{
    padding-left: 250px;
}
.THIS .primaryButton{
    background-color:#F27235;
    border-color:#F27235 !important;
    padding-top:15px;
    padding-bottom:15px;
    color: #FFFFFF;
}
.THIS .leftMargin{
    margin-left: 14px;
}
.THIS .lfMargin{
    margin-left: 210px;
}
.THIS .Size{
    margin: 5px;
	padding: 10px;
}

.THIS .Phonenumber{
    
    color: #F27235;	
    font-size: 25px;
    font-weight: bold;
}

.THIS .Phonenumber1{
    
    color: #F27235;	
    font-size: 25px;
    font-weight: bold;
}


.THIS .slds-p-horizontal_x-large {
    padding-left: 2rem;
    padding-right: 2.5rem;
}


@media (min-width: 48em){
.THIS .slds-medium-size_3-of-5 {
    width: 57.5%;
    }
}

@media (min-width: 30em) {
.THIS .slds-order_1 { 
        order: 1;
    }

}