<!--
  @Component Name     : salesRepCalendar.html
  @Description        : Sales Rep Calendar Lightning web Component
  @Author             : Demand Chain (James Loghry)
  @Last Modified By   : James Loghry (Demand Chain)
  @Last Modified On   : 5/13/2019, 9:53:16 AM
  @Modification Log   : Created.
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/22/2019, 11:32:40 AM   Demand Chain (James Loghry)     Initial Version
-->
<template> 
    <template if:true={showStoreOptions}>
        <c-modal show-header visible={showStoreOptions} modal-size="small">
            <div slot="header">Which Store / Territory?</div>
            <div slot="content" class="storebox">
                <lightning-combobox
                    name="Store"
                    label="Store"
                    value={store}
                    placeholder="Select Available Store"
                    options={wiredData.data.storeOptions}
                    onchange={handleStoreChange}
                >
                </lightning-combobox>
            </div>
        </c-modal>
    </template>

    <template if:true={wiredData.error}>
        <c-error-panel error={wiredData.error}></c-error-panel>
    </template>

    <template if:true={error}>
        <c-error-panel error={error}></c-error-panel>
    </template>

    <template if:true={wiredData.data}>
        <lightning-card title={wiredData.data.title}>
            <div slot="actions">
                <button class="slds-button slds-button_neutral activeslot" onclick={handleShowStoreOptions} slot="otherActions">
                    <lightning-icon icon-name="utility:edit" variant="inverse" size="x-small"></lightning-icon>
                    &nbsp;Store: {storeLabel}
                </button>
                <template if:true={isWeekView}>
                    <button class="slds-button slds-button_neutral activeslot" onclick={handleDisplayMonthView} slot="otherActions">
                        <lightning-icon icon-name="utility:event" variant="inverse" size="x-small"></lightning-icon>
                        &nbsp;View Month
                    </button>
                </template>
                <template if:true={isMonthView}>
                    <button class="slds-button slds-button_neutral activeslot" onclick={handleDisplayWeekView} slot="otherActions">
                        <lightning-icon icon-name="utility:event" variant="inverse" size="x-small"></lightning-icon>
                        &nbsp;View Week
                    </button>
                </template>
            </div>
            <div class="titleRowContainer">
                <lightning-layout>
                    <lightning-layout-item size="3">
                        <div class="previousContainer"><lightning-button-icon icon-name="utility:back" data-increment="-1" onclick={handleChangePeriod}></lightning-button-icon></div>
                    </lightning-layout-item>
                    <lightning-layout-item size="6">
                        <div class="titleContainer"><h1 class="periodTitle">{title}</h1></div>
                    </lightning-layout-item>
                    <lightning-layout-item size="3">
                        <div class="nextContainer"><lightning-button-icon icon-name="utility:forward" data-increment="1" onclick={handleChangePeriod}></lightning-button-icon></div>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
            <div class="calendarMonthContainer">
                <lightning-layout>
                    <lightning-layout-item size="12">
                        <template if:true={isWeekView}>
                            <div class="weekEditView">
                                <template for:each={wiredData.data.days} for:item="day" for:index="dayIndex">
                                    <div class="dayEdit" key={day.day}>
                                        <div class="dayEditContainer">
                                            <div class="dayLabel">{day.label}</div>
                                            <lightning-accordion>
                                                <template for:each={day.slots} for:item="slot">
                                                    <lightning-accordion-section name={slot.slot} label={slot.label} key={slot.slot}>
                                                        <lightning-card title="Off">
                                                            <template if:true={slot.unavailableUsers}>
                                                                <template if:false={displayEditWeekButtons}>
                                                                    <p class="notice">Please select a specific store in order to assign capacity.</p>
                                                                </template>
                                                            </template>
                                                            <template for:each={slot.unavailableUsers} for:item="user">
                                                                <template if:true={displayEditWeekButtons}>
                                                                    <p class="repCapacity" key={user.Id}
                                                                    >
                                                                        <template if:false={day.isPastDated}>
                                                                            <button class="slds-button slds-button_neutral addCapacity" data-date={day.formatted} data-user-id={user.Id}
                                                                                data-slot-id={slot.slotId} onclick={handleAddCapacity}>
                                                                                <lightning-icon icon-name="utility:add" variant="inverse" size="x-small"></lightning-icon>
                                                                                &nbsp;{user.Name}
                                                                            </button>
                                                                        </template>
                                                                        <template if:true={day.isPastDated}>
                                                                            <button class="slds-button slds-button_neutral addCapacityInactive">{user.Name}</button>
                                                                        </template>
                                                                    </p>
                                                                </template>
                                                                <template if:false={displayEditWeekButtons}>
                                                                    <p class="repCapacity" key={user.Id}>
                                                                        <button class="slds-button slds-button_neutral addCapacityInactive">{user.Name}</button>
                                                                    </p>
                                                                </template>
                                                            </template>
                                                        </lightning-card>
                                                        <lightning-card title="On">
                                                            <template for:each={slot.availableUsers} for:item="user">
                                                                <p class="repCapacity" key={user.Id}>
                                                                    <button class="slds-button slds-button_neutral addCapacityInactive">{user.Name}</button>
                                                                </p>
                                                            </template>
                                                        </lightning-card>
                                                        <lightning-card title="Assigned">
                                                            <template for:each={slot.assignedUsers} for:item="user">
                                                                <p class="repCapacity" key={user.Id}>
                                                                    <button class="slds-button slds-button_neutral addCapacityInactive">{user.Name}</button>
                                                                </p>
                                                            </template>
                                                        </lightning-card>
                                                        
                                                    </lightning-accordion-section>
                                                </template>
                                            </lightning-accordion>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </template>
                        <template if:true={isMonthView}>
                            <template for:each={wiredData.data.weeks} for:item="week" for:index="weekIndex">
                                <template for:each={week.days} for:item="day" for:index="dayIndex">
                                    <div class="dayOfMonthBox" key={day.day}>
                                        <div class="dayOfMonthContainer">
                                            <div class="dayLabel">{day.label}</div>
                                            <div class="capacityContainer">
                                                <div class="capacityInformation">
                                                    <p>{day.appointmentCount} / {day.capacityCount}</p>
                                                        <template if:true={day.displayEditWeek}>
                                                            <button class="slds-button slds-button_neutral activeslot editweek" data-day={day.formatted} onclick={handleEditWeek}>
                                                                <lightning-icon icon-name="utility:edit" variant="inverse" size="x-small"></lightning-icon>
                                                                &nbsp;Edit Week
                                                            </button>
                                                        </template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </template>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </lightning-card>
    </template>
</template>