.dayOfMonthBox{
    width: 14.2857%;
    padding-bottom: 14.2857%;
    margin-left: 0px;
    float: left;
    position: relative;
    /*min-height: 20rem;*/
}

.dayOfMonthContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    border: 1px solid rgb(221, 219, 218);
}

.dayOfMonthMiniContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    background: rgb(255, 255, 255);
}

.dayLabel{
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
}

.dayLabelMini{
    padding: 0.25rem;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: red;
    color: white;
}

.dayLabelMiniText{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.miniView{
    border: radius;
    background-color: red;
    color: white;
    border-radius: 50px;
    padding: 0.25rem;
}

.calendarMonthContainer{
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    overflow: scroll;
}

.titleRowContainer{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.titleContainer{
    text-align: center;
}

.previousContainer{
    text-align: left;
}

.nextContainer{
    text-align: right;
}

.viewSelector{
    text-align: right;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.periodTitle{
    font-size: 1.2rem;
}

.capacityContainer{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
}

.capacityInformation{
    font-size: 2rem;
    color: #f47a3f;
    font-weight: 600;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto;
}

.activeslot, .activeslot:hover,.activeslot:focus,.inactiveslot:hover,.inactiveslot:focus{
    background-color: #828F69;
    color: #FFFFFF;
    border-color: #828F69;
    font-weight: 600;
}

.storebox{
    min-height: 20em;
}

.editweek{
    font-size: 1rem;
    width: 90%;
}

.dayEdit{
    width: 14.2857%;
    padding-bottom: 14.2857%;
    margin-left: 0px;
    float: left;
    position: relative;
    min-height: 100rem;
}

.dayEditContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    border: 1px solid rgb(221, 219, 218);
    font-weight: 600;
    color: #f47a3f;
}

.repCapacity{
    font-weight: normal;
    color: #000;
    width: 100%;
    margin: 0.5rem;
}

.addCapacity{
    width: 100%;
    background-color: #828F69;
    color: #FFFFFF;
    border-color: #828F69;
}

.addCapacityInactive{
    width: 100%;
    background-color: #FFFFFF;
    color: #828F69;
    border-color: #828F69;
}

.addCapacityP{
    margin: 0.5rem;
}

.notice{
    font-weight: normal;
    color: #000000;
}