<!--
  @Component Name     : myAppointments.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 6/10/2019, 11:00:24 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    2/6/2019, 9:54:03 AM   Demand Chain (James Loghry)     Initial Version
-->
<template>
    <template if:true={error}>
        <c-error-panel error={error}></c-error-panel>
    </template>
    <template if:true={appointmentsWrapper}>
        <template if:false={appointmentsWrapper.displayNotResultedWarning}>
            <template if:false={appointmentsWrapper.showResultedAppointments}>
                <c-error-panel error="You have not resulted your previous appointments.  Please go back and result your prior appointments."></c-error-panel>
            </template>
        </template>

        <template if:true={appointmentsWrapper.displayNotResultedWarning}>
            <c-error-panel error="You are seeing this message because you have not resulted appointments for this day."></c-error-panel>
        </template>

        <template if:true={appointmentsWrapper.displayNotConfirmedWarning}>
            <c-error-panel error="You are seeing this message because your sales manager has assigned you an appointment for this day, but has not yet confirmed the appointments.  Please ask the sales manager to confirm the appointments first, and then result the appointment(s)."></c-error-panel>
        </template>

        <lightning-layout multiple-rows>

            <template if:true={appointmentsWrapper}>
                <lightning-layout-item flexibility="auto" padding="around-small">
        <c-sales-sched-header day={dayFormatted} ondaychange={handleDayChange}>
                        <template if:true={appointmentsWrapper.allowRepAppointments}>
                            <div slot="actions">
                                <button class="slds-button slds-button_neutral activeslot"
                                    style="margin-top: 0.5rem" onclick={handleClickCreateAppointment}>Create Appointment</button>
                            </div>
                        </template>
                        <lightning-layout multiple-rows>
                            <lightning-layout-item size="6" small-device-size="12" medium-device-size="12" large-device-size="6" padding="around-small">
                                <div class="dashboardcard">
                                    <lightning-card title="Appointments">
                                        <div class="dashboardtext">{appointmentsWrapper.appointments.length}</div>
                                    </lightning-card>
                                </div>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" small-device-size="12" medium-device-size="12" large-device-size="6"  padding="around-small">
                                <div class="dashboardcard">
                                    <lightning-card title="Available Capacity">
                                        <!--template if:true={appointmentsWrapper.unassignedSlots}>
                                            <div class="dashboardtext">{appointmentsWrapper.unassignedSlots.length}</div>
                                            <template for:each={appointmentsWrapper.unassignedSlots} for:item="capacity">
                                                <lightning-badge label={capacity.Slot__r.Name} key={capacity.Id}></lightning-badge>
                                            </template>
                                        </template>
                                        <template if:false={appointmentsWrapper.unassignedSlots}>
                                            <div class="dashboardtext">0</div>
                                        </template>-->
                                        <div class="dashboardtext">{appointmentsWrapper.available.length}</div>
                                    </lightning-card>
                                </div>
                            </lightning-layout-item>
                        </lightning-layout>
                   
                    </c-sales-sched-header>
                </lightning-layout-item>
                <lightning-layout-item size="12" padding="around-small">
                    <lightning-card title="My Appointments">
                        <lightning-layout multiple-rows>
                            <template if:true={appointmentsWrapper.appointments}>
                                <template for:each={appointmentsWrapper.appointments} for:item="wrapper">
                                    <lightning-layout-item size="12" large-device-size="3" medium-device-size="6" small-device-size="12" key={wrapper.appointment.Id} padding="around-small">
                                        <c-sales-sched-appointment-card
                                            wrapper={wrapper}
                                            show-resulted-details={appointmentsWrapper.showResultedAppointments}
                                            payment-type-options={paymentTypeOptions}
                                            result-options={resultOptions}
                                            yes-no-options={yesNoOptions}
                                            onrefreshappointments={handleRefreshAppointments}>
                                        </c-sales-sched-appointment-card>
                                    </lightning-layout-item>
                                </template>
                            </template>
                        </lightning-layout>
                    </lightning-card>
                </lightning-layout-item>
           
                <template if:true={appointmentsWrapper.manager}>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-card title="Contact My Manager">
                            <lightning-tile type="media" label={appointmentsWrapper.manager.Name} class="slds-p-around_small">
                                <span slot="media">
                                    <img src={appointmentsWrapper.manager.SmallPhotoUrl} class="avatar"></img>
                                </span>
                                <ul class="slds-list_horizontal slds-has-dividers_right">
                                    <template if:true={appointmentsWrapper.manager.Email}>
                                        <li class="slds-item slds-truncate"><c-link protocol="mailto:" domain={appointmentsWrapper.manager.Email}>{appointmentsWrapper.manager.Email}</c-link></li>
                                    </template>
                                    <template if:true={appointmentsWrapper.manager.MobilePhone}>
                                        <li class="slds-item slds-truncate"><c-link protocol="tel:" domain={appointmentsWrapper.manager.MobilePhone}>{appointmentsWrapper.manager.MobilePhone}</c-link></li>
                                    </template>
                                    <template if:false={appointmentsWrapper.manager.MobilePhone}>
                                        <template if:true={appointmentsWrapper.manager.Phone}>
                                            <li class="slds-item slds-truncate"><c-link protocol="tel:" domain={appointmentsWrapper.manager.Phone}>{appointmentsWrapper.manager.Phone}</c-link></li>
                                        </template>
                                    </template>
                                </ul>
                            </lightning-tile>
                        </lightning-card>
                    </lightning-layout-item>
                </template>
            </template>
      
        </lightning-layout>
    
    </template>
</template>