.dashboardcard{
    margin: 1px;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.dashboardtext{
    font-size: 2em;
    color: #f47a3f;
    text-align: center;
    font-weight: 600;
    -webkit-text-size-adjust: 120%;
}
.flex-container {
    display: flex;
  }