<!--
  @Component Name     : storeManager.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 11/29/2019, 9:48:26 AM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/23/2019, 5:59:04 PM   Demand Chain (James Loghry)     Initial Version
-->
<template>
        <template if:true={user}>
            <lightning-tile type="media" label={user.Name}>
                <span slot="media">
                    <img src={user.SmallPhotoUrl} class="avatar"></img>
                </span>
                <template if:true={primary}>
                    <p>Primary</p>
                </template>
                <template if:true={user.Contact.MobilePhone}>
                    <p><lightning-formatted-phone value={user.Contact.MobilePhone} ></lightning-formatted-phone></p>              
                </template>
                <template if:true={user.Contact.Phone}>
                    <p><lightning-formatted-phone value={user.Contact.Phone}></lightning-formatted-phone></p>
                </template>
                <template if:true={user.Email}>
                    <p title={user.Email} style = "overflow: hidden;"><lightning-formatted-email value={user.Email}></lightning-formatted-email></p>
                </template>
            </lightning-tile>
        </template>
    </template>