.THIS .order-picker{
    font-size: 18px;
    color: grey;
}
.THIS .changeBGColor
{
    background:#CFCDCB;
}
.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
    /*width:200px;*/
}