<template>
  <div
    class="slds-border_left slds-border_top slds-border_right slds-border_bottom"
  >
    <div class="slds-page-header slds-page-header_related-list">
      <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
          <div class="slds-media">
            <div class="slds-media__body">
              <div class="slds-page-header__name">
                <div class="slds-page-header__name-title">
                  <h2
                    class="slds-card__header-title slds-card__header-link slds-truncate"
                  >
                    <lightning-icon
                      class="slds-var-m-right_small"
                      icon-name="custom:custom23"
                      size="small"
                    ></lightning-icon>
                    {title}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-page-header__col-actions">
          <div class="slds-page-header__controls">
            <div class="slds-page-header__control">
              <lightning-button-group>
                <lightning-button
                  label="New Purchase Order"
                  title="New Purchase Order"
                  onclick={handleNewPOClick}
                  disabled={disableNewPurchaseOrderButton}
                >
                </lightning-button>
              </lightning-button-group>
            </div>
          </div>
        </div>
      </div>
    </div>

    <template if:true={showData}>
      <lightning-datatable
        class="data-table"
        key-field="id"
        data={recordList}
        columns={columnList}
        hide-checkbox-column="true"
        onrowaction={handleRowAction}
      >
      </lightning-datatable>
    </template>
  </div>

  <template if:true={showNewPOModal}>
    <section
      role="dialog"
      tabindex="-1"
      class="slds-modal slds-fade-in-open slds-modal_medium"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
    >
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <lightning-button-icon
            class="slds-modal__close"
            title="Close"
            icon-name="utility:close"
            icon-class="slds-button_icon-inverse"
            onclick={handleCancelPOClick}
            disabled={disablePOCancelButton}
          >
          </lightning-button-icon>
          <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
            Create New Purchase Order
          </h2>
        </header>
        <div
          class="slds-modal__content slds-var-p-around_medium slds-is-relative"
          id="modal-content-id-1"
        >
          <lightning-card>
            <lightning-combobox
              class="slds-size_1-of-2"
              label="Vendor"
              placeholder="Select a Vendor"
              options={vendorList}
              value={selectedVendorId}
              onchange={handleVendorChange}
            >
            </lightning-combobox>

            <lightning-record-edit-form
              class="slds-size_1-of-2"
              object-api-name="Purchase_Order__c"
              record_type_id={newPO.RecordTypeId}
              density="comfy"
            >
              <div class="slds-grid">
                <div
                  class="slds-col slds-size_1-of-2 slds-var-m-top_medium slds-var-m-bottom_medium"
                >
                  <lightning-input-field
                    field-name="Store_Location__c"
                    value={newPO.Store_Location__c}
                    onchange={handlePOStoreLocationChange}
                  >
                  </lightning-input-field>
                </div>

                <div
                  class="slds-col slds-size_1-of-2 slds-var-m-top_medium slds-var-m-bottom_medium"
                >
                  <lightning-input-field
                    field-name="Requested_Ship_Date__c"
                    onchange={handlePOReqShipDateChange}
                  >
                  </lightning-input-field>
                </div>
              </div>
            </lightning-record-edit-form>

            <lightning-datatable
              class="data-table"
              key-field="id"
              data={productRecordList}
              columns={productColumnList}
              hide-checkbox-column
            >
            </lightning-datatable>
            <template if:true={noProductsAvailable}>
              <div class="slds-var-m-around_medium">No Products Available</div>
            </template>
          </lightning-card>

          <template if:true={showSpinner}>
            <lightning-spinner
              alternative-text="Saving..."
              size="large"
            ></lightning-spinner>
          </template>
        </div>
        <footer class="slds-modal__footer">
          <lightning-button
            class="slds-button"
            label="Cancel"
            title="Cancel"
            onclick={handleCancelPOClick}
            disabled={disablePOCancelButton}
          >
          </lightning-button>
          <lightning-button
            class="slds-button"
            variant="brand"
            label="Save"
            title="Save"
            onclick={handleSavePOClick}
            disabled={disablePOSaveButton}
          >
          </lightning-button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
</template>
