.THIS .border {
    Position: absolute;
	    border-radius: 0.85rem;
    Bottom: 75px;
}
.THIS .customButton{
    background-color: #a1c7b3;
    color: #a1c7b3; 
 }

 .ytp-button {
    border-color: #5d5b51;
    border-width: 2px;
    color: #5d5b51;
    background-color:#a1c7b3;
    margin: 6px;
}

.ytp-button-title {
    margin: 4px;
}

.ytp-button-icon {
    fill:#a1c7b3;
    vertical-align: center;
}