.THIS hr{margin:1em 0}.THIS .event .date{text-transform:uppercase}.THIS .event .date .dow{font-size:3.5rem;line-height:3rem;margin-left:-.5rem;letter-spacing:-.5rem}.THIS .event .date .month{line-height:1rem;margin-left:.25rem}