.THIS .section {
    
    border: 1px solid black;
    border-radius:15px;
    
}
.THIS .sec-title{
    font-size: 24px;
    padding-left: 1rem;
    text-transform: uppercase;
    font-weight:bold;
   
}
.THIS .Sec-Sub-title{
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 1rem;
}
.THIS .sec-text{
    
    padding-left: 1rem;
    line-height: 1.8;
}
.THIS .title
{
   font-size: 18px; 
    line-height: 1.8;
}
.THIS .Activity {
  
     text-transform: uppercase;
}

.THIS.hideDiv, 
.THIS .hideDiv {
    display:none;
}