<template>
    <lightning-record-edit-form
        id="recordViewForm"
        record-type-id={recordTypeId}
        object-api-name={objectApiName}
        onsuccess={handleSuccess}
        onsubmit={handleSubmit}>
        <lightning-messages></lightning-messages>
        <lightning-card>
            <h3 slot="title" class='slds-align_absolute-center'>
                    Create Purchase Order
            </h3>            
            <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field disabled value={vendor} field-name="Vendor__c"></lightning-input-field>               
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field disabled field-name="Status__c"></lightning-input-field>                
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field disabled value={storeId} field-name="Store_Location__c"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field disabled value={storeNumber} field-name="Store_Number__c"></lightning-input-field> 
                </lightning-layout-item>
                <!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Estimated_Ship_Date__c"></lightning-input-field>
                </lightning-layout-item> -->
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Requested_Ship_Date__c"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field disabled value={recordId} field-name="Order__c"></lightning-input-field>
                </lightning-layout-item>
                <!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Confirmation_Number__c"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Name"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Invoice_Number__c"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Subtotal__c"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Tax__c"></lightning-input-field>
                </lightning-layout-item> -->
            </lightning-layout>
            <!-- <lightning-input-field field-name="Store_Abbreviation__c"></lightning-input-field> -->
            <!-- <lightning-input-field field-name="PO_System_Number__c"></lightning-input-field> --> 
            <!-- <lightning-input-field field-name="Total__c"></lightning-input-field> -->
            <!-- <lightning-input-field field-name="Confirmed_Timestamp__c"></lightning-input-field>
            <lightning-input-field field-name="Rejection_Timestamp__c"></lightning-input-field>
            <lightning-input-field field-name="Released_Timestamp__c"></lightning-input-field>
            <lightning-input-field field-name="Submitted_Timestamp__c"></lightning-input-field> -->
            <lightning-input-field field-name="Comments__c"></lightning-input-field>
            <div slot="footer">
                <lightning-button type="submit"
                    label="Save"
                    disabled={isButtonDisabled}
                    class="slds-m-top_medium">
                </lightning-button>
                <lightning-button 
                    label="Cancel"
                    class="slds-m-top_medium"
                    disabled={isButtonDisabled}
                    onclick={handleCancel}>
                </lightning-button>
            </div>

        </lightning-card>

    </lightning-record-edit-form>
</template>