.THIS{font-style:italic;color:#fff;background:token(brandColor)}.THIS .slds-p-vertical_large{margin-bottom:0}.THIS a:link,.THIS a:visited{font-weight:700;color:#fff}.THIS a:active,.THIS a:hover{color:#fff}@media screen and (max-width:767px){.THIS a{font-size:.85rem}}