<!--
@Component Name     : storeManager.html
@Description        :
@Author             : Demand Chain (James Loghry)
@Group              :
@Last Modified      : Ramya Bangalore
@Last Modified On   : 12/4/2019, 9:50:00 AM
@Modification Log   :
==============================================================================
Ver         Date                     Author            Modification
==============================================================================
1.0.0    1/23/2019, 5:59:04 PM   Demand Chain (James Loghry)     Initial Version
-->
<template>
    <lightning-layout multiple-rows>
        <template if:true={error}>
            <lightning-layout-item size="12" padding="around-small">
                <c-error-panel error={error}></c-error-panel>
            </lightning-layout-item>
        </template>
        <template if:true={dashboard}>
            <template if:true={showStoreOptions}>
                <c-modal show-header visible={showStoreOptions} modal-size="small">
                    <div slot="header">Which Store / Territory?</div>
                    <div slot="content" class="storebox">
                        <lightning-combobox name="Store" label="Store" value={store}
                            placeholder="Select Available Store" options={storeoptions} onchange={handleStoreChange}>
                        </lightning-combobox>
                    </div>
                </c-modal>
            </template>
            <lightning-layout-item size="12" padding="around-small">
                <c-sales-sched-header day={dashboard.day} ondaychange={handleDayChange}>
                    <button class="slds-button slds-button_neutral activeslot" onclick={handleShowStoreOptions}
                        slot="otherActions">
                        <lightning-icon icon-name="utility:edit" variant="inverse" size="x-small"></lightning-icon>
                        &nbsp;Store: {store}
                    </button>
                    <button class={appointmentsButtonCSS} onclick={handleAppointments} slot="otherActions">View Capacity
                        / Manage Appointments</button>
                    <button class={teamButtonCSS} onclick={handleTeam} slot="otherActions">My Team</button>
                    <lightning-layout>
                        <lightning-layout-item size="2" padding="around-small">
                            <div class="dashboardcard">
                                <lightning-card title="# Appointments / Capacity">
                                    <div class="dashboardtext">{dashboard.appointments} / {dashboard.capacities}</div>
                                </lightning-card>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" padding="around-small">
                            <div class="dashboardcard" title="Sale" onclick={showSalesResults}>
                                <lightning-card title="Sale Results">
                                    <div class="dashboardtext">{dashboard.saleResults} - $ <lightning-formatted-number
                                            value={dashboard.TotalSalesAmount} type="currency" currency-code="USD">
                                        </lightning-formatted-number>
                                    </div>
                                </lightning-card>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" padding="around-small">
                            <div class="dashboardcard" title="Demo No Sale" onclick={showSalesResults}>
                                <lightning-card title="Demo No Sale Results">
                                    <div class="dashboardtext">{dashboard.demoNoSaleResults}</div>
                                </lightning-card>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" padding="around-small">
                            <div class="dashboardcard" title="No Demo" onclick={showSalesResults}>
                                <lightning-card title="No Demo Results">
                                    <div class="dashboardtext">{dashboard.noDemoResults}</div>
                                </lightning-card>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" padding="around-small">
                            <div class="dashboardcard" title="Not Home" onclick={showSalesResults}>
                                <lightning-card title="Not Home Results">
                                    <div class="dashboardtext">{dashboard.notHomeResults}</div>
                                </lightning-card>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" padding="around-small">
                            <div class="dashboardcard" title="Not Covered" onclick={showSalesResults}>
                                <lightning-card title="Not Covered Results">
                                    <div class="dashboardtext">{dashboard.notCoveredResults}</div>
                                </lightning-card>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </c-sales-sched-header>
            </lightning-layout-item>
            <template if:false={showTeam}>
                <lightning-layout-item size="12" padding="around-small">
                    <article class="slds-card">
                        <div class="slds-card__header slds-grid">
                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__figure">
                                </div>
                                <div class="slds-media__body">
                                    <h2 class="slds-card__header-title">

                                        <div class="slds-grid slds-gutters">
                                            <template for:each={countapptcapp} for:item="apptslot">
                                                <div class="slds-col" key={apptslot.key}>
                                                    <span class="slds-box slds-box_xx-small "
                                                        style="font-size: medium; font-weight: bold;"> {apptslot.key} :
                                                        {apptslot.value} &nbsp; </span>
                                                </div>
                                            </template>
                                        </div>
                                    </h2>
                                </div>
                                <div slot="actions">
                                    <template if:true={dashboard.makeFinalizeButtonAvailable}>
                                        <button class="slds-button slds-button_neutral activeslot"
                                            onclick={handleShowConfirmModal}>
                                            <lightning-icon icon-name="utility:check" variant="inverse" size="x-small">
                                            </lightning-icon>
                                            &nbsp;Finalize Assignments
                                        </button>
                                    </template>
                                    <template if:false={dashboard.makeFinalizeButtonAvailable}>
                                        <button class="slds-button slds-button_neutral inactiveFinalizeButton">
                                            Finalize Assignments
                                        </button>
                                    </template>
                                </div>
                            </header>
                        </div>
                        <div class="slds-card__body slds-card__body_inner">
                            <template if:true={isStoreChanged}>
                                <c-sales-sched-rep-report report={dashboard.repReports} slots={dashboard.slots}
                                    salesrepoptions={dashboard.salesRepOptions} appointments={appointments.data}
                                    appcapcount={countapptcapp} apptcapacity={dashboard.slotApptcapacity}
                                    onrefresh={refresh}>
                                </c-sales-sched-rep-report>
                            </template>
                            <template if:false={isStoreChanged}>
                                <c-sales-sched-rep-report report={dashboard.repReports} slots={dashboard.slots}
                                    salesrepoptions={dashboard.salesRepOptions} appointments={appointments.data}
                                    appcapcount={countapptcapp} apptcapacity={dashboard.slotApptcapacity}
                                    onrefresh={refresh}>
                                </c-sales-sched-rep-report>
                            </template>
                        </div>

                    </article>

                    <lightning-card>

                        <!--<lightning-layout >
                    <template for:each={countapptcapp} for:item="apptslot">
                    <lightning-layout-item flexibility="auto" size="2" padding="around-small" key={apptslot.key} >
                                <div class="custom-box slds-box "> {apptslot.key}  :  {apptslot.value}</div>
                    </lightning-layout-item>
                    </template>
                    </lightning-layout>-->

                        <!--<div slot="actions">
                            <template if:true={dashboard.makeFinalizeButtonAvailable}>
                                <button class="slds-button slds-button_neutral activeslot"
                                    onclick={handleShowConfirmModal}>
                                    <lightning-icon icon-name="utility:check" variant="inverse" size="x-small">
                                    </lightning-icon>
                                    &nbsp;Finalize Assignments
                                </button>
                            </template>
                            <template if:false={dashboard.makeFinalizeButtonAvailable}>
                                <button class="slds-button slds-button_neutral inactiveFinalizeButton">
                                    Finalize Assignments
                                </button>
                            </template>
                        </div> -->

                        <!--<c-sales-sched-rep-report report={dashboard.repReports} slots={dashboard.slots}
                            salesrepoptions={dashboard.salesRepOptions} appointments={appointments.data}  
                            appcapcount={countapptcapp} apptcapacity={dashboard.slotApptcapacity}
                            onrefresh={refresh}>
                        </c-sales-sched-rep-report>-->
                        <lightning-layout>
                            <lightning-layout-item padding="around-small">
                                <lightning-tile label="Available Capacity" type="media">
                                    <button class="slds-button slds-button_neutral inverse" slot="media">A</button>
                                    <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <li class="slds-item">Indicates this capacity is available.</li>
                                    </ul>
                                </lightning-tile>
                            </lightning-layout-item>
                            <lightning-layout-item padding="around-small">
                                <lightning-tile label="Appointment Scheduled" type="media">
                                    <button class="slds-button slds-button_neutral base" slot="media">#</button>
                                    <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <li class="slds-item">Appointment scheduled (no notifications).</li>
                                    </ul>
                                </lightning-tile>
                            </lightning-layout-item>
                            <lightning-layout-item padding="around-small">
                                <lightning-tile label="Distance Warning" type="media">
                                    <button class="slds-button slds-button_neutral destructive" slot="media">#</button>
                                    <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <li class="slds-item">Indicates appointment is far from previous or home base.
                                        </li>
                                    </ul>
                                </lightning-tile>
                            </lightning-layout-item>
                            <lightning-layout-item padding="around-small">
                                <lightning-tile label="Enabled" type="media">
                                    <button class="slds-button slds-button_neutral success" slot="media">#</button>
                                    <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <li class="slds-item">Indicates appointment is assigned through Enable.</li>
                                    </ul>
                                </lightning-tile>
                            </lightning-layout-item>
                            <lightning-layout-item padding="around-small">
                                <lightning-tile label="Manually Assigned" type="media">
                                    <button class="slds-button slds-button_neutral brand" slot="media">#</button>
                                    <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <li class="slds-item">Indicates appointment manually assigned.</li>
                                    </ul>
                                </lightning-tile>
                            </lightning-layout-item>
                        </lightning-layout>
                    </lightning-card>
                </lightning-layout-item>
            </template>
        </template>

        <lightning-layout-item size="12" padding="around-small">
            <template if:true={showTeam}>
                <lightning-card title="My Team">
                    <c-sales-sched-my-team store={store}></c-sales-sched-my-team>
                </lightning-card>
            </template>
            <template if:true={showAppointments}>
                <lightning-card title="Appointments">
                    <template if:true={appointments}>
                        <div slot="actions">
                            <button class="slds-button slds-button_neutral inactiveslot" onclick={handleAutoAssign}>Auto
                                Assign</button>
                            <!--<button class="slds-button slds-button_neutral inactiveslot" onclick={handleAutoAssign2}>Auto
                                    Assign 2</button>-->
                        </div>
                        <!-- SS-246 Start -->
                        <lightning-datatable data-id="AMAppointments" key-field="id" data={AMAppointments}
                            columns={AppointmentCols} hide-table-header={showAMAppointments} hide-checkbox-column="true"
                            onrowaction={handleShowAssign}>
                        </lightning-datatable>
                        <template if:true={showAMAppointments}>
                            <br />
                        </template>
                        <!--<template if:true={showEARLYAMAppointments}> -->
                        <!--  <lightning-card  class="slds-card_boundary" title= "EARLY AM"> -->
                        <lightning-datatable key-field="id" data-id="EARLYAMAppointments" data={EARLYAMAppointments}
                            columns={AppointmentCols} hide-table-header={showEARLYAMAppointments}
                            hide-checkbox-column="true" onrowaction={handleShowAssign}>
                        </lightning-datatable>
                        <!--   </lightning-card> -->
                        <!--  </template>  -->
                        <template if:true={showEARLYAMAppointments}>
                            <br />
                        </template>
                        <!--  <template if:true={showLATEAMAppointments}>-->
                        <!--    <lightning-card  class="slds-card_boundary" title= "LATE AM">  -->
                        <lightning-datatable key-field="id" data-id="LATEAMAppointments" data={LATEAMAppointments}
                            columns={AppointmentCols} hide-table-header={showLATEAMAppointments}
                            hide-checkbox-column="true" onrowaction={handleShowAssign}>
                        </lightning-datatable>
                        <!--   </lightning-card> -->
                        <!--    </template> -->
                        <template if:true={showLATEAMAppointments}>
                            <br />
                        </template>
                        <lightning-datatable key-field="id" data-id="MidAppointments" data={MIDAppointments}
                            columns={AppointmentCols} hide-table-header={showMidAppointments}
                            hide-checkbox-column="true" onrowaction={handleShowAssign}>
                        </lightning-datatable>
                        <template if:true={showMidAppointments}>
                            <br />
                        </template>
                        <!-- <template if:true={showEARLYPMAppointments}> -->
                        <!--  <lightning-card  class="slds-card_boundary" title= "EARLY PM"> -->
                        <lightning-datatable key-field="id" data-id="EARLYPMAppointments" data={EARLYPMAppointments}
                            columns={AppointmentCols} hide-table-header={showEARLYPMAppointments}
                            hide-checkbox-column="true" onrowaction={handleShowAssign}>
                        </lightning-datatable>
                        <!--  </lightning-card> -->
                        <!-- </template> -->
                        <template if:true={showEARLYPMAppointments}>
                            <br />
                        </template>
                        <!--  <template if:true={showLATEPMAppointments}> -->
                        <!--    <lightning-card  class="slds-card_boundary" title= "LATE PM"> -->
                        <lightning-datatable key-field="id" data-id="LATEPMAppointments" data={LATEPMAppointments}
                            columns={AppointmentCols} hide-table-header={showLATEPMAppointments}
                            hide-checkbox-column="true" onrowaction={handleShowAssign}>
                        </lightning-datatable>
                        <!--  </lightning-card> -->
                        <!-- </template> -->
                        <template if:true={showLATEPMAppointments}>
                            <br />
                        </template>
                        <lightning-datatable key-field="id" data-id="PMAppointments" data={PMAppointments}
                            columns={AppointmentCols} hide-table-header={showPMAppointments} hide-checkbox-column="true"
                            onrowaction={handleShowAssign}>
                        </lightning-datatable>
                        <!-- <ul class="slds-has-dividers_bottom-space" style="text-align:left">
                            <template for:each={appointments.data} for:item="appointment">
                                <li class="slds-item" key={appointment.appntment.Id}>
                                    <div class="appointment">
                                        <lightning-card variant="Narrow"
                                            title={appointment.appntment.Sales_Order__r.Opportunity__r.Account.Name}
                                            icon-name="standard:account">
                                            <button slot="actions" class="slds-button slds-button_neutral inactiveslot"
                                                onclick={handleShowAssign}
                                                data-appointmentid={appointment.appntment.Id}>View and Assign</button>
                                            <dl class="slds-dl_horizontal" style="width:60%">
                                                <template if:true={appointment.primaryCont}>
                                                    <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                        <p class="slds-truncate" title="Appointment Time">Primary
                                                            Contact</p>
                                                    </dt>
                                                    <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                        {appointment.primarycontact.Name}
                                                    </dd>
                                                </template>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Appointment Time">Address</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <lightning-formatted-address
                                                        street={appointment.appntment.Sales_Order__r.Opportunity__r.Account.ShippingStreet}
                                                        city={appointment.appntment.Sales_Order__r.Opportunity__r.Account.ShippingCity}
                                                        country={appointment.appntment.Sales_Order__r.Opportunity__r.Account.ShippingCountry}
                                                        province={appointment.appntment.Sales_Order__r.Opportunity__r.Account.ShippingState}
                                                        postal-code={appointment.appntment.Sales_Order__r.Opportunity__r.Account.ShippingPostalCode}>
                                                    </lightning-formatted-address>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Appointment Time">Appointment Time
                                                    </p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <lightning-formatted-date-time
                                                        value={appointment.appntment.Appointment_Date_Time__c}
                                                        month="numeric" day="numeric" hour="2-digit" minute="2-digit"
                                                        time-zone-name="short" hour12="true">
                                                    </lightning-formatted-date-time>
                                                </dd>
                                                <template
                                                    if:true={appointment.appntment.Sales_Order__r.Opportunity__r.Enabled_Marketing_Source__c}>
                                                    <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                        <p class="slds-truncate" title="Appointment Time">Source</p>
                                                    </dt>
                                                    <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                        {appointment.appntment.Sales_Order__r.Opportunity__r.Enabled_Marketing_Source__c}
                                                    </dd>
                                                </template>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Resit">Approved One Party</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <template
                                                        if:true={appointment.appntment.Sales_Order__r.Opportunity__r.Approved_One_Party__c}>Yes</template>
                                                    <template
                                                        if:false={appointment.appntment.Sales_Order__r.Opportunity__r.Approved_One_Party__c}>No</template>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Resit">Resit</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <template
                                                        if:true={appointment.appntment.Sales_Order__r.Opportunity__r.Same_Rep_Resit__c}>Yes</template>
                                                    <template
                                                        if:false={appointment.appntment.Sales_Order__r.Opportunity__r.Same_Rep_Resit__c}>No</template>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Resit">Revisit</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <template
                                                        if:true={appointment.appntment.Sales_Order__r.Opportunity__r.Revisit__c}>Yes</template>
                                                    <template
                                                        if:false={appointment.appntment.Sales_Order__r.Opportunity__r.Revisit__c}>No</template>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Resale">Resale</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <template
                                                        if:true={appointment.appntment.Sales_Order__r.Opportunity__r.Repeat_Sale__c}>Yes</template>
                                                    <template
                                                        if:false={appointment.appntment.Sales_Order__r.Opportunity__r.Repeat_Sale__c}>No</template>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Cancel or Save">Cancel/Save</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <template
                                                        if:true={appointment.appntment.Sales_Order__r.Opportunity__r.Cancel_Save__c}>Yes</template>
                                                    <template
                                                        if:false={appointment.appntment.Sales_Order__r.Opportunity__r.Cancel_Save__c}>No</template>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Appointment Time">Dwelling Style</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <lightning-formatted-text
                                                        value={appointment.appntment.Sales_Order__r.Opportunity__r.Account.Dwelling_Style__c}>
                                                    </lightning-formatted-text>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Appointment Time">Units (Windows +
                                                        Doors)</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    {appointment.appntment.Sales_Order__r.Opportunity__r.Units__c}
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Notes">Problems with Windows</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <lightning-formatted-text
                                                        value={appointment.appntment.Sales_Order__r.Opportunity__r.Window_Problems__c}>
                                                    </lightning-formatted-text>
                                                </dd>
                                                <dt class="slds-dl_horizontal__label" style="text-align:right">
                                                    <p class="slds-truncate" title="Notes">Important Lead Notes</p>
                                                </dt>
                                                <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                    <lightning-formatted-text
                                                        value={appointment.appntment.Sales_Order__r.Opportunity__r.Important_Lead_Notes__c}>
                                                    </lightning-formatted-text>
                                                </dd>
                                            </dl>
                                        </lightning-card>
                                    </div>
                                </li>
                            </template>
                        </ul> -->
                        <!-- SS-246 Stop -->
                    </template>
                    <template if:false={appointments}>
                        No unassigned appointments found.
                    </template>
                </lightning-card>
            </template>
        </lightning-layout-item>
    </lightning-layout>
    <template if:true={showConfirmationModal}>
        <c-modal show-header show-footer visible={showConfirmationModal} modal-size="medium">
            <div slot="header">Send Confirmation(s)</div>
            <div slot="content">
                <template if:true={confirmationError}>
                    <c-error-panel error={confirmationError}></c-error-panel>
                </template>
                <template if:false={confirmationModal}>
                    You are about to confirm these appointments and send out e-mails to the reps.
                </template>
            </div>
            <div slot="footer">
                <button onclick={handleCloseConfirmModal}
                    class="slds-button slds-button_neutral inactiveslot">Cancel</button>
                <button onclick={handleConfirm} class="slds-button slds-button_neutral activeslot">Okay</button>
            </div>
        </c-modal>
    </template>

    <template if:true={assignappointmentid}>
        <c-sales-sched-assign-modal appointment-id={assignappointmentid} onassignmodalclose={handleAssignModalClose}
            onrefresh={refresh} unassigned></c-sales-sched-assign-modal>
    </template>

    <template if:true={displayAutoAssignModal}>
        <lightning-spinner alternative-text="Auto Assigning" size="large" variant="brand"></lightning-spinner>
    </template>

    <template if:true={salesTileAppointmentList}>
        <c-modal show-header visible={salesTileAppointmentList} show-footer modal-size="medium"
            onmodalclose={handlesalesTileModalClose}>
            <div slot="header">{salesTileModalHeading}</div>
            <div slot="content">
                <lightning-layout multiple-rows>
                    <template for:each={salesTileAppointmentList} for:item="appointment">
                        <lightning-layout-item key={appointment.appntment.Id} size="2" padding="around-small">
                            <div style="text-align : right">
                                <lightning-formatted-date-time value={appointment.appntment.Appointment_Date_Time__c}
                                    hour="2-digit" minute="2-digit" hour12="true">
                                </lightning-formatted-date-time>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item key={appointment.appntment.Id} size="10" padding="around-small">
                            <template for:each={appointment.appntment.Sales_Appointment_Resources__r}
                                for:item="ApptResource">
                                {ApptResource.Sales_Capacity__r.User__r.Name}
                            </template>
                            {appointment.BodyString}
                            <br />
                            <lightning-formatted-url label={appointment.appntment.Sales_Order__r.Opportunity__r.Name}
                                value={appointment.URL}></lightning-formatted-url>
                            <!-- <a onclick={navigateToOpportunity}
                                data-id={appointment.appntment.Sales_Order__r.Opportunity__r.Id}>
                                <span>{appointment.appntment.Sales_Order__r.Opportunity__r.Name}</span>
                            </a> -->
                        </lightning-layout-item>
                    </template>
                </lightning-layout>
            </div>
            <div slot="footer">
                <button onclick={handlesalesTileModalClose}
                    class="slds-button slds-button_neutral activeslot">Close</button>
            </div>
        </c-modal>
    </template>
</template>