.activeslot,
.activeslot:hover,
.activeslot:focus,
.inactiveslot:hover,
.inactiveslot:focus {
    background-color: #828F69;
    color: #FFFFFF;
    border-color: #828F69;
    font-weight: 600;
}

.inactiveFinalizeButton {
    background-color: #cccccc;
    color: rgb(44, 44, 44);
    border-color: #cccccc;
    font-weight: 600;
}

.dashboardcard {
    margin: 1px;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dashboardtext {
    font-size: 2em;
    color: #f47a3f;
    text-align: center;
    font-weight: 600;
}

.inactiveslot {
    background-color: #DEE6D2 !important;
    color: #555555 !important;
}

.storebox {
    min-height: 20em;
}

.inverse {
    color: black;
    background-color: #cccccc;
    min-width: 2rem;
}

.base {
    color: black;
    background-color: white;
    min-width: 2rem;
}

.destructive {
    color: white;
    background-color: red;
    min-width: 2rem;
}

.success {
    color: black;
    background-color: yellow;
    min-width: 2rem;
}

.brand {
    color: white;
    background-color: blue;
    min-width: 2rem;
}

.slds-theme--success {
    color: rgb(34, 2, 0);
    background-color: rgb(222, 222, 210);
}