<template>
    <lightning-card title="Work Order" icon-name="standard:work_order">
        <template if:true={contact.data}>
            <div class="slds-section slds-is-open slds-box">
                <div aria-hidden="false" class="slds-section__content" id="section1">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Work Order Number</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{contact.data.WorkOrderNumber}</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Work Type</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span if:true={contact.data.WorkTypeId}><a href={worktypeurl} target="_blank">{contact.data.WorkType.Name}</a></span>
                        </div>
                    </div> 
                </div>    
                <div aria-hidden="false" class="slds-section__content" id="section2">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Sold Order</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4" > 
                            <span if:true={contact.data.Sold_Order__c}>
                                <a href={soldOrderurl} target="_blank">{contact.data.Sold_Order__r.OrderNumber}</a>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Status</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4" >
                            <span>
                                {contact.data.Status}
                            </span>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section3">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Account</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4" >
                            <span if:true={contact.data.AccountId}>
                                <a href={accounturl} target="_blank">{contact.data.Account.Name}</a>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Primary Resource</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4" >
                            <span if:true={contact.data.ContactId}>
                                <a href={contacturl} target="_blank">{contact.data.Primary_Resource_Name__c}</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section4">
                    <div class="slds-grid slds-gutters ">                       
                        <div class="slds-col slds-size_1-of-4">
                            <span><b> Contact </b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span if:true={contact.data.ContactId}>
                                <a href={contacturl} target="_blank">{contact.data.Contact.Name}</a>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b> Scheduled Start Time</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <lightning-formatted-date-time value={contact.data.Scheduled_Start_Time__c}
                                year="numeric"
                                month="numeric"
                                day="numeric"
                                hour="2-digit"
                                minute="2-digit"   
                                time-zone = {_timezone.data}
                            >
                            </lightning-formatted-date-time>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section5">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Opportunity</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span if:true={contact.data.Opportunity__c}>
                                <a href={opportunityurl} target="_blank">{contact.data.Opportunity__r.Name}</a>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Scheduled End Time </b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <lightning-formatted-date-time value={contact.data.Scheduled_End_Time__c}
                                year="numeric"
                                month="numeric"
                                day="numeric"
                                hour="2-digit"
                                minute="2-digit"   
                                time-zone = {_timezone.data}
                            >
                            </lightning-formatted-date-time>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section13">
                    <div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section113">
                    <div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section14">
                        <div>
                        </div>
                    </div>
                <div aria-hidden="false" class="slds-section__content" id="section6">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Series 1</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{contact.data.Series_1__c}</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Patio Doors</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{contact.data.Patio_Doors__c}</span>
                        </div>                            
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section7">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Series 2</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{contact.data.Series_2__c}</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Entry Doors</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{contact.data.Entry_Doors__c}</span>
                        </div>                            
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section8">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Bay/Bow</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{contact.data.Bay_Bow__c}</span>
                        </div>
                    </div>    
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section12">
                    <div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section16">
                    <div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section15">
                    <div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section9">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-2">
                            <span><b>Service Request Description</b></span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>{contact.data.Service_Request_Description__c}</span>
                        </div>
                    </div>    
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section10">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-2">
                            <span><b>Special Details from Sales</b></span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>{contact.data.Special_Details_from_Sales__c}</span>
                        </div>
                    </div>    
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section11">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-2">
                            <span><b>Completion Notes</b></span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>{contact.data.Completion_Notes__c}</span>
                        </div>
                    </div>    
                </div> 
            </div>   
        </template>
    </lightning-card>
</template>