.THIS .unit-id{
    font-size: 20px;
    color: grey;
}
.THIS .product-name{
    font-size: 25px;
    color: grey;
}


.THIS .room{
    font-size: 20px;
    color: #808C69;
    text-transform: uppercase;
}

.THIS .description{
    font-face: bold;
    font-size: 26px;
    color: black;
    padding-top: 10px;
}

.THIS .product-details{
    font-size: 16px;
    color: black;
}

.THIS .price{
    font-size: 24px;
    color: grey;
}

.THIS .Heading{
     color: Black;	
    font-family: "Proxima Nova";
    font-weight: strong;
    font-size: 18px;	
    line-height: 1.25;
    font-weight: bold;
    text-align: center
}
.THIS .line{
  display: block;
  border-width: thin;
  color: #E1E1E1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: .025em;
  border-style: inset;
}
.THIS .color{
   /*height: 14px;	*/
   background-color: white;
   color: #808C69;	
   font-size: 18px;
}
.THIS .gcolor{
   color: grey;
   height: 18px;
   font-family:"ProximaNovaRegular";
}
.THIS .sec-head{
    color:#50565a;
     height: 10px;
    font-weight: bold;
   /* font-family:"ProximaNovaRegular";*/
}
.THIS .sec-head1{
    color:grey;
     height: 10px;
   
   /* font-family:"ProximaNovaRegular";*/
}
.THIS .section-header1{
   font-family:"ProximaNovaRegular";
   height: 18px;
}
.THIS .pricing-text{
     background-color: white;
    padding-top: 5px;
    /*font-family: "Proxima Nova";*/
    font-size: 16px;
}
.THIS .color1{
   /*height: 14px;	*/
   background-color: white;
    color: #808C69;	
    /*font-family: "Proxima Nova";	*/
    font-size: 24px;	
    font-weight: bold;	
   
}