.THIS .primaryButton {
    background: #dd6a28;
    border-color: #DEE6D2 !important;
    padding-top:5px;
    padding-bottom:5px;

}

.THIS .primaryButton:hover {
    background: #ff7a2e;
    border-color: #DEE6D2 !important;
    padding-top:5px;
    padding-bottom:5px;
}

.THIS .borderBox {
    border-radius: 6px !important;
    background-color: #f7f7f7 !important;
}