<template>
    <td>
        <lightning-input type="checkbox" value={serviceProduct.isSelected}></lightning-input>
    </td>
    <td>
        <div class="slds-grid">
                {serviceProduct.product.Service_Product__r.Name}
        </div>
    </td>
    <td>
        <lightning-combobox
            name={serviceProduct.rowIdentifier}
            value={serviceProduct.responsibilty}
            placeholder="Select Responsibilty"
            options={options}
            onchange={handleChange} 
            dropdown-alignment ="bottom-left"
            >
        </lightning-combobox>
    </td>
    <td>
        <lightning-input  value={serviceProduct.description}></lightning-input>
    </td>   
</template>