<template>
    <div class="slds-col slds-size_12-of-12 slds-p-around_xxx-small">
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
        <!-- <div class="slds-text-heading_large">Create Resource Absences</div> -->
        <div class="slds-text-heading_medium slds-m-bottom_small">Create Resource Absences for {territoryName.data}</div>
        <div>
            <span style="font-style: italic;">Enter values in {stmTimeZone.data} Time below:</span>
            <lightning-input required class="slds-m-bottom_x-small" type="datetime" 
                value={startDateISO8601} label="From" onchange={handleStartChange}></lightning-input>
            <lightning-input required class="slds-m-bottom_x-small" type="datetime" 
                value={endDateISO8601} label="To" onchange={handleEndChange}></lightning-input>
            <div class="slds-grid slds-gutters_x-small">
                <div class="slds-col slds-size_1-of-2">
                    <template if:true={typePickListValues.data}>
                        <lightning-combobox required label="Absence Type:" options={typePickListValues.data.values} onchange={handleTypeChange}></lightning-combobox>
                    </template>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input required label="Label" value={ganttLabel} onchange={handleGanttLabelChange}></lightning-input>
                </div>
            </div>
            <div>
                <lightning-textarea required label="Absence Description" value={description} onchange={handleDescriptionChange}></lightning-textarea>
            </div>
            <div class="slds-m-top_large slds-m-bottom_small slds-text-heading_medium">
                Select Service Resources
            </div>
            <template if:true={hasActiveResources}>
                <lightning-datatable
                    key-field="ServiceResourceId"
                    data={resourceData}
                    columns={columns}
                    selected-rows={selectedRowIds}
                    onrowselection={trackSelectedRows}>
                </lightning-datatable>
            </template>
            <template if:false={hasActiveResources}>
                No active service resources found for {territoryName.data} during the date interval selected.
            </template>
            <template if:true={error}>
                Error encountered while attempting to add resources absences.  Details:<br/>{error.body}
            </template>
        </div>
        <div class="slds-m-top_large slds-m-bottom_x-small">
            <lightning-button disabled={inputInvalid} variant="brand" label="Create Resource Absences" onclick={createResourceAbsence}></lightning-button>
        </div>
    </div> 
</template>