<!--
  @Component Name     : salesSchedAssignModalAll.html
  @Description        :
  @Author             : Ramya Bangalore
  @Group              :
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 10/28/2019, 1:38:27 PM
  @Modification Log   :
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/9/2019, 5:13:27 PM   phUser@phDomain.com     Initial Version
-->
<template>
  <template if:true={appointments.error}>
    <c-modal show-header show-footer visible={appointments.error} modal-size="medium" onmodalclose={handleErrorModalClose}>
      <div slot="header">An Error Occurred</div>
      <div slot="content">
        <c-error-panel error={appointments.error}></c-error-panel>
      </div>
    </c-modal>
  </template>

  <template if:true={appointments.data}>
    <c-modal show-header show-footer visible="true" modal-size="medium" onmodalclose={handleAssignmentModalClose}>
      <!--ss-167-->
      <div slot="header">
        {header}
      </div>
      <div slot="content" style="min-height: 15em">
        <template if:true={appointments.data}>
         <!-- <lightning-accordion allow-multiple-sections-open onsectiontoggle={handleSectionToggle}
            active-section-name={appointmentList}> -->
            <lightning-accordion allow-multiple-sections-open active-section-name={appointmentList}>
            <template for:each={appointments.data} for:item="apptment">
                <div key={apptment.appointment.Id} style={boxStyle}>
             <lightning-accordion-section key={apptment.appointment.Id} name={apptment.appointment.Id}  data-id={apptment.appointment.Id} label={apptment.headingName}>
               <!-- <h4 class="slds-text-heading_large" style="text-align: center">
                    {apptment.formattedTime} with {apptment.primaryContact.Name}
                </h4>-->
                <!--SS-257 Start-->
                <c-sales-sched-assign-modal-body onfetchdetails={populateInfo} 
                appointment-id={apptment.appointment.Id}
                appointment-return={apptment}
                 onrefresh={refresh} 
                 onreset={reset} 
                 prepopulated-rep-id={prepopulatedRepId}
                  prepopulated-rep-name={prepopulatedRepName} 
                  capacity-id={capacityId}
                  onremoveassignment={handleRemoveAssignment} 
                  appointment-list={AppointmentIdList}
                  list-length={AppointmentListSize}
                  >
                </c-sales-sched-assign-modal-body>
                <!--SS-257 End-->
            </lightning-accordion-section>
             </div>
            </template>
         </lightning-accordion> 
        </template>
      </div>
      <div slot="footer">
        <template if:false={appointmentList}>
          <template if:true={displayResultedButton}>
            <button onclick={handleResultantsData} class="slds-button slds-button_neutral activeslot">
              Resulted Details
            </button>
          </template>
        </template>
        <button onclick={handleAssignmentModalClose} class="slds-button slds-button_neutral activeslot">
          Close
        </button>
      </div>
    </c-modal>
  </template>
</template>