<!--
  @Component Name     : mapLink.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : James Loghry (Demand Chain)
  @Last Modified On   : 5/21/2019, 2:27:30 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    2/11/2019, 9:39:21 AM   Demand Chain (James Loghry)     Initial Version.
-->
<template>
    <template if:true={url}>
      <c-link protocol={protocol} domain={url}>
          <slot></slot>
      </c-link>
    </template>
</template>