<template>

    <div>
        <lightning-card title="Mass Update Pricing Configurations Preview" icon-name="action:preview">
            <lightning-button label="Cancel" slot="actions" onclick={handleCancelClick}></lightning-button>            
            <lightning-button label="Apply" slot="actions" onclick={handleApplyClick} class="slds-m-left_x-small" variant="brand" disabled={pricingConfigurationsNotFound}></lightning-button>
        </lightning-card>
        <lightning-card>
            <div class="slds-m-around_medium">
                <lightning-tree-grid
                    key-field="pricingConfigurationId"
                    data={updatedPricingConfigurationList}
                    columns={columnList}
                    hide-checkbox-column=true>
                </lightning-tree-grid>
                <template if:true={pricingConfigurationsNotFound}>
                    <div class="slds-m-top_small">
                        <p>No Pricing Configurations Found</p>
                    </div>
                </template>
            </div>
        </lightning-card>

        <template if:true={showSpinner}>
            <div>
                <lightning-spinner alternative-text="Saving" size="large"></lightning-spinner>
            </div>
        </template>
	</div>
    
</template>