<template>
    <template if:true={statusVisible}>
  
   
       <center>
          <div id="modal-content-id-1">
              <center>Are you sure you want to Release PO ?</center> 
             </div>
     <button class="slds-button slds-button_brand" onclick={updatePoToRelease}>Proceed</button>
    
     
   </center>
  
    

  </template>
  <template if:true={visible}>
The Purchase Order Has Been Released/Confirmed
  </template>


</template>