.dayNameOfMonthBox{
    width: 14.2857%;
    margin-left: 0px;
    float: left;
    position: relative;
    min-height: 2rem;
    border: 1px solid #dddbda;
    text-align: center;
    font-weight: bold;
    border-bottom: 0;
    line-height: 2.5;
    background-color: #e9eaec94;
}
.dayOfMonthBox{
    width: 14.2857%;
    padding-bottom: 14.2857%;
    margin-left: 0px;
    float: left;
    position: relative;
    min-height: 20rem;
}

.dayOfMonthContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    border: 1px solid rgb(221, 219, 218);
}

.dayOfMonthMiniContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    background: rgb(255, 255, 255);
}

.dayLabel{
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
}

.dayLabelMini{
    padding: 0.25rem;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: red;
    color: white;
}

.dayLabelMiniText{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.miniView{
    border: radius;
    background-color: red;
    color: white;
    border-radius: 50px;
    padding: 0.25rem;
}

.calendarMonthContainer{
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    overflow: hidden;
}

.titleRowContainer{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.titleContainer{
    text-align: center;
}

.previousContainer{
    text-align: left;
}

.nextContainer{
    text-align: right;
}

.viewSelector{
    text-align: right;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.periodTitle{
    font-size: 1.2rem;
}