.THIS .slds-icon-custom-custom106  {
    background-color: rgb(197, 197, 197);
    color: #b3bf98;
}

.THIS .slds-icon {
    width: 2rem;
    height: 2rem;
    fill: rgb(130, 143, 105);
}

.THIS .slds-icon-standard-today {
    background-color: rgb(197, 197, 197);
}