<template>
    <lightning-card title="Resource Absence" icon-name="standard:resource_absence">
        <template if:true={absence.data}>
            <div class="slds-section slds-is-open slds-box">
                <div aria-hidden="false" class="slds-section__content" id="section1">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Absence Number</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{absence.data.AbsenceNumber}</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Resource</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span if:true={absence.data.Resource}><a href={resourceurl} target="_blank">{absence.data.Resource.Name}</a></span>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section2">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Type</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{absence.data.Type}</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Start Time</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <lightning-formatted-date-time value={absence.data.Start}
                                year="numeric"
                                month="numeric"
                                day="numeric"
                                hour="2-digit"
                                minute="2-digit"   
                                time-zone = {_timezone.data}
                            >
                            </lightning-formatted-date-time>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section3">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Gantt Label</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>{absence.data.FSL__GanttLabel__c}</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>End Time</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <lightning-formatted-date-time value={absence.data.End}
                                year="numeric"
                                month="numeric"
                                day="numeric"
                                hour="2-digit"
                                minute="2-digit"   
                                time-zone = {_timezone.data}
                            >
                            </lightning-formatted-date-time>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="slds-section__content" id="section4">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Approved</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span if:true= {absence.data.FSL__Approved__c}>
                                <input type="checkbox" name="approve1" value={absence.data.FSL__Approved__c} class="slds-checkbox" disabled
                                checked /> 
                            </span>
                            <span if:false= {absence.data.FSL__Approved__c}>
                                <input type="checkbox" name="approve2" value={absence.data.FSL__Approved__c} class="slds-checkbox" disabled
                                /> 
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Address</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>
                                <lightning-formatted-address
                                street={absence.data.Street}
                                city={absence.data.City}
                                country={absence.data.Country}
                                province={absence.data.StateCode}
                                postal-code={absence.data.PostalCode}>
                                </lightning-formatted-address>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>    
        </template>
    </lightning-card>    
</template>