.button {
    float: right;
}

.buttons {
    padding-bottom: 15px;
}


.slds-p-around_medium {
    padding: 0px;
}

.slds-page-header__title {
    white-space: nowrap;
}

.slds-media {
    width: 50%;
    margin-right: 0px;
    border-right: 0px;
}

.page {
    width: 100%;
}

.ael {
    margin-top: 10px;
}

.innerheader {
    padding-bottom: 10px;
}

.text {
    margin-top: 2px;
}

.box {
    margin-bottom: 2px;
}

.table {
    background-color:#FAFAF9;
    border: 1px solid #E5E3E2;
}


.deletebutton {
    padding-bottom: 0px;
}

.slds-form-element {
    margin-bottom: 20px;
    
}

.tdc {
    background-color: #FFFFFF;
    border-top: 1px solid #E5E3E2;
    padding-left: 10px;
}

.slds-truncate {
    padding-left: 14px;
}

.tdbox {
    padding-left: 14px;
    border-top: 1px solid #E1DFDE;
}