<template>

    <div class="slds-page-header">
        <div class="slds-page-header__row">
          <div class="slds-page-header__col-title">
            <div class="slds-media">
              <div class="slds-media__figure">
                  <lightning-icon icon-name="standard:buyer_account" size="medium" variant="slds-icon-inverse"></lightning-icon>
              </div>
              <div class="slds-media__body">
                <div class="slds-page-header__name">
                  <div class="slds-page-header__name-title">
                    <h1>
                      <span class="slds-page-header__title" title="Add Legacy Assets">Legacy Assets</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class ="button">
            <div class="slds-p-around_medium">
                <lightning-button 
                    label="Return to Account" 
                    onclick={onClickBack}
                    variant="brand">
                </lightning-button>
            </div>
            </div>
        -->
        </div>
      </div>


    <!--Create a table with data from the account that the user was looking at-->
    <lightning-layout>
        <div class="page">	
        <div class="ael">
            <div class="slds-m-bottom_small slds-page-header">
                <lightning-layout horizontal-align="spread">
                    <lightning-layout-item>
                        <div class="innerheader">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="standard:account" size="small" variant="slds-icon-inverse"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                      
                                <div class="slds-page-header__title" style="font-size: medium;">Account Information</div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-layout horizontal-align="spread" vertical-align="center">

                </lightning-layout>
                <table class="slds-table slds-table_header-hidden slds-table_cell-buffer slds-table_bordered">
                    <tbody>
                        <tr>
                            <td><strong>Store Location: </strong><a href={storeurl} onclick={navigateToStore}> {location} </a></td>
                            <td><strong>Sales Rep: </strong> {salesRepName}</td>
                        </tr>
                        <tr>
                            <td><strong>Account Name: </strong><a href={accurl} onclick={navigateToAccount}> {account.Name} </a></td>
                            <td><strong>HOA: </strong> {HOA}</td>
                        </tr>
                        <tr>
                            <td><strong>Dwelling Style: </strong> {account.Dwelling_Style__c} </td>
                            <td><strong>Historical: </strong> {historical}</td>
                        </tr>
                        <tr>
                            <td><strong>Year Built: </strong> {account.Year_Built__c}</td>
                            <td><strong>Building Permit: </strong> {buildPermit}</td>
                        </tr>
                        <tr>
                            <td><strong>Account Balance: </strong> {accountBal} </td>
                            <!--Get a checkbox for this field-->
                            <td>
                                <div class ="noservice">
                                <div class="slds-grid">
                                    <div class="text">
                                    <div class="slds-col slds-size_1-of-12">
                                        <strong>No Service: </strong> 
                                    </div>
                                    </div>
                                   
                                    <div class="slds-col slds-size_1-of-12 slds-p-horizontal_small">
                                        <lightning-record-view-form record-id={account.Id} object-api-name="Account">
                                            <div class="box">
                                            <lightning-output-field field-name="No_Service__c" variant="label-hidden"></lightning-output-field>
                                            </div>
                                        </lightning-record-view-form>
                                    </div>
                                </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong>No Service Notes: </strong> {account.No_Service_Notes__c}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </lightning-layout>



    <lightning-layout>
        <div class="page">	
        <div class="ael">
            <div class="slds-m-bottom_small slds-page-header">
                <lightning-layout horizontal-align="spread">
                    <lightning-layout-item>
                        <div class="innerheader">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="standard:buyer_account" size="small" variant="slds-icon-inverse"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                      
                                <div class="slds-page-header__title" style="font-size: medium;">Add Legacy Assets</div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    </lightning-layout-item>

                    <lightning-layout>
                         <div class="buttons"> 
                        <div class="slds-float_right">
                            <lightning-button
                                label="Add Asset"
                                onclick={onClickAdd}
                                variant="brand">
                            </lightning-button>
                            <lightning-button
                                label="Save Assets"
                                variant="brand"
                                onclick={save}
                                class="slds-m-left_x-small">
                            </lightning-button>
                        </div>
                         </div>
                    </lightning-layout>


                </lightning-layout>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="slds-truncate"  title="Product Name">Product Name</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Variant Number">Variant Number</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Install Date">Install Date</div>
                            </th>
                            <th>
                                <div class="slds-truncate" title="Notes">Notes</div>
                            </th>
                            
                            <th class="deletebutton" scope="col" style="width:3.25rem"><!--This is for the delete button column--></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!--For each item in the legacyAssets list, add a row-->
                        <template for:each={legacyAssets} for:item="asset">
                            
                            <tr key={asset.RowNum} class="slds-hint-parent">
                                <template if:true={asset.Editable}>
                                    <td class="tdc" style="margin-left: 3px">
                                        <!--Create a search bar that the user can enter text in-->
                                        <lightning-input class="tdc1"
                                            type='search'
                                            name='search'
                                            onchange={handleSearch}
                                            value={asset.Product_Name__c}
                                            data-rownum={asset.RowNum}>
                                        </lightning-input>
                                        <!--Check if the dropdown should open under the given search bar-->
                                        <template if:true={asset.HasSearchResults}>
                                        <!--Create a dropdown that contains the products that match the user's search-->
                                        <div class="slds-dropdown slds-dropdown-trigger slds-dropdown-trigger_click slds-dropdown_fluid slds-dropdown_length-10" role="listbox">
                                            <ul class="slds-listbox slds-listbox_vertical" role="menu">
                                                <template for:each={result} for:item="product">
                                                    <li class="slds-listbox_item" role="presentation" key={product.Id}>
                                                        <a>
                                                            <!--Allow the products to be clicked-->
                                                            <div data-id={product.Id} data-name={product.Name} onclick={productSelect} role="option" class="slds-listbox_option slds-listbox_option_entity">
                                                                <span data-rownum={asset.RowNum} class="slds-listbox_option-text slds-listbox_option-text_entity">{product.Name}</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                        </template>
                                    </td>
                                    <td class="tdc">
                                        <!--Have an input box that the user can enter the Variant Number in-->
                                        <lightning-input 
                                            name="VariantNumber"
                                            type="text" 
                                            value={asset.Variant_Number__c} 
                                            onchange={handleVariantChange}
                                            data-rownum={asset.RowNum}>
                                        </lightning-input>
                                    </td>
                                    <td class="tdc">
                                        <!--Have an input box that the user can enter the Install Date in-->
                                        <lightning-input
                                            name="InstallDate"
                                            type="date"
                                            value={asset.InstallDate}
                                            onchange={handleInstallDateChange}
                                            data-rownum={asset.RowNum}
                                            date-style="short">
                                        </lightning-input>
                                        
                                    </td>
                                    <td class="tdc">
                                        <!--Have an input box that the user can enter notes in-->
                                        <lightning-input
                                            name="Notes"
                                            type="text"
                                            value={asset.Description}
                                            onchange={handleNotesChange}
                                            data-rownum={asset.RowNum}>
                                        </lightning-input>
                                    </td>
                                    <td class="tdc">
                                        <!--Have a delete button at the end of each row that will remove the row from the table-->
                                        <button class="slds-button slds-button_icon" onclick={onClickDelete} >
                                            <lightning-button-icon icon-name="action:delete" data-rownum={asset.RowNum}></lightning-button-icon>
                                        </button>
                                    </td>
                                </template>
                                <template if:false={asset.Editable}>
                                    <td class="tdbox">
                                        {asset.Product_Name__c}
                                    </td>
                                    <td class="tdbox">
                                        {asset.Variant_Number__c}
                                    </td>
                                    <td class="tdbox">
                                        <lightning-formatted-date-time
                                            value={asset.InstallDate}
                                            time-zone="UTC"
                                            year="numeric"
                                            month="numeric"
                                            day="numeric">
                                        </lightning-formatted-date-time>      
                                    </td>
                                    
                                    <td class="tdbox">
                                        {asset.Description}
                                    </td>
                                </template>
                            </tr>
                        </template>  
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </lightning-layout>
</template>