<template>
    
    <div class="slds-text-body_regular">

        <template if:true={isEligible}>
            <div class="slds-var-m-left slds-var-m-right_medium">
                Are you sure you want to create a new Change Order?
            </div>
        </template>

        <template if:false={isEligible}>
            <div class="slds-var-m-left_medium slds-var-m-right_medium">
                You cannot create Work Orders from an Order in "Draft" status
            </div>
        </template>

    </div>

</template>