.THIS {
    background: #FFFFFF;
}
.THIS.js .cd-h-timeline__dates::after, 
.THIS.js .cd-h-timeline__dates::before {
    background: transparent;           
    height: 100px;
    top: 130px;
}
.THIS.js .cd-h-timeline__dates::after {
    border-right: 1px solid #ddd;
}
.THIS.js .cd-h-timeline__dates::before {
    border-left: 1px solid #ddd;
}
.THIS.js .cd-h-timeline__navigation {
    top: 256px;
}

.THIS.js .cd-h-timeline__line {
    top: 180px;
    height: 4px;
    background: #F7F7F7;
}

.THIS.js .cd-h-timeline__container {
    max-width: 1000px;
    height: 500px;
}

.THIS.js .mobile .cd-h-timeline__container {
    max-width: 100%;
    height: auto;
}

.THIS.js .cd-h-timeline__date {
    width: 180px;
    text-align: center;
    cursor: default;
}
.THIS.js .cd-h-timeline__date span {
    display: block;
}
.THIS .slds-button .slds-button__icon {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}
.THIS .slds-button.slds-is-active .slds-button__icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.THIS .text-uppercase {
    text-transform: uppercase;
}
.THIS .stage-not-started img {
    max-width: 100px;
}
.THIS .stage-not-current img {
    max-width: 150px;
}

.THIS .stage-icon {
    position: absolute;
    top: 30px;
    width: 180px;
    height: 150px;
    display: block;
    text-align: center;
}
.THIS .stage-icon::before {
    content: "";
    width: 4px;
    background: #F7F7F7;
    height: 35px;
    display: block;
    position: absolute;
    top: -31px;
    left: calc(50% - 2px);
    z-index: 0;
}

.THIS.js .cd-h-timeline__date::after {
    background: #FFFFFF;
    border-color:#F7F7F7;
    width: 18px;
    height: 18px;
    bottom: -8px;
}
.THIS.js .cd-h-timeline__date.cd-h-timeline__date--completed::after {
    background: #A3B78B;
    border-color:#A3B78B;
}
.THIS.js .cd-h-timeline__date.cd-h-timeline__date--pending::after {
    background: #FFFFFF;
    border-color:#F1A526;
}

.THIS.js .cd-h-timeline__filling-line {
    background: #A3B78B;
}
.THIS.js .cd-h-timeline__navigation {
    height: 70px;
    width: 50px;
    border-radius: 0;
    border: none;
}

.THIS.js .cd-h-timeline__navigation::after {
    height: 85px;
    width: 85px;
   /* background: url(/resource/ScrollSR/assets/icons/right.png) no-repeat 0 0;*/
   background: url("/mywindowproject/resource/ScrollSR/assets/icons/right.png") no-repeat 0 0;
    background-size: contain;
}
.THIS.js .cd-h-timeline__navigation::before {
    
}
.THIS.js .cd-h-timeline__navigation--prev {
    left: -15px;
}
.THIS.js .cd-h-timeline__navigation--next {
    right: -15px;
}

.THIS .cd-h-timeline__date--pending + .stage-icon::before {
    background: #f3ae2f;
}
.THIS .cd-h-timeline__date--hold + .stage-icon::before {
    background: #f58648;
}
.THIS .cd-h-timeline__date--completed + .stage-icon::before {
    background: #A3B78B;
}
.THIS.js .cd-h-timeline__date {
    font-size: .85rem;
}
.THIS.js .cd-h-timeline__date span:last-child {
    margin-bottom: 2rem;
}
.THIS .text-replace {
    font-size: 0;
}
.THIS .text-yellow {
    color: #f1a526;
    font-size: 1rem;
}
.THIS .text-yellow1 {
    color: #f1a526 ;
   }
.THIS .cd-h-timeline__date--hold .text-yellow {
    color: #F58648;
}
.THIS .text-green {
    color: #a3b78b;
}
.THIS .timeline-header {
    text-align: center;
}
.THIS .timeline-header h2 {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    position:relative;
    margin-top: 50px;
}
.THIS .timeline-header h2:before {
    content: "";
    width: 80px;
    height: 4px;
    background: #a3b78b;;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -40px;
}
.THIS .cd-h-timeline__date:hover::after {
    background: #FFF !important;
    border-color: #f7f7f7 !important;
}

.THIS .cd-h-timeline__date.cd-h-timeline__date--pending:hover::after {
    background: #ffffff !important;
    border-color: #f1a526 !important;
}

.THIS .cd-h-timeline__date.cd-h-timeline__date--hold::after,
.THIS .cd-h-timeline__date.cd-h-timeline__date--hold:hover::after {
    background: #ffffff !important;
    border-color: #f18346 !important;
}

.THIS .cd-h-timeline__date.cd-h-timeline__date--completed:hover::after {
    background: #a3b78b !important;
    border-color: #a3b78b !important;
}
.THIS .cd-h-timeline__line li .text-yellow,
.THIS .mobile .text-yellow{
    display: none
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending .text-yellow,
.THIS .cd-h-timeline__line li .cd-h-timeline__date--hold .text-yellow,
.THIS .mobile .cd-h-timeline__date--pending .text-yellow,
.THIS .mobile .cd-h-timeline__date--hold .text-yellow{
    display: block;
}
.THIS .cd-h-timeline__line li .text-green {
    color: #000;
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed .text-green,
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending .text-green {
    color: #a3b78b;
}

.THIS .cd-h-timeline__line li .cd-h-timeline__date--hold .text-green {
    color: #F47B3D;
}

.THIS .cd-h-timeline__line li > span {
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top center;
}
/*
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending + span,
.THIS .cd-h-timeline__line li .cd-h-timeline__date--hold + span,
.THIS .cd-h-timeline__line li .cd-h-timeline__date--not-started + span,
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed + span{
    background-size: 150px;
}
*/
.THIS .cd-h-timeline__line li .cd-h-timeline__date--current-stage + span{
    background-size: 150px;
}

/*  Inactive stages   */
.THIS .cd-h-timeline__line li > span.order,
.THIS .mobile span.order {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/cart-grey.png);*/
    /* background-image: url("/mywindowproject/resource/MileStoneRoads/Roadfiles/Gray_Road.png");*/
   background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/cart-grey.png");
}
.THIS .cd-h-timeline__line li > span.measure,
.THIS .mobile span.measure {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/inch-grey.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/inch-grey.png");
}
.THIS .cd-h-timeline__line li > span.build,
.THIS .mobile span.build {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/hammer-grey.png);*/
    background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/hammer-grey.png");
}
.THIS .cd-h-timeline__line li > span.install,
.THIS .mobile span.install {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/setting-grey.png);*/
    background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/setting-grey.png");
}
.THIS .cd-h-timeline__line li > span.survey,
.THIS .mobile span.survey {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/list-grey.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/list-grey.png");
}
.THIS .cd-h-timeline__line li > span.ship,
.THIS .mobile span.ship {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/shipping-gray-2x.png);*/
    background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/shipping-gray-2x.png");
}

.THIS .cd-h-timeline__line li > span.complete {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/accpt-green.png);*/
    background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/accpt-green.png");
}

/*  Pending stages   */
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending + span.order,
.THIS .mobile .cd-h-timeline__date--pending span.order {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/cart-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/cart-yellow.png");
    
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending + span.measure,
.THIS .mobile .cd-h-timeline__date--pending span.measure {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/inch-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/inch-yellow.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending + span.build,
.THIS .mobile .cd-h-timeline__date--pending span.build {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/hammer-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/hammer-yellow.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending + span.install,
.THIS .mobile .cd-h-timeline__date--pending span.install {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/setting-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/setting-yellow.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending + span.survey,
.THIS .mobile .cd-h-timeline__date--pending span.survey {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/list-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/list-yellow.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--pending + span.ship,
.THIS .mobile .cd-h-timeline__date--pending span.ship {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/shipping-orange-2x.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/shipping-orange-2x.png");
}

/*  Completed stages   */
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed + span.order,
.THIS .mobile .cd-h-timeline__date--completed span.order {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/cart-green.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/cart-green.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed + span.measure,
.THIS .mobile .cd-h-timeline__date--completed span.measure {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/inch-green.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/inch-green.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed + span.build,
.THIS .mobile .cd-h-timeline__date--completed span.build {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/hammer-green.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/hammer-green.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed + span.install,
.THIS .mobile .cd-h-timeline__date--completed span.install {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/setting-green.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/setting-green.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed + span.survey,
.THIS .mobile .cd-h-timeline__date--completed span.survey {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/list-green.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/list-green.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--completed + span.ship,
.THIS .mobile .cd-h-timeline__date--completed span.ship {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/shipping-green-2x.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/shipping-green-2x.png");
}

/*  Hold stages   */
.THIS .cd-h-timeline__line li .cd-h-timeline__date--hold + span.measure,
.THIS .mobile .cd-h-timeline__date--hold span.measure {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/error-orange.png);*/
    background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/error-orange.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--hold + span.build,
.THIS .mobile .cd-h-timeline__date--hold span.build  {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/error-orange.png);*/
    background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/error-orange.png");
}
.THIS .cd-h-timeline__line li .cd-h-timeline__date--hold + span.install,
.THIS .mobile .cd-h-timeline__date--hold span.install  {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/error-orange.png);*/
    background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/error-orange.png");
}


.THIS .cd-h-timeline__line.step_1 {
    transform: translateX(0px);
}
.THIS .cd-h-timeline__line.step_2 {
    transform: translateX(-300px);
}
.THIS .cd-h-timeline__line.step_3 {
    transform: translateX(-600px);
}
.THIS .cd-h-timeline__line.step_4 {
    transform: translateX(-900px);
}
.THIS .cd-h-timeline__line.step_5 {
    transform: translateX(-1200px);
}
.THIS .cd-h-timeline__line.step_6 {
    transform: translateX(-1500px);
}
.THIS .cd-h-timeline__line.step_7 {
    transform: translateX(-1800px);
}
.THIS .cd-h-timeline__line.step_8 {
    transform: translateX(-2100px);
}


.THIS .cd-h-timeline__filling-line.s1 { transform: scaleX(0.047); }
.THIS .cd-h-timeline__filling-line.s2 { transform: scaleX(0.077); }
.THIS .cd-h-timeline__filling-line.s3 { transform: scaleX(0.107); }
.THIS .cd-h-timeline__filling-line.s4 { transform: scaleX(0.137); }
.THIS .cd-h-timeline__filling-line.s5 { transform: scaleX(0.167); }
.THIS .cd-h-timeline__filling-line.s6 { transform: scaleX(0.197); }
.THIS .cd-h-timeline__filling-line.s7 { transform: scaleX(0.227); }
.THIS .cd-h-timeline__filling-line.s8 { transform: scaleX(0.257); }
.THIS .cd-h-timeline__filling-line.s9 { transform: scaleX(0.287); }
.THIS .cd-h-timeline__filling-line.s10 { transform: scaleX(0.317); }
.THIS .cd-h-timeline__filling-line.s11 { transform: scaleX(0.347); }
.THIS .cd-h-timeline__filling-line.s12 { transform: scaleX(0.377); }
.THIS .cd-h-timeline__filling-line.s13 { transform: scaleX(0.407); }
.THIS .cd-h-timeline__filling-line.s14 { transform: scaleX(0.437); }
.THIS .cd-h-timeline__filling-line.s15 { transform: scaleX(0.467); }

.THIS .text-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.THIS .text-wrapper ol {
 	transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.THIS .text-wrapper ol {
    display: flex;
}
.THIS .text-wrapper ol li {
    min-width: 100%;
    width: 100%;
}
.THIS .text-wrapper.s1 ol {transform: translateX(0);}
.THIS .text-wrapper.s2 ol {transform: translateX(-100%);}
.THIS .text-wrapper.s3 ol {transform: translateX(-200%);}
.THIS .text-wrapper.s4 ol {transform: translateX(-300%);}
.THIS .text-wrapper.s5 ol {transform: translateX(-400%);}
.THIS .text-wrapper.s6 ol {transform: translateX(-500%);}
.THIS .text-wrapper.s7 ol {transform: translateX(-600%);}
.THIS .text-wrapper.s8 ol {transform: translateX(-700%);}

/* Styles for mobile view*/
.THIS .mobile span.stage-image,
.THIS .mobile span.stage-icon-image {
    width: 72px;
    height: 72px;
    display: inline-block;
    background-size: 76px 76px;
    background-position: -2px -2px;
    background-color: #fff;
}
 
.THIS .mobile .hold .text-yellow {
    color: #f58648;
}

.THIS .mobile .stage-icon-image.order,
.THIS .mobile .pending .stage-icon-image.order {
   /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/cart-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/cart-yellow.png");
}
.THIS .mobile .stage-icon-image.measure,
.THIS .mobile .pending .stage-icon-image.measure {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/inch-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/inch-yellow.png");
}
.THIS .mobile .stage-icon-image.build,
.THIS .mobile .pending .stage-icon-image.build {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/hammer-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/hammer-yellow.png");
}
.THIS .mobile .stage-icon-image.install,
.THIS .mobile .pending .stage-icon-image.install {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/setting-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/setting-yellow.png");
}
.THIS .mobile .stage-icon-image.ship,
.THIS .mobile .pending .stage-icon-image.ship {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/shipping-orange-2x.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/shipping-orange-2x.png");
}
.THIS .mobile .stage-icon-image.survey,
.THIS .mobile .pending .stage-icon-image.survey {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/list-yellow.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/list-yellow.png");
}
.THIS .mobile .completed .stage-icon-image.complete {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/accpt-green.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/accpt-green.png");
}

.THIS .mobile .hold .stage-icon-image.measure {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/inch-orange.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/inch-orange.png");
}
.THIS .mobile .hold .stage-icon-image.build {
    /*background-image: url(/resource/1569592575000/ScrollSR/assets/icons/hammer-orange.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/hammer-orange.png");
}
.THIS .mobile .hold .stage-icon-image.install {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/setting-orange.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/setting-orange.png");
}


/* next stage*/
.THIS .mobile .next-stage .stage-icon-image.order {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/cart-grey.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/cart-grey.png");
}
.THIS .mobile .next-stage .stage-icon-image.measure {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/inch-grey.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/inch-grey.png");
}
.THIS .mobile .next-stage .stage-icon-image.build {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/hammer-grey.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/hammer-grey.png");
}
.THIS .mobile .next-stage .stage-icon-image.install {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/setting-grey.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/setting-grey.png");
}
.THIS .mobile .next-stage .stage-icon-image.ship {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/shipping-gray-2x.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/shipping-gray-2x.png");
}
.THIS .mobile .next-stage .stage-icon-image.survey {
   /* background-image: url(/resource/1569592575000/ScrollSR/assets/icons/list-grey.png);*/
     background-image: url("/mywindowproject/resource/ScrollSR/assets/icons/list-grey.png");
}

.THIS .slds-button_yellow {
    background: rgb(242,120,48);
	background: linear-gradient(0deg, rgba(242,120,48,1) 23%, rgba(240,144,36,1) 100%);
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;
}

.THIS .mobile .slds-timeline__item_expandable .slds-icon_container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: 0;
}

.THIS .mobile .slds-timeline__item_expandable .slds-media__body {
    text-align: left;
    padding: 0;
}

.THIS .mobile .slds-truncate_container_75 {
    max-width: calc(100% - 30px);
}

.THIS .mobile .stage-sub-heading {
    font-size: .8rem;
}
.THIS .mobile .slds-timeline__item_expandable:before {
    left: 2.25rem;
    background: #ddd;
}
.THIS .mobile .cd-h-timeline__date--completed .slds-timeline__item_expandable:before {
    background: #acbe95;
}
.THIS .mobile .cd-h-timeline__date--pending .slds-timeline__item_expandable:before {
    background: #f1a526;
}
.THIS .mobile .cd-h-timeline__date--hold .slds-timeline__item_expandable:before {
    background: #f58648;
}

.THIS .indicator {
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    
}
.THIS .mobile .text-green {
    color: #888;
    font-size: .8rem;
}
.THIS .mobile .text-date {
    font-size: .8rem;
}
.THIS .mobile .cd-h-timeline__date--completed .text-green {
    color: #acbe95;
}
.THIS .mobile .cd-h-timeline__date--pending .text-green {
    color: #f1a526;
}
.THIS .mobile .cd-h-timeline__date--hold .text-green {
    color: #f58648;
}
.THIS .mobile .cd-h-timeline__date--completed .indicator {
    background: #acbe95;
    border-color: #acbe95;
   
}
.THIS .mobile .cd-h-timeline__date--hold .text-yellow {
    font-size: .85rem;
}
.THIS .mobile .cd-h-timeline__date--pending .indicator {
    background: #fff;
    border-color: #f1a526;
}
.THIS .mobile .cd-h-timeline__date--hold .indicator {
    background: #fff;
    border-color: #f58648;
}


.THIS .mobile .cd-h-timeline__date--current-stage .slds-timeline__item_details {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 0;
    border: none;
    margin-left: -1.5rem;
    font-size: .8rem;
    color: #666;
    margin-bottom: 1rem;
}

.THIS .mobile .slds-timeline__item_expandable::before {
    top: -10px;
    height: 15px;
}
.THIS .mobile .slds-timeline li {
    position: relative;
}
.THIS .mobile .slds-timeline li::before {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    left: 2.25rem;
    top: 0px;
    bottom: 0px;
    margin-left: 1px;
    background: rgb(212, 212, 212);
}
.THIS .mobile .slds-timeline li:last-child::before,
.THIS .mobile .slds-timeline li:first-child .slds-timeline__item_expandable:first-child:before {
    display: none;
}

.THIS .slds-timeline__item_expandable {
	padding: 0;
}

.THIS .mobile .stage-heading {
    font-size: .9rem;
}