.THIS .referral-form {
    border: 1px solid black !important;
    border-radius:15px !important;
    
}
.THIS .primaryButton{
	background: linear-gradient(to top, #f47a3f, #f1a42a);
    border-color:white !important;
    padding-top:5px;
    padding-bottom:5px;
    color:white !important;
}

.THIS .primaryButton:hover{
    background: #f1a42a;
    border-color:white !important;
    padding-top:5px;
    padding-bottom:5px;
}