.THIS.cta-btn {
	margin: 14px 18px;
}
.THIS .cta-link {
	border-radius: 2px;
	padding: 15px 0;
	border: none;
	font-weight: 700;
	font-size: 1em;
	margin: 0;
	width: 100%;
	-webkit-transition: background .8s ease;
	transition: background .8s ease;
	text-transform: uppercase;
}