.activeslot,
.activeslot:hover,
.activeslot:focus,
.inactiveslot:hover,
.inactiveslot:focus {
  background-color: #828F69;
  color: #FFFFFF;
  border-color: #828F69;
  font-weight: 600;
}

.inactiveslot {
  background-color: #DEE6D2 !important;
  color: #555555 !important;
}