.THIS .primaryButton{
    background:#F27235;
    border-color:#F27235 !important;
    padding-top:5px;
    padding-bottom:5px;
   /*margin-left: 35px;*/
    color: white;
  
}

.THIS .section-header{
     margin-left:80px;
}
.THIS .secondaryButton{
    border-color:#e5e5e5 !important;
    padding-top:5px;
    padding-bottom:5px;
    background: #e5e5e5;
    color: #828f69 !important;
}

.THIS .secondaryButton:hover{
    border-color:#e5e5e5 !important;
    padding-top:5px;
    padding-bottom:5px;
    background:#a2b68a;
    color:white !important;
}
.THIS .imgsizer {    
  width: 150px;
	border-radius: 50%;  
}

.THIS .section {    
    border-radius:4px;
}

.THIS .inputWhite{
   background-color: white; 
}
/*
.THIS .spacing{
    margin-bottom: 155px;
}
*/

.THIS .slds-m-top_xx-large {
    margin-top: 2.9rem;
}