<template>

    <div class="slds-text-body_regular slds-var-m-around_small">

        <template if:true={isEligible}>

            <template if:true={allProductsSelected}>
                <div class="slds-var-m-left_medium slds-var-m-bottom_large slds-text-title_caps slds-text-color_success">
                    {displayText}
                </div>
            </template>

            <div style="height: 300px;">

                <lightning-datatable class="data-table"
                                     key-field="id"
                                     data={purchaseOrder.productList}
                                     columns={productColumnList}
                                     oncellchange={handleProductValueChange}
                                     hide-checkbox-column
                                     suppress-bottom-bar>
                </lightning-datatable>

            </div>

        </template>

        <template if:false={isEligible}>
            <div class="slds-align_absolute-center" style="height: 50px">
                {displayText}
            </div>
        </template>

    </div>
    
</template>