.THIS .workerIcon {
    width:150px;  height:150px; border-radius: 50%; border:3px solid orange;
}

.THIS .workerName {
    margin-top:10px; font-size:18px; font-weight:bold;
}
.THIS .workerDesg {
    font-size:16px;
}

.THIS .emailIcon, .THIS .phoneIcon{
    cursor:pointer;
}