<!--
  @Component Name     : storeManager.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 6/10/2019, 11:24:38 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/23/2019, 5:59:04 PM   Demand Chain (James Loghry)     Initial Version
-->
<template>
 <div class="wrappperDiv">
    <template if:true={currentMoment}>
        <lightning-card title={dayFormatted}>
            <!--<div class="slds-grid">
                <div class="slds-size_1-of-1 slds-medium-size_1-of-2">
                    <h2 class="slds-text-heading_small">{dayFormatted}</h2> 
                </div>
                <div class="slds-size_1-of-1 slds-medium-size_1-of-2">
                        <button class="slds-button slds-button_neutral activeslot 111" onclick={handleGetPreviousDay}>
                            <lightning-icon icon-name="utility:chevronleft" variant="inverse"></lightning-icon>
                            {previousDayLabel}
                        </button>
                        <button class="slds-button slds-button_neutral activeslot right" onclick={handleGetNextDay}>
                            {nextDayLabel}
                            <lightning-icon icon-name="utility:chevronright" variant="inverse"></lightning-icon>
                        </button>
                </div>
            </div>
            -->
        </lightning-card>
    <lightning-card>
            <div  slot="actions">
                <button class="slds-button slds-button_neutral activeslot " onclick={handleGetPreviousDay}>
                    <lightning-icon icon-name="utility:chevronleft"  variant="inverse"></lightning-icon>
                    {previousDayLabel}
                </button>

             <button class="slds-button" style="color: #828F69;">
                    <lightning-input  autocomplete="off" value={inputDate} name="tag_name_0" style="color: #828F69;" type="date"  onchange={onClickCalendarEvent}></lightning-input>
            </button>

                <button class="slds-button slds-button_neutral activeslot right" onclick={handleGetNextDay}>
                    {nextDayLabel}
                    <lightning-icon icon-name="utility:chevronright" variant="inverse"></lightning-icon>
                </button>
                <slot name="otherActions"></slot>
            </div>

            <slot></slot>
        </lightning-card>
    </template>
</div>
</template>