.activeslot, .activeslot:hover,.activeslot:focus,.inactiveslot:hover,.inactiveslot:focus{
    background-color: #828F69;
    color: #FFFFFF;
    border-color: #828F69;
    font-weight: 600;
    height: 32px;
}

.right{
    margin-right: .25rem;
}

.input[type=text]:focus, .textarea:focus { 
    box-shadow: 0 0 5px #828F69; 
    padding: 3px 0px 3px 3px; 
    margin: 5px 1px 3px 0px; 
    border: 1px solid #828F69; 
}