.THIS .workerIcon {
    width:150px;  height:150px; border-radius: 5%; border:2px solid rgba(168, 182, 138, 0.88);
}

.THIS .workerName {
    margin-top:10px; font-size:18px; font-weight:bold;
}
.THIS .workerDesg {
    font-size:16px;
}

.THIS .workerPhone {
    width:150px; margin-top:4px;
}
.THIS .emailIcon, .THIS .phoneIcon{
    cursor:pointer;
}

.THIS .actionBox{max-width:20.8rem!important;}

.THIS .techMeasure {
   position: relative;
  left: 412px;
   }

.THIS .Installation {
   position: absolute;
   left: 728px;
   }

.THIS .InstallationDes {
    position: relative;
    top: 20px;
}