.green{
    background-color: green;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.linespacing{
    padding-top: .25em;
    padding-bottom: .25em;
}

.toplinespacing{
    padding-top: .25em;
}

.bottomlinespacing{
    padding-bottom: .25em;
}

.activeslot, .activeslot:hover,.activeslot:focus,.inactiveslot:hover,.inactiveslot:focus{
    background-color: #828F69;
    color: #FFFFFF;
    border-color: #828F69;
    font-weight: 600;
}