<!--
  @Component Name     : sldsDropDown.html
  @Description        : 
  @Author             : James Loghry (Demand Chain)
  @Group              : 
  @Last Modified By   : James Loghry (Demand Chain)
  @Last Modified On   : 5/16/2019, 10:33:53 AM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    4/29/2019, 3:05:35 PM   James Loghry (Demand Chain)     Initial Version
-->
<template>
    <template if:true={displaySelectedItemIfNotBlank}>
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="combobox-id-5">{label}</label>
            <div class="slds-form-element__control">
                <div class="slds-combobox_container slds-has-selection">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
                            <!--<template if:true={item.isAvailable}>
                                <lightning-icon icon-name={itemIcon}
                                    class="slds-icon_container slds-icon-action-close slds-combobox__input-entity-icon" size="small">
                                </lightning-icon>
                            </template>-->
                            <lightning-icon icon-name={itemIcon} class="slds-icon_container slds-icon-standard-account slds-combobox__input-entity-icon" size="small"></lightning-icon>
                            <input class="slds-input slds-combobox__input slds-combobox__input-value" autocomplete="off" role="textbox" type="text" placeholder="Select an Option" readonly="" value={selectedItem.label}></input>
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Remove selected option" onclick={handleDisplaySearch}>
                                <lightning-button-icon icon-name="utility:close" variant="bare"></lightning-button-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template if:false={displaySelectedItemIfNotBlank}>
        <slot></slot>
        <template if:true={displayItems}>
            <div class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <template for:each={items} for:item="item">
                        <li role="presentation" class="slds-listbox__item" data-value={item.value} data-name={item.label} key={item.value} onmousedown={handleItemClick}>
                            <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                <!--<span class="slds-media__figure slds-listbox__option-icon">
                                    <template if:true={item.isAvailable}>
                                        <span class="slds-media__figure slds-listbox__option-icon">
                                            <lightning-icon class="slds-icon_container slds-icon-action-close slds-combobox__input-entity-icon" size="small">
                                            </lightning-icon>
                                        </span>
                                    </template>
                                </span>-->
                                <span class="slds-media__figure slds-listbox__option-icon">
                                    <!--<span class="slds-media__figure slds-listbox__option-icon">-->
                                        <lightning-icon icon-name={itemIcon} size="small"></lightning-icon>
                                    <!--</span>-->
                                </span>
                                <span class="slds-media__body">
                                    <template if:true={item.isAvailable}>
                                        <span class="slds-listbox__option-text slds-listbox__option-text_entity largelistboxfontGrey"><strong>X &nbsp; - &nbsp;</strong>{item.label}</span>
                                    </template>
                                    <template if:false={item.isAvailable}>
                                        <span class="slds-listbox__option-text slds-listbox__option-text_entity largelistboxfont">{item.label}</span>
                                    </template>
                                </span>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </template>
    </template>
</template>