.slds-scope .slds-vertical-tabs__link-vertical-tabs__link {
  background-color: green;
}
.fontsize {
  font-size: 15px;
  font-weight: bold;
}

.tabSet {
  overflow: visible !important;
}

div.slds-vertical-tabs {
  overflow: visible !important;
}
