<apex:page standardController="Business_Adjustment__c" extensions="ConsoleViewExtension" showHeader="{!showHeader}" sidebar="{!showSidebar}">
	<apex:form >
        <apex:pageBlock title="Business Adjustment Edit" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection collapsible="false" title="Information" columns="2">
                <apex:inputField value="{!Business_Adjustment__c.Order__c}" required="true"/>
                <apex:outputField value="{!Business_Adjustment__c.OwnerId}"/>
                <apex:inputField value="{!Business_Adjustment__c.Contact__c}" required="true"/>
                <apex:inputField value="{!Business_Adjustment__c.Amount__c}" required="true"/>
                <apex:outputLabel />
                <apex:PageBlockSectionItem >
					<apex:outputLabel value="Type"/>
						<apex:actionRegion >
                            <apex:inputField label="Type" value="{!Business_Adjustment__c.Type__c}" required="true"> <!-- attempting to determine when this picklist has 'AR write-off' selected -->
                                <apex:actionSupport event="onchange" reRender="ajaxrequest" />
                            </apex:inputField>
                		</apex:actionRegion>
    			</apex:PageBlockSectionItem>				
                <apex:inputField value="{!Business_Adjustment__c.Description__c}" required="true"/>
                <apex:outputPanel id="ajaxrequest">  
                    <apex:pageBlockSection rendered="{!Business_Adjustment__c.Type__c=='AR write-off'}">
                        <apex:outputLabel />
                        <apex:inputField label="I acknowledge I have received approval from the AW Shared Services Team to execute this write-off."
                                         value="{!Business_Adjustment__c.Management_Approval__c}"/>
                    </apex:pageBlockSection>
                </apex:outputPanel> 
                <apex:inputField value="{!Business_Adjustment__c.Date__c}" required="true"/>    
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="False" title="System Information">                
            	<apex:inputField value="{!Business_Adjustment__c.Store_Location__c}" required="true"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>