<apex:page standardController="Order" extensions="RMS_createServicePurchaseOrdersExtension">   

    <apex:includeScript value="{!$Resource.jquery}" />
    <apex:includeScript value="/support/console/33.0/integration.js"/>
    
    <apex:form id="page-form">
    <script>
    var j$ = jQuery.noConflict();

        //The callback function that closeTab will call once it's got the ID for its tab
        var callCloseTab= function callCloseTab(result) {
            sforce.console.closeTab(result.id);
        };

        var sitePrefix = '{!$site.Prefix}/';
        function closeTab() {
            if(sforce.console.isInConsole()) {
                sforce.console.refreshPrimaryTabById( primaryTabId, false,
                    function()
                    {
                        if ( subTabId ) sforce.console.closeTab( subTabId );
                    }
                );
                return false;
            }
            else {
                location.href= sitePrefix + '{!Order}'; 
            }

        
        };
        function openNewSubTab( subTabURL, subTabLabel )
        {
    
            //  if there's nowhere to go, and nowhere to go back to, just close this subtab
            if ( !subTabURL )
            {
                closeTab();
                return;
            }
            sforce.console.refreshPrimaryTabById( primaryTabId, false);
            sforce.console.openSubtab
            (   /*  Enclosing Primary Tab Id    */  primaryTabId,
                /*  URL for new Subtab        */  subTabURL,
                /*  Active (true = take focus)  */  true,
                /*  Label for new Subtab        */  subTabLabel,
                /*  Id of Subtab to override    */  subTabId,
                /*  Callback function          */  function( result ) { if ( !result.success ) alert( subTabLabel + ' subtab cannot be opened.' + '\n' + subTabURL ); },
                /*  Name for new Subtab      */  null
            );
        }
        function openNewPrimaryTab( subTabURL, subTabLabel )
        {
    
            //  if there's nowhere to go, and nowhere to go back to, just close this subtab
            if ( !subTabURL )
            {
                closeTab();
                return;
            }
            //  otherwise open the new subtab
            sforce.console.openPrimaryTab
            (   /*  Enclosing Primary Tab Id    */  null,
                /*  URL for new Subtab        */  subTabURL,
                /*  Active (true = take focus)  */  true,
                /*  Label for new Subtab        */  subTabLabel,
                /*  Callback function          */  function( result ) { if ( !result.success ) alert( subTabLabel + ' subtab cannot be opened.' + '\n' + subTabURL ); },
                /*  Name for new Subtab      */  null
            );
        }   
        function openSavedPO(newpoId, orderId)
        {
            var errorOccurred = '{!errorOccurred}';
            if (errorOccurred == 'false') {
                if(sforce.console.isInConsole()) {
                    if (newpoId == '') {
                        closeTab();
                    }
                    else {
                        openNewSubTab( '/' +newpoId +'?isdtp=vw', 'saving');
                    }
                }
                else {
                    if (newpoId == '') {
                        location.href= sitePrefix + orderId;
                    }
                    else {
                        location.href= sitePrefix + 'apex/RMS_viewPurchaseOrder?id=' +newpoId;
                    }
                }
            }
        }
        

    </script>
    <apex:pageMessages /> 
        <apex:actionRegion >
        <apex:inputHidden value="{!Order.Store_Location__c}" id="hiddenId"/>

        <apex:pageBlock title="Create Service Purchase Orders">
            <apex:actionStatus id="save-status"  onstop="openSavedPO('{!newpoId}', '{!orderId}');return false"/>
            <apex:pageBlockButtons location="both">
                <apex:commandButton action="{!cancel}" value="Cancel" oncomplete="closeTab();return false"/>
                <apex:commandButton action="{!save}" value="Save" status="save-status" rerender="page-form"/>
            </apex:pageBlockButtons> 
                        
            
            <apex:pageBlockSection title="Select Service Products" columns="1" collapsible="false">
                <apex:outputText ><b>Instructions:</b> Select each product that needs to be ordered (only one charge per product).</apex:outputText>
                <apex:pageBlockTable value="{!chargesWrapperList}" var="wrapper" border="1">                                
                    <apex:column headerValue="Select" width="50px;" style="vertical-align: initial; border-bottom: 2px solid #ccc;" colspan="1">
                        <apex:inputCheckBox value="{!wrapper.isSelected}" disabled="{!wrapper.isDisabled}"/>
                    </apex:column>
                    <apex:column headerValue="Product" style="vertical-align: initial;border-bottom: 2px solid #ccc;">                                
                        <apex:outputText value="{!wrapper.charge.Service_Product__r.Product_Name__c}"/>
                    </apex:column>
                      <apex:column headerValue="Installed Product" style="border-bottom: 2px solid #ccc;">
                        <apex:outputText value="{!wrapper.charge.Installed_Product__c}"/>
                    </apex:column>
                    <apex:column headerValue="Variant" style="border-bottom: 2px solid #ccc;">                                       
                        <apex:outputText value="{!wrapper.charge.Variant_Number__c}"/>
                    </apex:column>
                    <apex:column headerValue="Responsibility" style="border-bottom: 2px solid #ccc;">
                        <apex:outputText value="{!wrapper.charge.Charge_Cost_To__c}"/>
                    </apex:column>
                    <apex:column headerValue="Source of Defect" style="border-bottom: 2px solid #ccc;">
                        <apex:outputText value="{!wrapper.charge.Category__c}"/>
                    </apex:column> 
                    <apex:column headerValue="Defect" style="border-bottom: 2px solid #ccc;">
                        <apex:outputText value="{!wrapper.charge.What_Where__c}"/>
                    </apex:column> 

                </apex:pageBlockTable>
            </apex:pageBlockSection>
            
        </apex:pageBlock>
        </apex:actionRegion>
    </apex:form> 
    <script type="text/javascript">
        var j$ = jQuery.noConflict();

        var primaryTabId = null;
        var subTabId = null;
        var previousOnload  = window.onload;

        window.onload = function()
        {
        
            //  perform the previously registered 'onload' function, if any
            if ( previousOnload ) previousOnload();

            //  get the id's of both the primary tab and this subtab
            sforce.console.getEnclosingPrimaryTabId ( function( result ) { primaryTabId = result.id; } );
            sforce.console.getEnclosingTabId        ( function( result ) { subTabId  = result.id; } );

            //  set the title of this subtab
            sforce.console.setTabTitle( 'New Service POs' );

        };

        function setFocusOnLoad() {
            // Do nothing. This keeps standard Salesforce from giving focus to the first
            // field so that the calendar widget won't pop up.
        }

    </script>  
</apex:page>