<apex:page standardController="Order" showHeader="false" sidebar="false" extensions="RMS_ServiceOrderExtensionMgr">   
    <apex:pageMessages />
    <apex:includeScript value="/soap/ajax/26.0/connection.js"/>
    <apex:includeScript value="/support/console/26.0/integration.js"/>
    <apex:includeScript value="{!$Resource.jquery}" />
    
    <script type="text/javascript">
    if(window.onload != null){var oldOnLoad = window.onload;}
    window.onload = function() {
        if(oldOnLoad!=null){oldOnLoad();}
        testOpenSubtab();
        collapseSections();
        
    };
    
    
    function testOpenSubtab() {
        //First find the ID of the primary tab to put the new subtab in
        sforce.console.getEnclosingPrimaryTabId(openSubtab);
    };
    
    var openSubtab = function openSubtab(result) {
        var primaryTabId = result.id;
        sforce.console.setTabTitle('Service Request {!Order.OrderNumber}');
    }; 
    
    function callGenerateConsoleURL(urlPart, theTabName) {
        if(sforce.console.isInConsole()) {
            tabName = theTabName;
            var orderURL = '/'+'{!Order.Id}';
            sforce.console.generateConsoleUrl([orderURL, urlPart], callOpenConsoleUrl); 
        }else{
            top.location.href = '{!baseUrl}'+urlPart;
            
        }       
    }
    
    </script>
    <apex:form id="theForm">
        <apex:pageBlock title="Service Request">
            <apex:pageBlockButtons location="both">
                <apex:commandbutton action="{!cancelUpdate}" value="Cancel"/>
                <apex:commandButton action="{!saveST}" value="Save"/>                
            </apex:pageBlockButtons> 
            
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Service Type</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput">
                        <apex:outputPanel layout="block" styleClass="requiredBlock" />
                        <apex:selectList required="true" title="PickList1" size="1" value="{!propPickValSelected2}" style="width: 150px;">
                            <apex:selectOptions value="{!PickLstValue2}"/>
                            <apex:actionSupport event="onchange" rerender="out1" />
                        </apex:selectList> 
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection id="out1" columns="1">
                <apex:pageBlockSectionItem rendered="{!IF(propPickValSelected2 != 'Save', false , true)}">
                    <apex:outputLabel value="Primary Save Reason" for="saveReason"></apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput">
                        <apex:outputPanel layout="block" styleClass="requiredBlock" />
                        <apex:inputField value="{!Order.Save_Reason__c}" id="saveReason" style="width: 200px;"/> 
                    </apex:outputPanel>                   
                </apex:pageBlockSectionItem>
                <apex:pageblockSectionItem ></apex:pageblockSectionItem>
                <apex:pageBlockSectionItem rendered="{!IF(propPickValSelected2 != 'Save', false , true)}">
                    <apex:outputLabel value="Secondary Save Reason" for="saveReason2"></apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput">
                        <apex:outputPanel layout="block" styleClass="requiredBlock" />
                        <apex:inputField value="{!Order.Secondary_Save_Reason__c}" id="saveReason2" style="width: 250px;"/>
                    </apex:outputPanel>        
                </apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!IF(propPickValSelected2 == 'Service', true , false)}"> <!-- RF-842 -->
                    <apex:outputLabel value="Sold Order"></apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput">
                        <apex:outputPanel layout="block" styleClass="requiredBlock" />
                        <apex:inputField value="{!Order.Sold_Order__c}" id="saveReason3" style="width: 200px;"/>
                    </apex:outputPanel>        
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            
        </apex:pageBlock>
    </apex:form>   
</apex:page>