<apex:page standardController="Asset" extensions="RMS_createServiceRequestAssetManager" showHeader="false" sidebar="false">   
    <apex:pageMessages />
    <apex:includeScript value="/soap/ajax/26.0/connection.js"/>
    <apex:includeScript value="/support/console/26.0/integration.js"/>
    
    <script type="text/javascript">
    if(window.onload != null){var oldOnLoad = window.onload;}
    window.onload = function() {
        if(oldOnLoad!=null){oldOnLoad();}
        testOpenSubtab();
        hideSection();
        setStatus();
        setName();
    };
    
    
    
    function testOpenSubtab() {
        //First find the ID of the primary tab to put the new subtab in
        sforce.console.getEnclosingPrimaryTabId(openSubtab);
    };
    
    var openSubtab = function openSubtab(result) {
        var primaryTabId = result.id;
        sforce.console.setTabTitle('Create Asset');
    };
    
    function hideSection() {
        document.getElementById("j_id0:theForm:hideSection").style.display = 'none';
    };
    
    
    function setStatus() {
        // document.getElementById('{!$Component.theForm}').elements['j_id0:theForm:hideSection:j_id31:hiddenField1'].value = 'Ready to Order';
        document.getElementById('hiddenField1').value = 'Ready to Order';
        console.log(document.getElementById('hiddenField1').value);
    };
    
    function setName() {
        // document.getElementById('{!$Component.theForm}').elements['j_id0:theForm:hideSection:j_id31:hiddenField1'].value = 'Ready to Order';
        document.getElementById('hiddenField2').value = 'New Asset';
        console.log(document.getElementById('hiddenField2').value);
    };
    
    
    function  getAccountId()
    {
        return document.getElementById( 'aid' ).innerHTML;
    }
    
    function  getSLId()
    {
        return document.getElementById( 'slid' ).innerHTML;
    }
    
    window.setTimeout(autosave,1000);
    function autosave()
    {         
      saveAsset();
    }    
    
    </script>
    <p style="text-align: center; margin-top: 100px; margin-bottom: 500px;">
        <apex:image id="theImage" value="{!$Resource.LoadingPage}" width="140"/>
    </p>
    <apex:form id="theForm">    
        <apex:pageBlock title="Asset" id="hideSection">              
            <apex:pageBlockSection columns="1" collapsible="true">               
                <apex:inputField value="{!Asset.Accountid}" />
                <apex:inputField value="{!Asset.Store_Location__c}" /> 
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:actionFunction name="saveAsset" action="{!saveAsset}"/>
        <div id='hiddenField1'>{!Asset.Status}</div>
        <div id='hiddenField2'>{!Asset.Name}</div>
        <div id="aid" style="display:none;">{!aid}</div>
        <div id="slid" style="display:none;">{!slid}</div>
    </apex:form>   
</apex:page>