<!--
  @Page Name          : SalesSchedCapacityCalendar.page
  @Description        : 
  @Author             : James Loghry (Demand Chain)
  @Group              : 
  @Last Modified By   : James Loghry (Demand Chain)
  @Last Modified On   : 5/8/2019, 10:47:53 AM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    5/8/2019, 10:47:53 AM   James Loghry (Demand Chain)     Initial Version
-->
<apex:page >
    <apex:includeLightning />
    <div id="CalendarContainer" />
    <script>
 		$Lightning.use("c:GenericLightningOutApp", function() {
 			$Lightning.createComponent(
                "c:SalesSchedCapacityCalendarWrapper",
 				{},
 				"CalendarContainer",
 				function(cmp) {
				}
            );
 		});
	</script>
</apex:page>