<!--
  @Component Name     : salesSchedAssignColumn.html
  @Description        : 
  @Author             : James Loghry (Demand Chain)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 7/15/2019, 10:06:09 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0.0    5/7/2019, 7:25:10 PM   James Loghry (Demand Chain)     Initial Version
-->
<template>
  <div class="customContainerDiv">
    <template if:true={doubleBooking}>
      <template if:true={unConfirmendAppts}>
        <button style="width: 100%; border-color: red; border-width: 2px" class={css} onclick={showAppointment}> DBL</button>
    </template>
    <template if:false={unConfirmendAppts}>
      <button style="width: 100%" class={css} onclick={showAppointment}>
        DBL
      </button>
    </template>
    </template>
    <template if:false={doubleBooking}>
          <template if:true={unConfirmendAppts}>
              <button style="width: 100%; border-color: red; border-width: 2px" class={css} onclick={showAppointment}>{buttonLabel}</button>
          </template>
          <template if:false={unConfirmendAppts}>
            <button style="width: 100%" class={css} onclick={showAppointment}>{buttonLabel}
                <template if:true={status}>
                  <lightning-icon icon-name="utility:check" size="xx-small"></lightning-icon>
                </template>
              <template if:true={stat}>
                R
              </template>
        </button>
      </template>
    </template>
  </div>
</template>