.THIS {
}
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
}
.THIS .slds-form-element__label{
    font-size: 1.10rem !important;
    font-weight:bold;
}
.THIS .buttonRBAForm {
    background-color:#F27235;
    border:0;
    color:white;
    height:40px;
    width:300px;
    font-weight:bold;
    font-size:100%;
}
.THIS .textWidth {
    width: 90%;
    max-width: 100%;
}
.THIS .otherTextWidth {
    width: 40%;
    max-width: 100%;
}
.THIS .changeBackgroundColorToGrey {
    background-color:rgb(234, 234, 234);
}
.THIS .changeBackgroundColorToWhite {
    background-color:white;
}
.THIS .button {
    /*-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;*/
    background-color:#F27235;
    border:0;
    color:white;
    height:30px;
    width:250px;
}
.THIS .contactUsLinkColor {
    color:white;
}