.THIS .border {
    Position: absolute;
	    border-radius: 0.85rem;
    Bottom: 25px;
}
.THIS .image1{
    padding-top: 60px;
    height: 30%;
    width : 100px;
    
    margin: 0px 0px 80px 90px;
    
      
       }