<template>

	<div class="slds-page-header">
	  <div class="slds-page-header__row">
		<div class="slds-page-header__col-title">
		  <div class="slds-media">
			<div class="slds-media__figure">
                <lightning-icon icon-name="standard:work_order" size="medium" variant="slds-icon-inverse"></lightning-icon>
			</div>
			<div class="slds-media__body">
			  <div class="slds-page-header__name">
				<div class="slds-page-header__name-title">
				  <h1>
                    <span class="slds-page-header__title slds-truncate" title="Tech Schedule">Tech Schedule </span>                  
				  </h1>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>	
    </div>
    
    <lightning-layout>
        <div class="page">
            <div class="tbs">
                <div class="slds-var-m-bottom_small slds-page-header">
                    <lightning-layout horizontal-align="spread">
                        <lightning-layout-item>
                            <div class="slds-media">
                                <div class="slds-media__figure">
                                    <lightning-icon icon-name="action:new_event" size="small" variant="slds-icon-inverse"></lightning-icon>
                                </div>
                                <div class="slds-media__body">
                                    <div style="font-size: 0.8125rem;"><b>To be Scheduled</b></div>
                                    <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                                </div>
                                <div class="slds-media__figure slds-media__figure_reverse"></div>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                    <lightning-layout horizontal-align="spread" vertical-align="center">
                        <lightning-layout-item>

                        </lightning-layout-item>
                        <lightning-layout-item>
                            <lightning-layout>
                                <lightning-layout-item>
                                    <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSeachKeySerWOScheduledComp}></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item>
                                    <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchSerWOscheduledComp}> 
                                        <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                    </lightning-button-group>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                    </lightning-layout>
                    
                    <lightning-datatable
                        data={toBeScheduledWOList}
                        columns={ToBeScheduledWorkOrderColumns}
                        key-field="id" 
                        hide-checkbox-column = "false"            
                    >
                    <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                    </lightning-datatable>
                </div>
            
            </div>

            <div class="to">
                <div class="slds-var-m-bottom_small slds-page-header">
                        <lightning-layout horizontal-align="spread">
                            <lightning-layout-item>
                                <div class="slds-media">
                                    <div class="slds-media__figure">
                                        <lightning-icon icon-name="action:reject" size="small" variant="slds-icon-inverse"></lightning-icon>
                                    </div>
                                    <div class="slds-media__body">
                                        <div style="font-size: 0.8125rem;"><b>Opportunities</b></div>
                                        <div class="slds-page-header__title slds-text-heading_small">Today's Opportunities</div>
                                    </div>
                                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                                </div>
                            </lightning-layout-item>
                            <lightning-layout-item></lightning-layout-item>
                        </lightning-layout>
                        <lightning-layout horizontal-align="spread" vertical-align="center">
                            <lightning-layout-item>
            
                            </lightning-layout-item>
                            <lightning-layout-item>
                                <lightning-layout>
                                    <lightning-layout-item>
                                        <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSeachKeySerOppComp}></lightning-input>
                                    </lightning-layout-item>
                                    <lightning-layout-item>
                                        <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchSerOppComp} >
                                            <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                        </lightning-button-group>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                        </lightning-layout>
                            <lightning-datatable
                            key-field="id"
                            data={opportunityList}
                            columns={opportunityColumns}
                            hide-checkbox-column = "false"
                            >
                            <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                
                            </lightning-datatable>
                    </div>        
                </div> 

                <div class="s">
                <div class="slds-var-m-bottom_small slds-page-header">
                    <lightning-layout vertical-align="spread">
                        <lightning-layout-item>
                            <div class="slds-media">
                                <div class="slds-media__figure">
                                    <lightning-icon icon-name="action:new_event" size="small" variant="slds-icon-inverse"></lightning-icon>
                                </div>
                                <div class="slds-media__body">
                                    <div style="font-size: 0.8125rem;"><b>Scheduled</b></div>
                                    <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                                </div>
                                <div class="slds-media__figure slds-media__figure_reverse"></div>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                    <lightning-layout horizontal-align="spread" vertical-align="center">
                        <lightning-layout-item>

                        </lightning-layout-item>
                        <lightning-layout-item>
                            <lightning-layout>
                                <lightning-layout-item>
                                    <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSeachKeySerWOAssignedComp}></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item>
                                    <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchSerWOAssignedComp}> 
                                        <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                    </lightning-button-group>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                    </lightning-layout>
                    
                <lightning-datatable
                        data={assignedWOList}
                        columns={AssignedWorkOrderColumns}
                        key-field="id"
                        hide-checkbox-column = "false"            
                    >
                    <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                    </lightning-datatable> 
                </div> 
                
            </div>
        </div>
    </lightning-layout> 
    
</template>