<template>
  <div if:true={asset}>
    <div if:false={sectionOpen} style="margin-bottom: 10px">
      <div
        class="slds-page-header slds-page-header_object-home slds-text-heading_small"
        id={asset.assetName}
        onclick={openSelection}
      >
        <div class="slds-grid slds-gutters">
          <div class="slds-col slds-size_10-of-12">
            <div style="display: inline-flex">
              <div
                style="font-size: 40px; margin-top: -15px; margin-bottom: -20px"
              >
                +
              </div>

              <div
                style="
                  margin-top: 5px;
                  font-size: 15px;
                  margin-left: 30px;
                  display: inline-flex;
                "
              >
                <a href={asset.assetUrl} target="_blank"
                  >{asset.displayName}
                </a>
                <div
                  if:true={asset.isChecked}
                  style="margin-left: 30px; margin-top: -5px"
                >
                  <lightning-icon
                    icon-name="utility:check"
                    alternative-text="Approved"
                    title="Approved"
                  ></lightning-icon>
                  <div if:false={productSelectedHere}></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div if:true={sectionOpen}>
      <div
        class="slds-page-header slds-page-header_object-home slds-text-heading_small"
        id={asset.assetName}
        onclick={closeSelection}
      >
        <div class="slds-grid slds-gutters">
          <div class="slds-col slds-size_10-of-12">
            <div style="display: inline-flex">
              <div
                style="font-size: 60px; margin-top: -25px; margin-bottom: -35px"
              >
                -
              </div>
              <div
                style="
                  margin-top: 7px;
                  font-size: 15px;
                  margin-left: 30px;
                  display: inline-flex;
                "
              >
                <a href={asset.assetUrl} target="_blank"
                  >{asset.displayName}
                </a>
                <div
                  if:true={asset.isChecked}
                  style="margin-left: 30px; margin-top: -5px"
                >
                  <lightning-icon
                    icon-name="utility:check"
                    alternative-text="Approved"
                    title="Approved"
                  ></lightning-icon>
                </div>
                <div if:false={asset.isChecked}></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="slds-page-header slds-text-color_error" if:true={isError}>
        <lightning-icon
          icon-name="utility:error"
          variant="error"
          alternative-text="error"
          size="x-small"
          class="slds-var-p-around_x-small"
        ></lightning-icon>
        Please populate all the required fields.
      </div>

      <!--This is where the table of service products will be-->
      <div
        class="slds-grid slds-gutters"
        style="width: 100%; margin-left: 10px"
      >
        <div class="slds-col slds-size_1-of-12" style="width: 5%">
          <div class="slds-truncate" title="Select"><b>Select</b></div>
        </div>
        <div class="slds-col slds-size_2-of-12" style="width: 15%">
          <div class="slds-truncate" title="Product"><b>Product</b></div>
        </div>
        <div class="slds-col slds-size_1-of-12" style="width: 15%">
          <div class="slds-truncate" title="Product">
            <b>MTO Source Code</b>
          </div>
        </div>
        <div class="slds-col slds-size_2-of-12" style="width: 13%">
          <div class="slds-truncate" title="Manufacturing">
            <b>Responsibilty</b>
          </div>
        </div>

        <div class="slds-col slds-size_2-of-12" style="width: 15%">
          <div class="slds-truncate" title="Defect Code">
            <b>Defect Code</b>
          </div>
        </div>
        <div class="slds-col slds-size_1-of-12" style="width: 11%">
          <div class="slds-truncate" title="Source Of Defects">
            <b>Source of Defects</b>
          </div>
        </div>
        <div class="slds-col slds-size_1-of-12" style="width: 10%">
          <div class="slds-truncate" title="Defect Details">
            <b>Defect Details</b>
          </div>
        </div>
        <div class="slds-col slds-size_1-of-12" style="width: 8%">
          <div class="slds-truncate" title="Notes"><b>Notes</b></div>
        </div>
        <div class="slds-col slds-size_1-of-12" style="width: 8%">
          <div class="slds-truncate" title="Notes"><b>Apply to All</b></div>
        </div>
      </div>

      <template for:each={asset.serviceProducts} for:item="serviceProduct">
        <div style="margin-left: 30px" key={serviceProduct}>
          <c-create-service-product-list-child-child
            service-product={serviceProduct}
            asset={asset}
            mto-door-options={mtoDoorOptions}
            mto-window-options={mtoWindowOptions}
            groups={groups}
            onsetselectedvalue={setSelectedValue}
            onhandlemtochange={handleMTOChange}
            onhandlechange={handleChange}
            onsetchargecostto={setChargeCostTo}
            onsetcategory={setCategory}
            onsetwhatwhere={setWhatWhere}
            onhandleaddnotesclick={handleAddNotesClick}
            onhandleaddnotescloseclick={handleAddNotesCloseClick}
            onproductischecked={addCheckedProduct}
            onproductisunchecked={removeCheckedProduct}
            onapplytoallproducts={applyToAllProducts}
          >
          </c-create-service-product-list-child-child>
        </div>
      </template>
    </div>
  </div>
</template>
