<template>
    <template if:true={typeAttributes.buttonLabel}>
        <c-sales-sched-assign-column
            data-navigation="enable"
            row-id={value}
            button-class={typeAttributes.buttonClass}
            button-label={typeAttributes.buttonLabel}
            appointment-slot={typeAttributes.appointmentSlot}
            appointment-id={typeAttributes.appointmentId}
            rep-id={typeAttributes.repId}
            apt-status ={typeAttributes.aptStatus}
            sales-cap-count ={typeAttributes.salesCapCount}>
        </c-sales-sched-assign-column>
    </template>
</template>