.THIS .primaryButton{
    background:#F27235;
    border-color:#F27235 !important;
    padding-top:5px;
    padding-bottom:5px;
   /* margin-left:35px;*/
    color: white;
    
}

.THIS .section-header{
     margin-left:80px;
}
.THIS .section-text{
     padding-bottom:20px;
    
}
.THIS .secondaryButton{
    border-color:#EF9626 !important;
    padding-top:5px;
    padding-bottom:5px;
   
    color: #EF9626 !important;
}
.THIS .secondaryButton:hover{
    border-color:#EF9626 !important;
    padding-top:5px;
    padding-bottom:5px;
    background:#a2b68a;
    color:white !important;
}
.THIS .imgsizer {    
  width: 150px;
	border-radius: 50%;  
}
.THIS .section {    
    border-radius:4px;
    
}
.THIS .inputWhite{
   background-color: white; 
}

.THIS .slds-size_11-of-12 {
    width: 89.5%;
}

.THIS .Bottompadding{
    padding-bottom:32px;
}

.THIS .MarginTop{
    margin-bottom: 3.58px;
}