.THIS .workerIcon {
    width:150px;  height:150px; border-radius: 5%; border:2px solid rgba(168, 182, 138, 0.88);	
}

.THIS .workerName {
    margin-top:10px; font-size:18px; font-weight:bold;
}
.THIS .workerDesg {
    font-size:16px;
}

.THIS .emailIcon, .THIS .phoneIcon{
     Position: absolutecenter;
    cursor:pointer;
}
/*.THIS .mobileIcon {
    Position: absolute;
    align-content: center !important;
    left: 415px !important;
    top: 850px !important;
}*/
/*.THIS .actionBox{max-width:25rem!important;} 
*/
.THIS .actionBox{max-width:23em!important;}

.THIS .concierge {
   position: absolute;
   left: 400em;
   }
.THIS .email{
    position: absolute;
   left: 430px;
    
   }