.THIS.slds-truncate{display:block}.THIS a{font-size:1.35rem;color:#000}.THIS a:hover{text-decoration:none;border-bottom:.2rem solid #000}.THIS a:after{font-size:1.35rem;padding-left:.5rem;content:'\00bb';color:#f0a42a}