<template>
    
    <div class="slds-text-body_regular slds-var-m-around_small slds-align_absolute-center" style="height: 50px">

        <template if:true={isEligible}>
            <lightning-combobox class="slds-size_1-of-1"
                                label="Work Order Type"
                                options={workOrderRecordTypeList}
                                value={selectedWorkOrderRecordTypeId}
                                onchange={handleWorkOrderRecordTypeChange}>
            </lightning-combobox>
        </template>

        <template if:false={isEligible}>
            {displayText}
        </template>

    </div>

</template>