<!--
  @Component Name     : addNewOrderProductButton.html
  @Description        : 
  @Author             : mark.rothermal@andersencorp.com
  @Group              : 
  @Last Modified By   : mark.rothermal@andersencorp.com
  @Last Modified On   : 6/6/2019, 3:02:22 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    6/6/2019, 3:02:22 PM   mark.rothermal@andersencorp.com     Initial Version
-->
<template>
    <lightning-button variant="Neutral"
					  label="Add Product"
					  class="slds-m-left_x-small slds-button_stateful"
					  onclick={addProduct}>
    </lightning-button> 
</template>