<template>

    <div class="slds-page-header">
        <div class="slds-page-header__row">
          <div class="slds-page-header__col-title">
            <div class="slds-media">
              <div class="slds-media__figure">
                  <lightning-icon icon-name="standard:case" size="medium" variant="slds-icon-inverse"></lightning-icon>
              </div>
              <div class="slds-media__body">
                <div class="slds-page-header__name">
                  <div class="slds-page-header__name-title">
                    <h1>
                      <span class="slds-page-header__title slds-truncate" title="My Support Cases">My Support Cases</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button">
            <button type="button" class="innerButton">Submit A New Case</button>
        </div>
        </div>
      </div>

      <lightning-layout>
        <div class = "page">
        <div class = "msc">
            <div class="slds-m-bottom_small slds-page-header">
                <lightning-layout horizontal-align="spread">
                    <lightning-layout-item>
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="standard:case" size="small" variant="slds-icon-inverse"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div style="font-size: 0.8125rem;"><b>My Cases</b></div>
                                <div class="slds-page-header__title slds-text-heading_small"></div>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse"></div>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-layout horizontal-align="spread" vertical-align="center">
                    <lightning-layout-item>
                        <ul class="slds-list_horizontal slds-has-dividers_left">
                            <li class="slds-item">
                                <div style="font-size: 0.8125rem;">{mscDataLength} {mscDataLengthWord}</div>
                            </li>
                            <li class="slds-item">
                                <div style="font-size: 0.8125rem;">Updated recently</div>
                            </li>
                        </ul>
                    </lightning-layout-item>
                    <lightning-layout-item>
                        <lightning-layout>
                            <lightning-layout-item>
                                <lightning-input class="slds-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSearchKeyMySupportCases}></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item>
                                <lightning-button-group class="slds-m-left_xxx-small" onclick={handleSearchMySupportCases}> 
                                    <lightning-button-icon class="slds-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                </lightning-button-group>
                            </lightning-layout-item>
                        </lightning-layout>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-datatable
                            key-field="id"
                            data={listMySupportCases}
                            columns={MySupportCasesColumns}
                            sorted-direction={sortedDirection}
                            sorted-by={sortedBy}
                            onsort={mySupportCasesUpdateColumnSorting}
                            hide-checkbox-column = "false"
                            
                            >
                            <lightning-avatar alternative-text="" fallback-icon-name="standard:case" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                   
                    </lightning-datatable>
            </div>
            </div>
            </div>
        </lightning-layout>
    
</template>